 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
<div class="catog">
  <div class="bgshostel">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 bghostels">
      
                
                  <h2 class="cnames"> {{clientsDetails.instName}} </h2>    
                  <div class="col-sm-12 bgimg">
                      <img src="{{clientsDetails.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                  
                  </div>
      
      <h4> over all view </h4>
      <ul class="overllview">
         
          <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> About Us </span> 
               
              </a> 
          </li>
          <li class="fontsize"> <a href="#iamges" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> Images </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Timings </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Plants </span> 
                   
                 </a> 
             </li>
            
            
             <li class="fontsize"> <a href="#address" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Address</span> 
                 
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Contact Informations</span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#com" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Leave Comments</span> 
                 
                 </a> 
             </li>
          </ul>
          
          <hr/>
         
          </div>
          </div>
          </div>
          </div>

          <!-- *********************about us*********************** -->
   <div class="bgimgses">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mains">

            
<div class="col-md-12">
<img src="{{clientsDetails.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
  
<hr/>
</div>
</div>
<div class="col-sm-6 mains">

    
<div class="col-md-12">
    <p class="aboutus"> About Us  </p>
    <p class="aboutuso">  {{clientsDetails.aboutUseDes1}}</p>
    <p class="aboutust"> {{clientsDetails.aboutUseDes2}} </p>
<hr/>
<h3 class="aboutusts"> <b> {{clientsDetails.name}} </b></h3>
<hr/>
</div>
</div>
    </div>
  </div>
</div>
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                  <div class="col-sm-12 timings">
                      <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
  <ul>
    <li class="nones"> {{clientsDetails.day1}} </li>
    <li class="nones"> {{clientsDetails.day2}} </li>
    <li class="nones"> {{clientsDetails.day3}} </li>
    <li class="nones"> {{clientsDetails.day4}} </li>
    <li class="nones"> {{clientsDetails.day5}} </li>
    <li class="nones"> {{clientsDetails.day6}} </li>
    <li class="nones"> {{clientsDetails.day7}} </li>
    <li class="nones"> Hours of Operations : <span class="timing"> {{clientsDetails.allTimes}} </span> </li>
  </ul>
  <hr/>
                  </div>
                
                    <hr/>
                    <div class="col-sm-12 e addes">

                        <h4 class="ads"> Address </h4> 
                        <hr/>
                        <div class="col-sm-12 cons addresscap">
                           H No:{{clientsDetails.houseNo}} , {{clientsDetails.subArea}},{{clientsDetails.landmark}},{{clientsDetails.city}}
                           {{clientsDetails.distict}},
                            {{clientsDetails.state}},
                            {{clientsDetails.pincode}}
                      </div>
        
                    </div>
                 
                    <div class="col-sm-12 e addes">
                        <h4 class="ads"> Contact informations </h4> 
                        <hr/>
                        <div class="col-sm-12 cons">
  <p>  
      <span class="glyphicon glyphicon-phone-alt"> office no: {{clientsDetails.officeNo}} 
      
  </span>
   </p>
                              <br>
    <p> 
         <span class="glyphicon glyphicon-earphone">
               Mobile No: {{clientsDetails.mobileNo}} 
        </span></p>
                                <br>
            <p> <i class="fa fa-whatsapp" aria-hidden="true">
                 whatsapp No: {{clientsDetails.whatsupno}} </i></p>
                                                          <br>
                           <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{clientsDetails.emailId}} </i>
                             
                            </p> 
                              <br>
                              
                        </div>
  
                      </div>
                  </div>
  <div class="col-sm-9 divb">
     <div class="col-sm-12 carouseldiv">
       <h2> Our Team Members </h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
      
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{clientsDetails.images3}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                </div>
          
                <div class="item">
                  <img src="{{clientsDetails.images4}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                </div>
              
                <div class="item">
                  <img src="{{clientsDetails.images5}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                </div>
                <div class="item">
                  <img src="{{clientsDetails.images6}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                </div>
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
          <h4><b> Our Team Works : </b><span class="teams"> {{clientsDetails.ourTeam}} </span></h4>
          <h4><b> Team Members Names : </b> <span class="teams">    {{clientsDetails.teamMembersNames}} </span></h4>
          <h4><b> Team Descriptions : </b> <span class="teams">  {{clientsDetails.teamDescriptions}} </span></h4>
     </div>
    
      

  </div>
</div>
   <!-- ********************* end main ***************************** pending 1 div -->
<div class="col-sm-12">
   
  <h2 class="text-center"> Our Services </h2>
 <h4><b>  </b><span class="teams"> {{clientsDetails.servicesDescriptionsOne}} </span></h4>
 <p><b>  </b><span class="teams"> {{clientsDetails.servicesDescriptionsOne}} </span></p>

</div>

<div class="col-sm-12">
  <div class="col-sm-4">
      <div class="col-sm-12">
          <h4> Our Services Names ({{servicesOneGetc}})</h4>
          <ol *ngFor="let vec of servicesOneGet">
            <li class="tt"> <b> {{vec.typeOfFiewWorks}} </b> </li>
          </ol>
        </div>
  </div>
 

      <div class="col-sm-12" *ngFor="let vec of servicesOneGet">
                    
          <div class="col-sm-4 divservies" (click)="ServicesOneClick(vec)">
             <h4> {{vec.typeOfFiewWorks}} </h4>
           <img src="{{vec.FiewWorksImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
          
           <p> {{vec.FiewWorksDescriptions}} </p>

          </div>

          <div class="col-sm-7" *ngIf="servicesIds == vec._id">
           
           
<div class="col-sm-12 alldivbacks" *ngIf="servicesIds == vec._id">
<h3> View Fire Works Details For <span class="serNames"> {{servicevehicleName}} ({{serviceTwoGetc}}) </span></h3>
<div class="col-sm-12">
<ul *ngFor="let fire of fireWorksDetails">
<li> {{fire.nameOfFireWorks}} </li>
</ul>
</div>
<!-- <div class="col-sm-12" (click)="viewCustomersClick(fire)"> -->
  <div class="col-sm-12">
<div class="col-sm-6 fireworksdiv" *ngFor="let fire of fireWorksDetails">
    <h4 class="tt"><b> {{fire.nameOfFireWorks}} </b>  </h4>
  <img src="{{fire.fireWorksImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
<div class="col-sm-12">
<h4><b>   Descriptions :</b> {{fire.fireWorksDescriptions}} </h4>
<h4><b>  Price : </b> {{fire.fireWorksPrice}} </h4>

</div>
</div>
 
<!-- <div class="col-sm-6" *ngIf="fireWorksDetailsId == fire._id">
<h3> Our Customers   ({{cusotmersgetDetailsc}})</h3>
<div class="col-sm-12 fireworksdivs" *ngFor="let cus of cusotmersgetDetails">
<img src="{{cus.customersImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
<h4><b> Name: </b> {{cus.customerName}} </h4>
<h4><b> Place: </b> {{cus.place}} </h4>
<div class="col-sm-12">
 <img src="{{cus.itemsImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
 <h4><b> Items Descriptions: </b> {{cus.itemsDescriptions}} </h4>

</div>
</div>
</div> -->
</div>
</div>
</div>
</div>
</div>

  <!-- ******************* UPDATES PRESENT ********************************* -->
  
  <div class="col-sm-8 col-sm-offset-3 clearfix">
      <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
        <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
          <div class="col-sm-12">
              <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                <a> 
                    <img src="{{up.images}}" alt="about us" style="width:100%"></a>
          </div>
    
    
          <div class="col-sm-12 viedoes">
              <video width="100%" height="400px" controls>
                  <source src="{{up.viedoes}}" type="video/mp4">
                 </video>
            </div>
        
            <div class="col-sm-12">
                <h3> {{up.title}} </h3>
                <h6> {{up.description}} </h6>
             </div>
    
             <!-- <div class="col-sm-3" (click)="shareClick(up)">
                    <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                      share </p>
                 </div> -->
                <div class="col-sm-3" (click)="commentsClick(up)">
                    <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                      <span class=""> comments </span> 
                   </p>
            </div>
            <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                <div class="col-sm-1">
                    <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                </a>
            </div>
                
                  <div class="col-sm-1">
                          <a href="https://www.whatsapp.com/" target="_blank">
                      <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                          </a>
                </div>
                   <div class="col-sm-1">
                     <a href="https://plus.google.com/discover" target="_blank">
                     <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                   </div>
       <div class="col-sm-1"> 
           <a href="https://twitter.com/login" target="_blank">
             <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
       </div>
     <div class="col-sm-1"> 
        <a href="https://www.instagram.com/accounts/login/" target="_blank">
          <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
       </div>
            </div>
        
          <div class="col-sm-12">
              <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                  <mat-form-field class="example-full-width">
                      <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                    </mat-form-field>
                    <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
                <div class="col-sm-12">
                  <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
              </div>
            </div>
     
      <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
    <div class="col-sm-12" *ngFor="let comms of getUsersComments">
      <div class="col-sm-12 userscomm">
      <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                       <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                        <h6>  {{comms.descriptions}} </h6> 
     </div>                  
                    <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                            <a class="replyses">
                                <b class="replies lsc"> reply   </b></a>
                        </div> 
                     
    
    
        <div  class="u" *ngIf="replyfrom && replyid == comms._id">
          <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
              <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
         <img src="{{clientsDetails.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
            {{clientsDetails.name}}:</span>
           <h6> {{rep.descriptions}} </h6> 
           </div> 
           </div> 
    
          </div>
        </div>
    </div>
          </div>
        </div>
             
                   <!-- **************************************************** -->
              
      <!-- **************** com ************* -->
          
     <div class="container-fluid">
        <div class="row">
                <div class="col-sm-8 col-sm-offset-2 comments">
                  <h4 class="aboutu"> Leave your comments </h4> 
                  <hr/>  
                    <div class="col-sm-10 col-sm-offset-2">
                      <form class="example-form">
                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name" [(ngModel)]="commentspost.name" name="comments">
                          </mat-form-field>
                          </div>
    
                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Email Id" [(ngModel)]="commentspost.email" name="email">
                            </mat-form-field>
                            </div>
    
                            <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Contact No" [(ngModel)]="commentspost.contactNo" name="contact">
                              </mat-form-field>
                              </div>
    
                              <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="Leave a comment" [(ngModel)]="commentspost.leaveComment" name="leaveComment"></textarea>
                                </mat-form-field>
                              </div>
                          </form>
                       <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
                  </div>  
    
                 </div>
              </div>
    </div> 
    


</div>

<div class="col-sm-12 footerback">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="col-sm-8">
        <!-- <div class="col-sm-4">
          <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
             <h3> About Us </h3>
         </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div> -->
        <div class="col-sm-4">
         <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
     
          <h3>  Advertises  </h3>
        </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class="col-sm-4">
        <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="homes">
     
          <h3> Feedback   </h3>
      </a>
    </div>
      </div>
     <div class="col-sm-8 catas">
        <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                Animals  
        </a>
         /  
         <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
    
             Baby Care Centers  
        </a>
         /  
         <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
    
          Beauty Parlour   </a>
          /  
          <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="homes">
     
              Yes Telangana Services Classifieds 
         </a>
          / 
         
         <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
    
            Dance   </a>
             / 
             <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
              Driving Schools  
           </a> 
           / 
             
           <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
               Fights Institutions 
           </a> 
           /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
              Fire Works  
           </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
      
               Function Halls 
          </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
      
               Furnitures  
          </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
      
             GYM  
          </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
              Hostels 
          </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
             Indoor Games  
           </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
        
              Marriage Bureaus  
          </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
    
               Music  Institutions
          </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
              Outdoor Games  
           </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
      
             Plants  
          </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
               Packers and Movers  
           </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
               Professional Insitutions  
           </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
      
             Real Estate 
          </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
    
              Restaurants  
          </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
    
       Swimming Pools  
          </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
               Tutions  Centers  
          </a>
        
     </div>
     <div class="col-sm-8 locationcs">
       <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
     </div>

     <div class="col-sm-6">
      
      <h3> Keep in touch </h3>
      <div class="col-sm-2">
        <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
</div>

<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

      </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
    </div>
  </div>