<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewProfile()"><a  class=""> 
                    <img src="{{marriageDetailsClients.images2}}" class="img-circle"  style="width:100%">  </a></li>
  
  
            
          </ul>
       <!-- <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewnoti()"><a  class=""> 
                    <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
  </ul> -->
         
  <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
     <div class="col-sm-12">
  
            <img src="{{marriageDetailsClients.images2}}" class="img-circle"  style="width:45%">
     </div>
     <div class="col-sm-12">
            <div class="col-sm-12">
                    <h5 class="fnamess">    {{marriageDetailsClients.name}}</h5>
             </div>
           
             <div class="col-sm-12">
                    <p>   {{marriageDetailsClients.emailId}}</p>
             </div>
            
     </div>
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
     </div>
    
  </div>
  
  
  <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
    <div class="col-sm-12">
           <img src="{{marriageDetailsClients.images2}}" class="img-circle"  style="width:45%">
    </div> 
  </div>  
    </div>
  </nav>

  
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities" *ngIf="usersID">
            <h3 class="acName"> <b> Activities </b></h3>
            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>
          
              <div class="col-sm-12 sidenavact" (click)="typesOfPlants()">
                  <h4> Post / View  Types Of Animals  & Descriptions </h4>
              </div>



            <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                  <h4> Post / View  Food Details </h4>
              </div>

              <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                  <h4> Post / View   Necessaries    </h4>
              </div> 
               
              <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                  <h4> Post / View   Updates</h4>
              </div>


              <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> Recieve Comments (5)</h4>
                  </div>

                 

                  <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                          <h4> Galleries </h4>
                      </div>
                      
                            
      
        </div>
      
      
     
      
  
  
      <div class="col-sm-8">
   <div class="col-sm-12" *ngIf="typesPlants">
          <div class="col-sm-12">
<h2> Post / View  Types Of Animals  & Descriptions  </h2>
<h2> Post   Types Of Animals  & Descriptions  </h2>
<mat-form-field class="example-full-width">
    <input matInput placeholder="please enter your Animals Types" [(ngModel)]="tr.animalsTypes" name="descriptions">
  </mat-form-field>
  
<button class="btn-primary upbuttons" (click)="typesOfPlantsPosts()"> submit </button>

          </div>

          <div class="col-sm-5">
              <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{plantsDetailsName}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="locationsdrops" *ngFor="let get of typesOfPlantsGets" (click)="typesOfPlantsGetClick(get)">{{get.animalsTypes}}</li>
                    </ul> 
          </div>

          <div class="col-sm-12">
             
              <h2> Post   Descriptions  </h2>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your name" [(ngModel)]="des.name" name="descriptions">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your age" [(ngModel)]="des.age" name="descriptions">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your food" [(ngModel)]="des.food" name="descriptions">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your precautions" [(ngModel)]="des.precautions" name="descriptions">
                      </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your descriptions" [(ngModel)]="des.descriptions" name="descriptions">
                      </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your gender" [(ngModel)]="des.gender" name="descriptions">
                      </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your price" [(ngModel)]="des.price" name="descriptions">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your images 1 description " [(ngModel)]="des.images1des" name="descriptions">
                          </mat-form-field>
    
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your images 2 description" [(ngModel)]="des.images2des" name="descriptions">
                          </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your images 3 description" [(ngModel)]="des.images3des" name="descriptions">
                            </mat-form-field>
                <p> Images 1 </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputDescriptionsTypeOne($event,'images1')" [(ngModel)]="des.images1" class="updated" name="images1" >
                <p> Images 2 </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputDescriptionsTypeTwo($event,'images2')" [(ngModel)]="des.images2" class="updated" name="images2" >
                <p> Images 3 </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputDescriptionsTypeThree($event,'images3')" [(ngModel)]="des.images3" class="updated" name="images3" >

              <button class="btn-primary upbuttons" (click)="postPlantsDescriptionsDetails()"> submit </button>
              
                        </div>
<div class="col-sm-12">
 <h2 class="plantsfu"> <span class="tt"> {{plantsDetailsName}} </span> </h2>
    <div class="col-sm-12 plantsTy" *ngFor="let pla of PlantsDescriptionsGet">
        <div class="col-sm-4">
            <img src="{{pla.images1}}" style="width:100%;height:200px" class="pull-left img-thumbnail profilepic img-responsive">
             
        </div>
        <div class="col-sm-4">
            
            <img src="{{pla.images2}}" style="width:100%;height:200px" class="pull-left img-thumbnail profilepic img-responsive">
            
        </div>
        <div class="col-sm-4">
            
            <img src="{{pla.images3}}" style="width:100%;height:200px" class="pull-left img-thumbnail profilepic img-responsive">
        </div>
             <div class="col-sm-12 tt">
              <h3> {{pla.name}} </h3>
              <h3> {{pla.age}} </h3>
              <h3> {{pla.precautions}} </h3>
              <p> {{pla.descriptions}} </p>
              <h3> {{pla.price}} </h3>
         </div>
      </div>
</div>
                       

        </div>

         <div class="col-sm-12" *ngIf="showmains">
            <div class="catog">
                <div class="bgshostel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 bghostels">
                          <h2 class="cnames"> {{marriageDetailsClients.shopname}} </h2>    
                                <div class="col-sm-12 bgimg">
                                    <img src="{{marriageDetailsClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                                 </div>
                      <hr/>
                         </div>
                        </div>
                        </div>
                        </div>
            
                        <!-- *********************about us*********************** -->
                 <div class="bgimgses">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-6 mains">
              
                          
              <div class="col-md-12">
              <img src="{{marriageDetailsClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
                
              <hr/>
              </div>
              </div>
              <div class="col-sm-6 mains">
              
                  
              <div class="col-md-12">
                  <p class="aboutus"> About Us  </p>
                  <p class="aboutuso">  {{marriageDetailsClients.aboutUsDescriptionOne}}</p>
                  <p class="aboutust"> {{marriageDetailsClients.aboutUsDescriptionTwo}} </p>
              <hr/>
              <h3 class="aboutusts"> <b> {{marriageDetailsClients.name}} </b></h3>
              <hr/>
              </div>
              </div>
                  </div>
                </div>
              </div>
                         
                              <div class="col-sm-12">
                                <div class="col-sm-12 timings">
                                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                <ul>
                  <li class="nones"> {{marriageDetailsClients.day1}} </li>
                  <li class="nones"> {{marriageDetailsClients.day2}} </li>
                  <li class="nones"> {{marriageDetailsClients.day3}} </li>
                  <li class="nones"> {{marriageDetailsClients.day4}} </li>
                  <li class="nones"> {{marriageDetailsClients.day5}} </li>
                  <li class="nones"> {{marriageDetailsClients.day6}} </li>
                  <li class="nones"> {{marriageDetailsClients.day7}} </li>
                  <li class="nones"> Hours of Operations : <span class="timing"> {{marriageDetailsClients.totaltiming}} </span> </li>
                </ul>
                <hr/>
                                </div>
                              
                                  <hr/>
                                  <div class="col-sm-12 e addes">
              
                                      <h4 class="ads"> Address </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons addresscap">
                                         H No:{{marriageDetailsClients.hno}} , {{marriageDetailsClients.area}},{{marriageDetailsClients.landmark}},{{marriageDetailsClients.city}}
                                         {{marriageDetailsClients.distict}},
                                          {{marriageDetailsClients.state}},
                                          {{marriageDetailsClients.pincode}}
                                    </div>
                      
                                  </div>
                               
                                  <div class="col-sm-12 e addes">
                                      <h4 class="ads"> Contact informations </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons">
                <p>  
                    <span class="glyphicon glyphicon-phone-alt"> office no: {{marriageDetailsClients.officeno}} 
                    
                </span>
                 </p>
                                            <br>
                  <p> 
                       <span class="glyphicon glyphicon-earphone">
                             Mobile No: {{marriageDetailsClients.mobileno}} 
                      </span></p>
                                              <br>
                          <p> <i class="fa fa-whatsapp" aria-hidden="true">
                               whatsapp No: {{marriageDetailsClients.whatsupno}} </i></p>
                                                                        <br>
                                         <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{marriageDetailsClients.emailid}} </i>
                                           
                                          </p> 
                                            <br>
                                            
                                      </div>
                
                                    </div>
                                </div>
         </div>
        </div> 
         <div class="col-sm-12" *ngIf="updatesShows">
            <div class="col-sm-12">
                <h2> Post  / View  Updates </h2>
                <h2> Post    Updates </h2>
         <mat-form-field class="example-full-width">
             <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
           </mat-form-field>
           <mat-form-field class="example-full-width">
               <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.descriptions" name="descriptions">
             </mat-form-field>
            

<p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images')" [(ngModel)]="ups.images" class="updated" name="images1" >
<p> Viedeos</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" [(ngModel)]="ups.viedoes" class="updated" name="viedoes" >

<button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>

</div> 
            <!-- ******************* UPDATES PRESENT ********************************* -->
  
 <div class="col-sm-12">
    <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
      <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
        <div class="col-sm-12">
            <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
              <a> 
                  <img src="{{up.images}}" alt="about us" style="width:100%"></a>
        </div>
  
  
        <div class="col-sm-12 viedoes">
            <video width="100%" height="400px" controls>
                <source src="{{up.viedoes}}" type="video/mp4">
               </video>
          </div>
      
          <div class="col-sm-12">
              <h3> {{up.title}} </h3>
              <h6> {{up.descriptions}} </h6>
           </div>
  
           <!-- <div class="col-sm-3" (click)="shareClick(up)">
                  <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                    share </p>
               </div> -->
              <div class="col-sm-3" (click)="commentsClick(up)">
                  <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                    <span class=""> comments </span> 
                 </p>
          </div>
          <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
              <div class="col-sm-1">
                  <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
              </a>
          </div>
              
                <div class="col-sm-1">
                        <a href="https://www.whatsapp.com/" target="_blank">
                    <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                        </a>
              </div>
                 <div class="col-sm-1">
                   <a href="https://plus.google.com/discover" target="_blank">
                   <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                 </div>
     <div class="col-sm-1"> 
         <a href="https://twitter.com/login" target="_blank">
           <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
     </div>
   <div class="col-sm-1"> 
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
     </div>
          </div>
      
        <div class="col-sm-12">
            <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                 <div class="col-sm-12">
                <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
            </div>
          </div>
   
    <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
  <div class="col-sm-12" *ngFor="let comms of getUsersComments">
    <div class="col-sm-12 userscomm">
    <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                     <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                      <h6>  {{comms.descriptions}} </h6> 
   </div>                  
                  <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                          <a class="replyses">
                              <b class="replies lsc"> reply   </b></a>
                      </div> 
                   
  
  
      <div  class="u" *ngIf="replyfrom && replyid == comms._id">
          <mat-form-field class="example-full-width">
              <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
            </mat-form-field>
            <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
       
        <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
            <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
       <img src="{{marriageDetailsClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
          {{marriageDetailsClients.name}}:</span>
         <h6> {{rep.descriptions}} </h6> 
         </div> 
         </div> 
  
        </div>
      </div>
  </div>
        </div>
      </div>
           </div>
  
           <div class="col-sm-12" *ngIf="viewupdatesShows">
              <div class="col-sm-12">
                <div class="col-sm-12">
                        
                         <h2> Post  / View  Animals Foods  </h2>
                        <h2> Post     Animals Foods  </h2>
                        <div class="col-sm-5">
                                <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{plantsDetailsMainName}} <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li class="locationsdrops" *ngFor="let get of typesOfPlantsMainGets" (click)="typesOfPlantsMainGetClick(get)">{{get.animalsTypes}}</li>
                                      </ul> 
                       </div>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your food Type" [(ngModel)]="fer.foodType" name="fertilizersName">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                     <input matInput placeholder="please enter your food Quantity" [(ngModel)]="fer.foodQuantity" name="title">
                   </mat-form-field>
                   <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your food Timmings" [(ngModel)]="fer.foodTimmings" name="price">
                    </mat-form-field>
                     <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your food Precations" [(ngModel)]="fer.foodPrecations" name="price">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your food Storages" [(ngModel)]="fer.foodStorages" name="price">
                          </mat-form-field>
                  


                          <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter your food Images Description 1" [(ngModel)]="fer.foodImagesDes1" name="fertilizersName">
                              </mat-form-field>
                            <mat-form-field class="example-full-width">
                         <input matInput placeholder="please enter your food Images Description  2" [(ngModel)]="fer.foodImagesDes2" name="title">
                       </mat-form-field>
                       <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your food Images Descriptions 3" [(ngModel)]="fer.foodImagesDes3" name="price">
                        </mat-form-field>
                         
   <p> Images One</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesOne($event,'foodImages1')" [(ngModel)]="fer.foodImages1" class="updated" name="images1" >
   <p> Images Two</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesTwo($event,'foodImages2')" [(ngModel)]="fer.foodImages2" class="updated" name="images2" >
   <p> Images Thee</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesThree($event,'foodImages3')" [(ngModel)]="fer.foodImages3" class="updated" name="images3" >
 
   <button class="btn-primary upbuttons" (click)="postPlantsDetails()"> submit </button>
       
                 </div>
                 <div class="col-sm-12">
                    <h2>  View   Animals Foods  </h2>
                    <div class="col-sm-12">
                        <ul>
                          <li class="lisdts" *ngFor="let pla of plantsFertilizersGet ; index as i"> {{i+1}} .  {{pla.foodType}} </li>
                        </ul>
                      </div>
                   
                                  <div class="col-sm-12" *ngFor="let pla of plantsFertilizersGet">
                                        <h4>   {{pla.foodType}}</h4>
                                        <h4>  {{pla.foodQuantity}} </h4>
                                        <h4>  {{pla.foodTimmings}} </h4>
                                        <h4>  {{pla.foodPrecations}} </h4>
                                        <h4>  {{pla.foodStorages}} </h4>


                                        <div class="col-sm-4">
                                                <img src="{{pla.foodImages1}}"   alt="about us" style="width:100%;height:200px">
                                                        <h4>  {{pla.foodImagesDes1}} </h4>
                                                       
                                         </div>
                                         <div class="col-sm-4">
                                                <img src="{{pla.foodImages2}}"   alt="about us" style="width:100%;height:200px">
                                                         <h4>  {{pla.foodImagesDes2}} </h4>
                                                        
                                         </div>
                                         <div class="col-sm-4">
                                                <img src="{{pla.foodImages3}}"   alt="about us" style="width:100%;height:200px">
                                                        <h4>  {{pla.foodImagesDes3}} </h4>
                                                      
                                         </div>
                                         </div>
                 </div>
              </div>
             </div>
  
              <div class="col-sm-12" *ngIf="onlyCommentsShows">
                  <h2> General Comments ({{gcommc}})</h2>
                  <table class="table table-hover">
                      <thead>
                 
                              <tr class="insidecap tablessc">
                                    
                                      <th> Name</th>
                                      <th class="standards"> email </th>
                                      <th>contactNo</th>
                                      <th> Posted on Date </th>
                                      <th> Time </th>
                                     </tr>
                            </thead>
                  <tbody>
                    <tr *ngFor="let s of gcomm">
                       <td><p> {{s.name}}</p></td>
                      <td><p> {{s.email}}</p></td>
                      <td><p> {{s.contactNo}} </p></td>
                      <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                      <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
                
                    </tr>
                    
                  </tbody>
                </table>
         </div>
  
         <div class="col-sm-12" *ngIf="ImagesShows">
            <div class="col-sm-12">
                <h3 class="gimages"> General Images </h3>
               
  <div class="col-sm-4 mars">
    <a href="{{marriageDetailsClients.images1}}" target="_blank"> 
        <img src="{{marriageDetailsClients.images1}}" alt="about us" style="width:100%;height:250px"> 
     </a>
  </div>
  <div class="col-sm-4 mars">
        <a href="{{marriageDetailsClients.images2}}" target="_blank"> 
            <img src="{{marriageDetailsClients.images2}}" alt="about us" style="width:100%;height:250px"> 
         </a>
     </div>
    <div class="col-sm-4 mars">
            <a href="{{marriageDetailsClients.images3}}" target="_blank"> 
                <img src="{{marriageDetailsClients.images3}}" alt="about us" style="width:100%;height:250px"> 
             </a>
         </div>
        <div class="col-sm-4 mars">
                <a href="{{marriageDetailsClients.images4}}" target="_blank"> 
                    <img src="{{marriageDetailsClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
  
            <div class="col-sm-4 mars">
                    <a href="{{marriageDetailsClients.images5}}" target="_blank"> 
                        <img src="{{marriageDetailsClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
                 <div class="col-sm-4 mars">
                    <a href="{{marriageDetailsClients.images6}}" target="_blank"> 
                        <img src="{{marriageDetailsClients.images6}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
  
                <div class="col-sm-12">
                        <h1 class="gimages"> Update Images </h1>
                        <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                <a href="{{item.images}}" target="_blank"> 
                                    <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                 </a>
                             </div>
        
                </div>
                 <div class="col-sm-12">
                        <h1 class="gimages"> Update Viedoes  </h1>
                        <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                <a href="{{pro.viedoes}}" target="_blank"> 
                                        <video width="100%" controls>
                                                <source src="{{pro.viedoes}}" type="video/mp4">
                                                
                                               </video> 
                                    </a>
                            </div>
                 </div>
          </div>    
           </div>
  
           <div class="col-sm-12" *ngIf="ProductsShows">
                   <div class="col-sm-12">
                      <div class="col-sm-12">
                          <h2> Post / View   Necessaries    </h2>
                         <h2> Post    Necessaries  </h2>
                         <div class="col-sm-5">
                                <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{plantsDetailsNecessaryName}} <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li class="locationsdrops" *ngFor="let get of typesOfPlantsNecessaryGets" (click)="typesOfPlantsNecessaryGetClick(get)">{{get.animalsTypes}}</li>
                                      </ul> 
                       </div>
                         <mat-form-field class="example-full-width">
                             <input matInput placeholder="please enter your necessaries Name" [(ngModel)]="equ.necessariesName" name="fertilizersName">
                           </mat-form-field>
                     
                       
                   
    <p> Images One</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesOne($event,'nessariesImages')" [(ngModel)]="equ.nessariesImages" class="updated" name="images1" >
   
    <button class="btn-primary upbuttons" (click)="postPlantsEquipmentsDetails()"> submit </button>
        
                  </div>
                  <div class="col-sm-12">
                      <div class="col-sm-12">
                         <div class="col-sm-4" *ngFor="let pla of PlantsEquipmentsGet">
                                <img src="{{pla.nessariesImages}}" alt="about us" style="width:100%;height:250px"> 
                                <h4>   {{pla.necessariesName}}</h4>

                         </div>
                            
                        </div>
                  </div>
                   </div>
                 </div>
            <div class="col-sm-12" *ngIf="ProductsViewShows">
              this is view products
             </div>
         
      </div>
    </div>
  </div>
