.maintitle{background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    text-transform: capitalize;}
    .locationSet{
        color: green;
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 25px;
    }
    .areaSet{
        color: red;
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 25px;
    }
    .set{text-align: center;}
    .nertset{color: slategrey;
        font-size: 18px;
        text-align: justify;}
        /* ***************************************************** COMPLETE DETAILS ********************** */
.moredet{color:red}
.moredets{color:blue}
.innerview{width:50%}
.iname{ text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: brown;
    font-size: 30px;}
    .namesCapos{background-color: brown;
        color: white;
        text-align: center;
        padding: 14px;
        border-radius: 5px;}