
      <div class="col-sm-12">
           
  
          <div class="col-sm-7">
              <h1> main Title </h1>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="main Title" [(ngModel)]="lans.mainTitle" name="locations">
                </mat-form-field>
            
                <button (click)="landssubmit()"> sublit </button>
            
            </div>
  
            <div class="col-sm-12">
                <div class="col-sm-12 mars" *ngFor="let item of landingsgets" (click)="landings(item)">
   <h3  class="text-center mains"> {{item.mainTitle}} - {{searchesjobsc}} </h3>  
  
   <div class="col-sm-12" *ngIf="landingsNameId == item._id">                 
               
              <div class="col-sm-12">
                  <b class="unames"> search job form: {{landingsName}} </b>
       
             
               <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your title" [(ngModel)]="searchjob.title" name="description">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your description" [(ngModel)]="searchjob.description" name="description">
                </mat-form-field>
              <input type="file" #Image accept="image/*"  (change)="handleFileInputBabycares($event,'images')" placeholder="please enter image" [(ngModel)]="searchjob.images" class="updated" name="images" >
              <input type="file" #Image accept="video/*"  (change)="handleFileInputBabycaresv($event,'viedoes')" placeholder="please enter viedoes"  [(ngModel)]="searchjob.viedoes" class="updated" name="viedoes">
     
              <button class="btn-primary upbuttons" (click)="FurnituresUpdatePostData()"> submit </button>
             
              </div>
  
              <div class="col-sm-12">
  <div class="col-sm-6 searchdiv" *ngFor="let up of searchesjobs" (click)="searchesjobes(up)">
    <div class="col-sm-12" *ngIf="up">
      
      <p class="text-right"> <b> Posted On :</b> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
  <div class="col-sm-12" *ngIf="up.images">
      <img src="{{up.images}}" alt="about us" style="width:100%;height:300px">
  </div>
  <div class="col-sm-12 viedoes" *ngIf="up.viedoes && up.viedoes!='undefined'">
      <video width="100%" height="300px" controls>
          <source src="{{up.viedoes}}" type="video/mp4">
         </video>
    </div>
  
    <div class="col-sm-12">
        <h3><b> {{up.title}} </b> </h3>
        <h6> {{up.description}} </h6>
     </div>
     <div class="col-sm-12" *ngIf="statusNameId == up._id">
  <div class="col-sm-12">
        <h4> post status </h4>
  
        <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter your title" [(ngModel)]="status.status" name="description">
          </mat-form-field>
          <button class="btn-primary upbuttons" (click)="poststatus()"> submit </button>
        </div>
       
        <div class="col-sm-12" *ngFor="let up of statuseGets">
  <h4 class="statusall"> <span class="status"> o   </span> <b> Status : </b> {{up.status}} </h4>
        </div>
        
     </div>

     </div>
  </div>
   </div>
   </div>
  </div>
  <h4 class="statusall"> <span class="status"> o   </span> <b> Total Status Of Success in Placements: </b> <span class="statusid"> <b>{{statuseGetsc}} </b></span>  </h4>
  
  </div>
  </div>
  
  <!-- ************************************* location ****************  --> 
  
  <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-7">
            <h1> Location Posts </h1>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="main locations" [(ngModel)]="loc.locations" name="locations">
              </mat-form-field>
              <input type="file" #Image accept="image/*"  (change)="handleFileInputL($event,'images')" placeholder="please enter image" [(ngModel)]="loc.images" class="updated" name="images" >

              <button (click)="locationsPost()"> sublit </button>
          
          </div>
          <div class="col-sm-4 boxshaves">
            <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{locationsName}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li class="locationsdrops" *ngFor="let get of locationsget" (click)="locations(get)">{{get.locations}}</li>
                  </ul>  
        </div>

      </div>

      <div class="col-sm-7">
        <h1> main Title </h1>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="main Title" [(ngModel)]="gen.mainTitle" name="locations">
          </mat-form-field>
      
          <button (click)="gensubmit()"> sublit </button>

      
      </div>

      <div class="col-sm-12">
        <div class="col-sm-12 mars" *ngFor="let item of landingsgetsgenerals" (click)="landingsgenerals(item)">
<h3  class="text-center mains"> {{item.mainTitle}} - {{generalsDetailsc}} </h3>  

<div class="col-sm-12" *ngIf="landingsgeneralsNameId == item._id">                 
       
      <div class="col-sm-12">
          <b class="unames"> general classified form: {{landingsgeneralsName}} </b>

     
       <mat-form-field class="example-full-width">
        <input matInput placeholder="please enter your title" [(ngModel)]="generals.title" name="description">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="please enter your description" [(ngModel)]="generals.description" name="description">
        </mat-form-field>
      <input type="file" #Image accept="image/*"  (change)="handleFileInputGenerals($event,'images')" placeholder="please enter image" [(ngModel)]="generals.images" class="updated" name="images" >
      <input type="file" #Image accept="video/*"  (change)="handleFileInputGeneralsv($event,'viedoes')" placeholder="please enter viedoes"  [(ngModel)]="generals.viedoes" class="updated" name="viedoes">

      <button class="btn-primary upbuttons" (click)="GeneralsUpdatePostData()"> submit </button>
     
      </div>

      <div class="col-sm-12">
<div class="col-sm-6 searchdiv" *ngFor="let up of generalsDetails">
<div class="col-sm-12" *ngIf="up">

<p class="text-right"> <b> Posted On :</b> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
<div class="col-sm-12" *ngIf="up.images && up.images!='undefined'">
<img src="{{up.images}}" style="width:100%;height:300px">
</div>
<div class="col-sm-12" *ngIf="up.viedoes && up.viedoes!='undefined'">
<video width="100%" height="300px" controls>
  <source src="{{up.viedoes}}" type="video/mp4">
 </video>
</div>

<div class="col-sm-12">
<h3><b> {{up.title}} </b> </h3>
<h6> {{up.description}} </h6>
</div>
 
</div>
</div>
</div>
</div>
</div>
</div>
  </div>