.searchdiv{height:800px;overflow:scroll;margin-bottom:20px}
.status{background-color: green;font-size: 16px;color: green;border-radius: 28px;margin-right: 18px;}
.statusall{text-transform: capitalize}

.dropdown-menu{
    top: 1% !important;
  left: 15px !important;
  text-align: center;
  font-size: 15px;
  background: #846c4fba;
  cursor: pointer;
  color: white;
}
.locationsdrops{    border-bottom: 2px solid #00000024;
  padding: 7px;}
  .locationsdrops:hover{background-color: #ffca00;color: black}
  .mains{ background-color: brown;  color: white;  padding: 12px; font-size: 30px;  text-transform: capitalize; cursor: pointer;}
                      .mains:hover{ background-color: rgb(82, 3, 3);  color: white;  padding: 12px; font-size: 30px;  text-transform: capitalize; cursor: pointer;}
                      .statusid{color: red; font-size: 20px;}