.cnames{background: #0070ff5c; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize;color: #3c3838;padding: 15px; box-shadow: 35px 28px 10px black;}
.bgimg{padding-bottom: 30px;margin-top:40px}
.bghostels{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-radius: 1%;
}
.fontsize{font-size: 12px;list-style: none}
 
.nones{list-style: none}
.noness{color: red}
.ads{
    padding-top: 20px;
    font-size: 25px;
    color: black;
    /* padding-bottom: 20px; */
    font-weight: bolder
}


.e{
    background-image: url("/assets/images/e.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 20px;
    color: antiquewhite;
    margin-top: 60px;
}
.addresscap{text-transform: capitalize}
.mainames{color: red;
    font-size:16px;
    text-transform: capitalize;
    }
.mainame{color: black;font-size:16px; text-transform: capitalize;font-weight:800px}
.imgallery{  background-color: #cd3fc1;
    color: palegoldenrod;
    width: 24%;
    font-size: 22px;
    padding: 12px;
    margin-left: 16%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;cursor: pointer;}
    .cauro{margin-top: 30px;
        margin-bottom: 74px}
.addimg{
    padding: 15px;
}
.addimgs{
    padding: 15px;
    border: 1px solid #0000ff1a;
}
.sdsthree{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.co{
    background-color: #8080804f;
}

.vsb{
    padding: 11px;
    border-radius: 6px;
    border: none;
    width: 35%;
    margin-bottom: 50px;
}
.commens{
    margin-top: 40px;

}
.mat-form-field {
  
    width: 65% !important;
}
.profilepic{
    margin:20px;
}
.profpag{
    margin-left: 100px
}
.mainprog{
    text-align: justify
}
.names{color: blue}
.ds{

}
.times{margin-left: 30px}
.imgadd{font-size: 50px;}
.shares{font-size: 30px;
    font-weight: 100;
    color: blue;}

    /* **************animations**************** */
    .catog{
        position: relative;
        animation-name: catog;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    
    @keyframes catog{
        0%{left:-1000px;}
        100%{left:0;}
    }
 /* **************timings**************** */
 .timings{
    position: relative;
    animation-name: catog;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************images**************** */
.images{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************addes**************** */
.addes{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************mains**************** */
.mains{
    position: relative;
    animation-name: catog;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{top:1000px;}
    100%{top:0;}
}
/* **************mainss**************** */
.mainss{
    position: relative;
    animation-name: catog;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{right:1000px;}
    100%{right:0;}
}
/* ****************tables********** */
.standards{
    width: 17%;
}
.years{width: 11%;}
.tabinter{
    font-size: 14px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.parts{color:red}
.fb{    color: blue;
    font-size: 40px;}
    .whatsp{
        color: green;
        font-size: 37px;
    }
    .twiter{color: #00d8ff;
        font-size: 40px;}
    .inst{
        color: #ef6981;
    font-size: 40px;
    }
    .datas{
        margin-bottom:50px;
    }
    .stuname{width:12%}
    .stuc{width:12%}
    .stup{width:12%}
    .stuy{width:12%}
    .imagesfur{
        width: 30%;

    }
    .parafur{text-align: justify}

    /* ********************updates and comments **************** */
    .dfs{
        border: 1px solid blue;
        padding: 10px;
        box-shadow: 10px 4px 14px 20px;
        margin-top: 50px
    }
    .lsc{cursor: pointer;}
    .viedoes{margin-top: 40px;margin-bottom: 40px;}
    .lsd{color:blue}
    .consts{    width: 100%;
        padding-bottom: 100px;
    }
    .comentssuboit{margin-top: 40px;}
    .replyses{cursor: pointer;}
    .replys{color:red}
    .u{background-color:rgba(128, 128, 128, 0.267)}
    .proc{position: absolute;
        top: 50%;
        left: 10%;
         }
         .fb{    color: blue;
            font-size: 25px;}
            .whatsp{
                color: green;
                font-size: 25px
            }
            .twiter{color: #00d8ff;
                font-size: 25px}
            .inst{
                color: #ef6981;
                font-size: 25px
            }
            .comentshow{cursor: pointer;}
        /* ((((((((((((((((comments)))))))))))))))) */
        .comments{
    
            background-image: url("/assets/images/des.png");
            background-color: #cccccc;
            background-repeat: repeat;
            background-position: center;
            /* margin-bottom: 90px; */
            /* height: 500px; */
          padding-top: 20px;
          margin-top: 60px;
        }
        .vsb{
            padding: 11px;
            border-radius: 6px;
            border: none;
            width: 13%;
            margin-bottom: 50px;
        }
        /* ***************products*************** */
        .indexes{width: 51px;}
        .imges{  text-align: center;
            text-transform: capitalize;}
            .procts{text-align: center;
                text-transform: capitalize;
                width: 40%;}
                .gua{text-align: center;
                    text-transform: capitalize;}
                    .commm{list-style: none}
                    .dropdown-menu{  top: 1% !important;  left: 15px !important;  text-align: center;  font-size: 15px;  background: #846c4fba;
                      cursor: pointer;  color: white;
                  }
                    .locationsdrops{ border-bottom: 2px solid #00000024;
                      padding: 7px;}
                      .locationsdrops:hover{background-color: #ffca00;color: black}
                  .productsSubDiv{margin-top: 12px;  margin-bottom: 12px;}
                  .productsDiv{ background-color: darkkhaki;margin-top: 12px;}