 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>
<div class="col-md-12 col-xs-12">
        <div class="col-sm-12" *ngFor="let item of catList">
            <a [routerLink]="['/tutions/tutionscatagerie',item._id,item.categories]">
  
            <div class="panel panel-primary dff boxshaws">
                 <div class="panel-body dffff">
                <div class="col-sm-6 col-sm-offset-3 imgs">
                    <h2 class="catstyle"> {{item.categories}}</h2>
                    <img src="{{item.images1}}" alt="about us" style="width:100%; height: 260px;"> 
                </div>  
              
                </div>
              </div>
    </a>
            </div>
     
   </div> 
  


 















