.activities{box-shadow: -7px 8px 6px 7px;
    background-color: burlywood;
    border-radius: 12px;
    border-bottom: 12px solid beige;margin-left: 25px;
}
.acName{border-bottom: 4px solid gainsboro;
padding-bottom: 12px;}
.sidenavact{ margin-bottom: 12px;
    background-color: #a52a2a7a;
    font-weight: bolder;
    margin-top: 12px;color: honeydew;cursor: pointer;}
    .commm{list-style: none}
    .gimages{background-color: blue;
        width: 50%;
        text-align: center;
        font-size: 25px;
        padding: 12px;
        border-radius: 5px;
        color: white;}

