<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                <h4> view   Updates ()</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments (5)</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                    
                        <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                                <h4> Post  Products  </h4>
                            </div> 
                            <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
                                    <h4> View  Products (5)</h4>
                                </div> 
    
      </div>
    
    
   
    


    <div class="col-sm-8 c">
       <div class="col-sm-12" *ngIf="showmains">
        this is main menu
       </div>

       <div class="col-sm-12" *ngIf="updatesShows">
          this is updates
         </div>

         <div class="col-sm-12" *ngIf="viewupdatesShows">
            this is view shoes
           </div>

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
        this is only comments
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          this is images gallaries
         </div>

         <div class="col-sm-12" *ngIf="ProductsShows">
                this is post products
               </div>
          <div class="col-sm-12" *ngIf="ProductsViewShows">
            this is view products
           </div>
      </div>  
    </div>
  </div>

