
.bghostels{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-radius: 1%;
}
.fontsize{font-size: 12px;list-style: none}
.bgimg{padding-bottom: 30px;margin-top:40px}
.nones{list-style: none}
.noness{color: red}

.ads{
    padding-top: 20px;
    font-size: 25px;
    color: black;
    /* padding-bottom: 20px; */
    font-weight: bolder
}
.kkk{list-style: none}
.e{
    background-image: url(/assets/images/e.png);
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 20px;
    color: antiquewhite;
    margin-bottom: 20px;
}
.addimg{
    padding: 15px;
}
.addimgs{
    padding: 15px;
    border: 1px solid #0000ff1a;
}
.sdsthree{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
 
.comments{
    
    background-image: url("/assets/images/des.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    /* margin-bottom: 90px; */
    /* height: 500px; */
  padding-top: 20px;
  margin-top: 60px;
}
.vsb{
    padding: 11px;
    border-radius: 6px;
    border: none;
    width: 13%;
    margin-bottom: 50px;
}
.commens{
    margin-top: 40px;

}
.mat-form-field {
  
    width: 65% !important;
}
.profilepic{
    margin:20px;
}
.profpag{
    margin-left: 100px
}
.mainprog{  text-align: justify }
.names{color: blue}
 
.times{margin-left: 30px}
.imgadd{font-size: 50px;}
.shares{font-size: 30px;  font-weight: 100;  color: blue;}

    /* **************animations**************** */
    .catog{  position: relative; animation-name: catog;   animation-duration: 1s;   animation-fill-mode: forwards;  }
    
    @keyframes catog{   0%{left:-1000px;}  100%{left:0;}  }
 /* **************timings**************** */
 .timings{  position: relative;  animation-name: catog;  animation-duration: 2s;  animation-fill-mode: forwards; }

@keyframes catog{  0%{left:-1000px;}  100%{left:0;} }
/* **************images**************** */
.images{  position: relative; animation-name: catog;  animation-duration: 3s;  animation-fill-mode: forwards;
    
}

@keyframes catog{  0%{left:-1000px;} 
}
/* **************addes**************** */
.addes{ position: relative;  animation-name: catog;  animation-duration: 3s;  animation-fill-mode: forwards; }

@keyframes catog{  0%{left:-1000px;}  100%{left:0;} }
/* **************mains**************** */
.mains{  position: relative;   animation-name: catog; animation-duration: 4s;  animation-fill-mode: forwards; }

@keyframes catog{ 0%{top:1000px;} 100%{top:0;} }
/* **************mainss**************** */
.mainss{  position: relative;  animation-name: catog;  animation-duration: 5s;  animation-fill-mode: forwards;  }

@keyframes catog{  0%{right:1000px;}  100%{right:0;} }
.cnames{background: #0070ff5c; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize;color: #3c3838;padding: 15px; box-shadow: 35px 28px 10px black;}

/* ****************updates************* */
.dfs{ border: 1px solid blue;  padding: 10px;  box-shadow: 10px 4px 14px 20px;  margin-top: 50px }
.lsd{color:blue}
.fb{ color: blue; font-size: 25px;}
    .whatsp{  color: green;  font-size: 25px  }
    .twiter{color: #00d8ff;  font-size: 25px}
    .inst{   color: #ef6981;  font-size: 25px  }
    .proc{position: absolute;  top: 50%;  left: 10%;  }
        .as{  text-align: center;  margin-top: 14px;  border: 1px solid;}
            .lsc{cursor: pointer;}
            .replys{color:red}
            .comentssuboit{margin-top: 40px;}
            .comentshow{cursor: pointer;}
            
            .alldivs{margin-bottom: 12px}
            .consts{   width: 100%;  padding-bottom: 100px;  }
                .u{background-color:rgba(128, 128, 128, 0.267);margin-bottom: 12px}
                .replyses{cursor: pointer;}
                .viedoes{  margin-top: 40px;  margin-bottom: 40px;}
                    .ptags{margin-top: 50px;}

                    .whas{margin-left:14px;}
                    .whatys{margin-bottom: 12px}
                    .addsss{text-transform: capitalize}
                    .dd{background-color: burlywood;  cursor: pointer;padding: 12px}
                    .dd:hover{background-color: rgba(222, 184, 135, 0.849);  cursor: pointer;padding: 12px}
                    .maintag{font-size:25px;text-transform: capitalize}