<div class="col-sm-12">
  <div class="col-sm-4 loc">
    <h1> creating disticts form</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="locations" [(ngModel)]="locationsdata.locations" name="locations">
      </mat-form-field>

      <button (click)="postlocations()"> sublit </button>

  </div>
  <div class="col-sm-4 loc">
    <h1> creating area form</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="locations" [(ngModel)]="areas.area" name="area">
      </mat-form-field>

      <button (click)="postarea()"> sublit </button>

  </div>

  <div class="col-sm-3">
    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{locationName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li class="locationsdrops" *ngFor="let get of locationsget" (click)="locations(get)">{{get.locations}}</li>
          </ul> 
</div>

<div class="col-sm-3">
  <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{selectArea}}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="locationsdrops" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
        </ul> 
</div>


  <div class="col-sm-12 locs">
    <h1> creating users form</h1>
    

      <div class="adminforms">
               <div class="col-sm-6  adforms">
                  <form class="example-form">
                    <!-- ****************************name******************************** -->
                   
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="name" [(ngModel)]="furnitures.name" name="name">
                    </mat-form-field>
                                <!-- ****************************shopname******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="shopname" [(ngModel)]="furnitures.shopname" name="shopname">
                    </mat-form-field>
      
                    <!-- ****************************aboutusdescriptionone******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="aboutusdescriptionone" [(ngModel)]="furnitures.aboutusdescriptionone" name="aboutusdescriptionone">
                    </mat-form-field>
              <!-- ****************************aboutusdescriptiontwo******************************** -->
      
              <mat-form-field class="example-full-width">
                <input matInput placeholder="aboutusdescriptiontwo" [(ngModel)]="furnitures.aboutusdescriptiontwo" name="aboutusdescriptiontwo">
              </mat-form-field>

                <!-- ****************************informationtopublic******************************** -->
      
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="informationtopublic" [(ngModel)]="furnitures.informationtopublic" name="informationtopublic">
                </mat-form-field>

                  <!-- ****************************mon******************************** -->
      
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="mon" [(ngModel)]="furnitures.mon" name="mon">
                  </mat-form-field>

                    <!-- ****************************tue******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="tue" [(ngModel)]="furnitures.tue" name="tue">
                    </mat-form-field>

                      <!-- **************************** wed ******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="wed" [(ngModel)]="furnitures.wed" name="wed">
                      </mat-form-field>

                        <!-- **************************** thu ******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="thu" [(ngModel)]="furnitures.thu" name="thu">
                    </mat-form-field>


                      <!-- **************************** fri ******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="fri" [(ngModel)]="furnitures.fri" name="fri">
                      </mat-form-field>


                        <!-- ****************************sat******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="sat" [(ngModel)]="furnitures.sat" name="sat">
                    </mat-form-field>


                      <!-- ****************************sun******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="sun" [(ngModel)]="furnitures.sun" name="sun">
                      </mat-form-field>


                        <!-- ****************************totaltiming******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="totaltiming" [(ngModel)]="furnitures.totaltiming" name="totaltiming">
                    </mat-form-field>


                      <!-- ****************************hno******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="hno" [(ngModel)]="furnitures.hno" name="hno">
                      </mat-form-field>


                        <!-- ****************************area******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="area" [(ngModel)]="furnitures.area" name="area">
                    </mat-form-field>

                      <!-- ****************************landmark******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="landmark" [(ngModel)]="furnitures.landmark" name="landmark">
                      </mat-form-field>

                        <!-- ****************************city******************************* -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="city" [(ngModel)]="furnitures.city" name="city">
                    </mat-form-field>
                         <!-- ****************************state******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="state" [(ngModel)]="furnitures.state" name="state">
                    </mat-form-field>

                      <!-- ****************************pincode******************************** -->
      
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="pincode" [(ngModel)]="furnitures.pincode" name="pincode">
                      </mat-form-field>

                  </form>
                  </div>
                  <div class="col-sm-6  adforms">
                      <form class="example-form">
                          <!-- ****************************officeno******************************** -->
      
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="officeno" [(ngModel)]="furnitures.officeno" name="officeno">
                      </mat-form-field>
                        <!-- ****************************mobileno******************************** -->
      
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="mobileno" [(ngModel)]="furnitures.mobileno" name="mobileno">
                      </mat-form-field>
                        <!-- ****************************whatsappno******************************** -->
      
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="whatsappno" [(ngModel)]="furnitures.whatsappno" name="whatsappno">
                      </mat-form-field>

                    
                        <!-- ****************************email******************************** -->
      
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="email" [(ngModel)]="furnitures.email" name="email">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="latitude" [(ngModel)]="furnitures.latitude" name="email">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="longitude" [(ngModel)]="furnitures.longitude" name="email">
                      </mat-form-field>
                         <!-- ****************************image1****************************** -->
                     <!-- <input type="file" (change)="onFileSelected($even.target.value)"> -->
                <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images1')" [(ngModel)]="furnitures.images1" name="images1">
                <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images2')" [(ngModel)]="furnitures.images2" name="images2">
                <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images3')" [(ngModel)]="furnitures.images3" name="images3">
                <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images4')" [(ngModel)]="furnitures.images4" name="images4">
                <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images5')" [(ngModel)]="furnitures.images5" name="images5">
               
                       <!-- ****************************image2******************************** -->
      
                      </form>
                      </div>
                      <button type="submit" class="btn-large btn-submit" (click)="OnSubmit()">Submit</button>
      
          </div>
        </div>
  


</div>
 
   <!-- *************************************************************************************** -->
   <div class="col-sm-12">
           
      <h2> Area Adds One </h2>
  <mat-form-field class="example-full-width">
   <input matInput placeholder="please enter your addsOneLink" [(ngModel)]="areaAddsOne.addsOneLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'addsOneImg')" [(ngModel)]="areaAddsOne.addsOneImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsOne()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsOnes">
  <a href="{{one.addsOneLink}}">
  <img src="{{one.addsOneImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsOneaDelete(one)"> Delete  Add One </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Two </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsOneLink" [(ngModel)]="areaAddsTwo.addsTwoLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesTwo($event,'addsTwoImg')" [(ngModel)]="areaAddsTwo.addsTwoImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsTwo()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsTwos">
  <a href="{{one.addsTwoLink}}">
  <img src="{{one.addsTwoImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsTwoaDelete(one)"> Delete  Add Two </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Three </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsThreeLink" [(ngModel)]="areaAddsThree.addsThreeLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesThree($event,'addsThreeImg')" [(ngModel)]="areaAddsThree.addsThreeImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsThree()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsThrees">
  <a href="{{one.addsThreeLink}}">
  <img src="{{one.addsThreeImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsThreeaDelete(one)"> Delete  Add Three </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Four </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFourLink" [(ngModel)]="areaAddsFour.addsFourLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFour($event,'addsFourImg')" [(ngModel)]="areaAddsFour.addsFourImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFour()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFours">
  <a href="{{one.addsFourLink}}">
  <img src="{{one.addsFourImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFouraDelete(one)"> Delete  Add Four </button>
  
  </div>
  </div> 
  
  
  <div class="col-sm-12">
     
  <h2> Area Adds One Locations </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsOneLinkLoc" [(ngModel)]="areaAddsOneLoc.addsOneLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesOneLoc($event,'addsOneImgLoc')" [(ngModel)]="areaAddsOneLoc.addsOneImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsOneLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsOneLocl">
  <a href="{{one.addsOneLinkLoc}}">
  <img src="{{one.addsOneImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsOneLocDelete(one)"> Delete  Adds One Locations </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Two Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsTwoLinkLoc" [(ngModel)]="areaAddsTwoLoc.addsTwoLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesTwoLoc($event,'addsTwoImgLoc')" [(ngModel)]="areaAddsTwoLoc.addsTwoImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsTwoLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsTwoLoc">
  <a href="{{one.addsTwoLinkLoc}}">
  <img src="{{one.addsTwoImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsTwoLocDelete(one)"> Delete  Add Two Locations </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Three Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsThreeLinkLoc" [(ngModel)]="areaAddsThreeLoc.addsThreeLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesThreeLoc($event,'addsThreeImgLoc')" [(ngModel)]="areaAddsThreeLoc.addsThreeImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsThreeLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsThreeLoc">
  <a href="{{one.addsThreeLinkLoc}}">
  <img src="{{one.addsThreeImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsThreeLocDelete(one)"> Delete  Add Three Locations</button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Four Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFourLinkLoc" [(ngModel)]="areaAddsFourLoc.addsFourLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFourLoc($event,'addsFourImgLoc')" [(ngModel)]="areaAddsFourLoc.addsFourImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFourLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFoursLoc">
  <a href="{{one.addsFourLinkLoc}}">
  <img src="{{one.addsFourImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFourLocDelete(one)"> Delete  Add Four </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Five Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFiveLinkLoc" [(ngModel)]="areaAddsFiveLoc.addsFiveLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFiveLoc($event,'addsFiveImgLoc')" [(ngModel)]="areaAddsFiveLoc.addsFiveImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFiveLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFivesLoc">
  <a href="{{one.addsFiveLinkLoc}}">
  <img src="{{one.addsFiveImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFiveLocDelete(one)"> Delete  Add Five Locations</button>
  
  </div>
  </div> 
  