


.divtwo{border-right: 12px solid #0000ff59;}
.cat{
    padding: 12px;
    border-radius: 5px;
    text-align: center;
  }
  .areas{color:red;font-size:15px;font-weight: bolder;text-transform: capitalize}
  .center{font-size:15px;font-weight: bolder;text-transform: capitalize}

  .bnts{margin-right: 90px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 12px;
    font-size: 17px;
    margin-bottom: 25px;
    text-transform: capitalize;}
 .dropdown-menu{
  top: 1% !important;
left: 15px !important;
text-align: center;
font-size: 15px;
background: #846c4fba;
cursor: pointer;
color: white;
text-transform: capitalize;
}
 .locationsdrops{ border-bottom: 2px solid #00000024;padding: 7px}
  .locationsdrops:hover{background-color: #ffca00;color: black}
 .search{width: 11%}
 .mat-form-field { width: 50%}
 .tdimages{width: 30%;}
 .bases{border-right: 1px solid #8080806b;}
 .boxshaves{ border: 1px solid; padding: 10px;box-shadow:10px 10px 5px 10px 18px grey;background-color: #0070ff5c; }
  .s{ border: 1px solid;  padding: 10px;  box-shadow: 5px 10px  ;background-color: #0070ff5c;  }
  .bbc{
    width: 40%;
    font-weight: bolder;
    color: #1c2277;
    font-size: 25px;
    text-transform: capitalize;}
  
    .dff:hover{
      color:orange;
    }
    .sides{color:blue; text-transform: capitalize;}
    .mains{margin-top: 25px;
      text-transform: capitalize;}
    .moresde{
      color: red;
      font-size: 14px; }
    .boxshaws{ 
      padding: 10px;
      box-shadow: 40px 32px 24px black;
    margin-bottom: 40px;
    cursor: pointer;
    }
    .boxshaws:hover{color:orange}
    .imgs{border-right: 2px solid;}
 .titlesshopname{text-align: center;
  font-size: 25px;}
  .normaldetails{    color: black;
    font-weight: bold;}
    .insidecap{
      text-transform: capitalize
    }
    .side{ color: blue;  text-transform: capitalize;  font-size: 25px;}
    .anchoas{text-decoration: none;color:black}
