  <!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT"> YES TELANGANA </a>
      </div>
      <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewProfile()"><a  class=""> 
                    <img src="{{resClients.images2}}" class="img-circle"  style="width:100%">  </a></li>
  
  
            
          </ul>
       <!-- <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewnoti()"><a  class=""> 
                    <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
  </ul> -->
         
  <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
     <div class="col-sm-12">
  
            <img src="{{resClients.images2}}" class="img-circle"  style="width:45%">
     </div>
     <div class="col-sm-12">
            <div class="col-sm-12">
                    <h5 class="fnamess">    {{resClients.name}}</h5>
             </div>
           
             <div class="col-sm-12">
                    <p>   {{resClients.emailId}}</p>
             </div>
            
     </div>
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
     </div>
    
  </div>
  
  
  <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
    <div class="col-sm-12">
  
           <img src="{{resClients.images2}}" class="img-circle"  style="width:45%">
   </div> 
    
  </div>  
  
    </div>
  </nav>




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities">
            <h3 class="acName"> <b> Activities </b></h3>
            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>

              <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                  <h4>Post / View   Service </h4>
              </div>

            <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post / View  Updates ({{clientUpdatesCount}}) </h4>
            </div>
           
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                          <h4> Galleries </h4>
                      </div>
                      
                          <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                                  <h4> Recieve Comments  ({{gcommc}}) </h4>
                              </div> 
                             
      
        </div>
       
  
      <div class="col-sm-8">
         <div class="col-sm-12" *ngIf="showmains">
            <div class="catog">
                <div class="bgshostel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 bghostels">
                              <h2 class="cnames"> {{resClients.resName}} </h2>    
                                <div class="col-sm-12 bgimg">
                                    <img src="{{resClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                                
                                </div>
                       <hr/>
                       
                        </div>
                        </div>
                        </div>
                        </div>
            
                        <!-- *********************about us*********************** -->
                 <div class="bgimgses">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-6 mains">
                     <div class="col-md-12">
              <img src="{{resClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
                
              <hr/>
              </div>
              </div>
              <div class="col-sm-6 mains">
                <div class="col-md-12">
                  <p class="aboutus"> About Us  </p>
                  <p class="aboutuso">  {{resClients.aboutUseDes1}}</p>
                  <p class="aboutust"> {{resClients.aboutUseDes2}} </p>
              <hr/>
              <h3 class="aboutusts"> <b> {{resClients.name}} </b></h3>
              <hr/>
              </div>
              </div>
                  </div>
                </div>
              </div>
                        <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="col-sm-12 timings">
                                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                <ul>
                  <li class="nones"> {{resClients.day1}} </li>
                  <li class="nones"> {{resClients.day2}} </li>
                  <li class="nones"> {{resClients.day3}} </li>
                  <li class="nones"> {{resClients.day4}} </li>
                  <li class="nones"> {{resClients.day5}} </li>
                  <li class="nones"> {{resClients.day6}} </li>
                  <li class="nones"> {{resClients.day7}} </li>
                  <li class="nones"> Hours of Operations : <span class="timing"> {{resClients.allTimes}} </span> </li>
                </ul>
                <hr/>
                                </div>
                              
                                  <hr/>
                                  <div class="col-sm-12 e addes">
              
                                      <h4 class="ads"> Address </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons addresscap">
                                         H No:{{resClients.houseNo}} , {{resClients.subArea}},{{resClients.landmark}},{{resClients.city}}
                                         {{resClients.distict}},
                                          {{resClients.state}},
                                          {{resClients.pincode}}
                                    </div>
                      
                                  </div>
                               
                                  <div class="col-sm-12 e addes">
                                      <h4 class="ads"> Contact informations </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons">
                <p>  
                    <span class="glyphicon glyphicon-phone-alt"> office no: {{resClients.officeNo}} 
                    
                </span>
                 </p>
                                            <br>
                  <p> 
                       <span class="glyphicon glyphicon-earphone">
                             Mobile No: {{resClients.mobileNo}} 
                      </span></p>
                                              <br>
                          <p> <i class="fa fa-whatsapp" aria-hidden="true">
                               whatsapp No: {{resClients.whatsupno}} </i></p>
                                                                        <br>
                                         <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{resClients.emailId}} </i>
                                           
                                          </p> 
                                            <br>
                                            
                                      </div>
                
                                    </div>
                                </div>
                <div class="col-sm-9 divb">
                   <div class="col-sm-12">
                     <h2> Our Team </h2>
                         <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
            
                          </ol>
                      
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                      
                            <div class="item active">
                              <img src="{{resClients.images3}}"  class="img-thumbnail"  style="width:100%;height:500px">
                             
                            </div>
                      
                            <div class="item">
                              <img src="{{resClients.images4}}" class="img-thumbnail"  style="width:100%;height:500px">
                            
                            </div>
                          
                            <div class="item">
                              <img src="{{resClients.images5}}" class="img-thumbnail" style="width:100%;height:500px">
                             
                            </div>
                        
                            <div class="item">
                                <img src="{{resClients.images6}}"  class="img-thumbnail"  style="width:100%;height:500px">
                               
                              </div>
                          </div>
                      
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                         
                      
                        </div>
                        <h4><b> Our Team Works : </b><span class="teams"> {{resClients.ourTeam}} </span></h4>
                        <h4><b> Team Members Names : </b> <span class="teams">    {{resClients.teamMembersNames}} </span></h4>
                        <h4><b> Team Descriptions : </b> <span class="teams">  {{resClients.teamDescriptions}} </span></h4>
                   </div>
                  
                    
            </div>
                </div>
              </div>
                <!-- ********************* end main ***************************** pending 1 div -->
                </div>
         </div>
  
         <div class="col-sm-12" *ngIf="updatesShows">
            <h3> Post Updates </h3>

            <div class="col-sm-12">
                         
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.descriptions" name="descriptions">
                                  </mat-form-field>
                                 
          
        <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
        <p> Video </p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" placeholder="please enter images1" class="updated" name="viedoes" >
        
                <button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>
              
          <!-- ******************* UPDATES PRESENT ********************************* -->
          
          <div class="col-sm-12  clearfix">
            <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3>
              <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
                <div class="col-sm-12">
                    <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                      <a> 
                          <img src="{{up.images}}" alt="about us" style="width:100%"></a>
                </div>
          
          
                <div class="col-sm-12 viedoes">
                    <video width="100%" height="400px" controls>
                        <source src="{{up.viedoes}}" type="video/mp4">
                       </video>
                  </div>
                  <div class="col-sm-12 viedoes">
                      <video width="100%" height="400px" controls>
                          <source src="https://videobin.co/icyi910t66ai" type="video/mp4">
                         </video>
                    </div>
                 
                  <div class="col-sm-12">
                      <h3> {{up.title}} </h3>
                      <h6> {{up.descriptions}} </h6>
                   </div>
          
                   <!-- <div class="col-sm-3" (click)="shareClick(up)">
                          <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                            share </p>
                       </div> -->
                      <div class="col-sm-3" (click)="commentsClick(up)">
                          <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                            <span class=""> comments </span> 
                         </p>
                  </div>
                  <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                      <div class="col-sm-1">
                          <a href="https://www.facebook.com/" target="_blank">
                      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                      </a>
                  </div>
                      
                        <div class="col-sm-1">
                                <a href="https://www.whatsapp.com/" target="_blank">
                            <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                </a>
                      </div>
                         <div class="col-sm-1">
                           <a href="https://plus.google.com/discover" target="_blank">
                           <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                         </div>
             <div class="col-sm-1"> 
                 <a href="https://twitter.com/login" target="_blank">
                   <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
             </div>
           <div class="col-sm-1"> 
              <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
             </div>
                  </div>
              
                <div class="col-sm-12">
                    <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                       
                      <div class="col-sm-12">
                        <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
                    </div>
                  </div>
           
            <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
          <div class="col-sm-12" *ngFor="let comms of getUsersComments">
            <div class="col-sm-12 userscomm">
            <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                             <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                              <h6>  {{comms.descriptions}} </h6> 
           </div>                  
                          <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                                  <a class="replyses">
                                      <b class="replies lsc"> reply   </b></a>
                              </div> 
                            
                              
        
              <div  class="u" *ngIf="replyfrom && replyid == comms._id">
                  <mat-form-field class="example-full-width">
                      <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                    </mat-form-field>
                    <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
                <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
                    <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
               <img src="{{resClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
                  {{resClients.name}}:</span>
                 <h6> {{rep.descriptions}} </h6> 
                 </div> 
                 </div> 


                </div>
                </div>
              </div>
          </div>
        </div>
                </div>
           </div>
   </div>
           <div class="col-sm-12" *ngIf="viewupdatesShows">
              <div class="col-sm-12">
                  <h3> Post / View Services </h3>
                </div>
                <div class="col-sm-12">
  <div class="col-sm-12">
      <h3> Post Services </h3>
  
      <h3> Create Food Catageries </h3>
       
        <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter your food Type Catageries" [(ngModel)]="fd.foodType1" name="foodType1">
          </mat-form-field>
         
  
  <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFoodTypeOne($event,'images')" placeholder="please enter images1" class="updated" name="images1" >
   
  <button class="btn-primary upbuttons" (click)="foodCatOne()"> submit </button>
  </div>
  <div class="col-sm-12">
      <h3 class="foodType">  Food Type </h3>
  </div>
                  <div class="col-md-6" *ngFor="let fd of foodTypeOnes" (click)="selectFoodType(fd)">
                    <div class="thumbnail">
                      <a>
                        <img src="{{fd.images}}" style="width:100%;height:200px;">
                        <div class="caption">
                          <p> <b> {{fd.foodType1}} </b> </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- **************************************************** food dish ***********************************/  -->
                  <div class="col-sm-12">
                      <h3 class="foodType"> Create  Food Type Dish For <span class="dishes"> {{selectFoodOneName}} </span> </h3>
                      
  
                      <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your food Type foodDish" [(ngModel)]="ftd.foodDish" name="foodDish">
                            </mat-form-field>
                           
                    
                    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFoodTypeDish($event,'images')" [(ngModel)]="ftd.images" placeholder="please enter images1" class="updated" name="images1" >
                     
                    <button class="btn-primary upbuttons" (click)="foodCatDish()"> submit </button>
                      </div>
  
                      <div class="col-sm-12">
                          <h3 class="foodType"> <span class="dishes"> {{selectFoodOneName}} </span> Food   Dish   </h3>
                          <div class="col-sm-6" *ngFor="let fd of foodTypeDishs" (click)="selectFoodTypeDish(fd)">
                              <div class="thumbnail">
                                <a>
                                  <img src="{{fd.images}}" style="width:100%;height:200px;">
                                  <div class="caption">
                                    <p> <b> {{fd.foodDish}} </b> </p>
                                  </div>
                                </a>
                              </div>
                            </div>
                      </div>
                  </div>
                  <!-- *************************************************************************************/  -->
                  <!-- **************************************************** food dish types ***********************************/  -->
  
                  <div class="col-sm-12">
              <h3 class="foodType"> Create Food Menu For  <span class="dishes"> {{selectFoodOneName}} </span> /  <span class="dishess">  {{selectFoodDishName}} </span></h3>
                         <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your food Type Catageries" [(ngModel)]="fdTypes.foodType1" name="foodType1">
                          </mat-form-field>
                         
                  
                  <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFoodTypeTwo($event,'images')" placeholder="please enter images1" class="updated" name="images1" >
                   
                  <button class="btn-primary upbuttons" (click)="foodCatTwo()"> submit </button>
                  </div>
                   <div class="col-sm-12">
                      <h3 class="foodType">   <span class="dishes"> {{selectFoodOneName}} </span> /  <span class="dishess">  {{selectFoodDishName}} </span>   Food Menu ({{foodTypeTwosC}})</h3>
  
                  </div>
  
                  <div class="col-md-5" *ngFor="let fd of foodTypeTwos" (click)="selectFoodTypeTwo(fd)">
                      <div class="thumbnail">
                        <a>
                          <img src="{{fd.images}}" style="width:100%;height:200px;">
                          <div class="caption">
                            <p> <b> {{fd.foodType2}} </b> </p>
                          </div>
                        </a>
                      </div>
                    </div>
                                  <!-- *************************************************************************************/  -->
  
                    <div class="col-sm-12">
                        <h3 class="foodType"> Create <span class="fdsssa">  {{selectFoodTwoName}} </span> Items </h3>
                         
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your food  Name" [(ngModel)]="fds.foodName" name="food Name">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter your food  chef Master Name" [(ngModel)]="fds.chefMasterName" name="chef Master Name">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your food Quantity" [(ngModel)]="fds.foodQuantity" name="food Quantity">
                                </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your food  foodPrice" [(ngModel)]="fds.foodPrice" name="foodPrice">
                                </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your food  Years Of Exp" [(ngModel)]="fds.YearsOfExp" name="Years Of Exp">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter your  food Descriptions" [(ngModel)]="fds.foodDescriptions" name="food Descriptions">
                                  </mat-form-field> 
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="please enter your  food Advantages" [(ngModel)]="fds.foodAdvantages" name="food Advantages">
                                    </mat-form-field> 
                    
                    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFoodServices($event,'images')" placeholder="please enter images" class="updated" name="images1" >
                     
                    <button class="btn-primary upbuttons" (click)="foodSerivesPosts()"> submit </button>
                    </div>
  <div class="col-sm-12 ">
    <h3 class="foodType"> <span class="dishes"> {{selectFoodOneName}} </span> <span class="dishess">  {{selectFoodDishName}} </span> /  <span class="fdsssa">  {{selectFoodTwoName}} ({{foodSevicesC}}) </span>    </h3>
    
  <div class="col-sm-12" *ngIf="selectFoodOneName">
  
  
                    <div class="col-sm-12 maindivss" *ngFor="let fd of foodSevices ; index as i">
                      <div class="col-sm-12">
                          {{i+1}} .
                      </div>
                      <div class="col-sm-6">
                          <div class="thumbnail">
                              <a>
                                <img src="{{fd.images}}" style="width:100%;height:200px;">
                               </a>
                            </div>
                      </div>
                      <div class="col-sm-6">
  
                          <h3> <b class="fdss"> Name: </b> <span class="fds"> {{fd.foodName}} </span></h3>
                          <h3> <b class="fdss"> Food Quantity: </b>  <span class="fds"> {{fd.foodQuantity}} </span> </h3>
  
                          <h3> <b class="fdss"> Food Descriptions: </b> <span class="fds">  {{fd.foodDescriptions}} </span> </h3>
                          <h3> <b class="fdss"> Food Healty Tips : </b>  <span class="fds"> {{fd.foodAdvantages}} </span> </h3>
                          <h3> <b class="fdss">   price: </b>  <span class="fds"> {{fd.foodPrice}} </span> </h3>
  
                          <h3> <b class="fdsss"> Food Chef Master: </b> <span class="yts"> {{fd.chefMasterName}} </span> </h3>
                          <h3> <b class="fdsss"> Years Of Exp  : </b> <span class="yts"> {{fd.YearsOfExp}} </span> </h3>
                         </div>
                    </div>
                  </div>
                  </div>
                </div>
   
             </div>
  
             
  
         <div class="col-sm-12" *ngIf="ImagesShows">
            <div class="col-sm-12"> 
                <h3 class="gimages"> General Images </h3>
               
  <div class="col-sm-4 mars">
    <a href="{{resClients.images1}}" target="_blank"> 
        <img src="{{resClients.images1}}" alt="about us" style="width:100%;height:250px"> 
     </a>
  </div>
  <div class="col-sm-4 mars">
        <a href="{{resClients.images2}}" target="_blank"> 
            <img src="{{resClients.images2}}" alt="about us" style="width:100%;height:250px"> 
         </a>
     </div>
    <div class="col-sm-4 mars">
            <a href="{{resClients.images3}}" target="_blank"> 
                <img src="{{resClients.images3}}" alt="about us" style="width:100%;height:250px"> 
             </a>
         </div>
        <div class="col-sm-4 mars">
                <a href="{{resClients.images4}}" target="_blank"> 
                    <img src="{{resClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
  
            <div class="col-sm-4 mars">
                    <a href="{{resClients.images5}}" target="_blank"> 
                        <img src="{{resClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
  
                <div class="col-sm-12">
                        <h1 class="gimages"> Update Images </h1>
                        <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                <a href="{{item.images}}" target="_blank"> 
                                    <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                 </a>
                             </div>
        
                </div>
                 <div class="col-sm-12">
                        <h1 class="gimages"> Update Viedoes  </h1>
                        <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                <a href="{{pro.viedoes}}" target="_blank"> 
                                        <video width="100%" controls>
                                                <source src="{{pro.viedoes}}" type="video/mp4">
                                                
                                               </video> 
                                                  
                                 </a>
                            </div>
                 </div>
          </div>
           </div>
  
           <div class="col-sm-12" *ngIf="ProductsShows">
              <div class="col-sm-12">
                  <h2> General Comments ({{gcommc}})</h2>
                  <table class="table table-hover">
                      <thead>
                         
                          <tr class="insidecap tablessc">
                                
                                  <th> Name</th>
                                  <th class="standards"> email Id</th>
                                  <th>Contact No</th>
                                  <th> Comments</th>
                                  <th> Posted on Date </th>
                                  <th> Time </th>
                                 </tr>
                        </thead>
              <tbody>
                <tr *ngFor="let s of gcomm">
                   <td><p> {{s.name}}</p></td>
                  <td><p> {{s.email}}</p></td>
                  <td><p> {{s.contactNo}} </p></td>
                  <td> <p> {{s.leaveComment}} </p> </td>
                   <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                  <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
            
                </tr>
                
              </tbody>
                </table>
                
               </div>
                 </div>
         
          
      </div>
    </div>
</div>  
