<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{clientsInd.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{clientsInd.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{clientsInd.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{clientsInd.emailId}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">

         <img src="{{clientsInd.images2}}" class="img-circle"  style="width:45%">
 </div> 
  
</div>  

  </div>
</nav>




<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
              <h4> Post / View   Sericves</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
              <h4> Post  / View Total No of Custumers  </h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
              <h4> Post / View Fecilities  </h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post  / View  Updates</h4>
          </div>

            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{gcommc}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                    
                        
                             
    
      </div>
     
    <div class="col-sm-8">
       <div class="col-sm-12" *ngIf="showmains">
          <div class="catog">
              <div class="bgshostel">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-12 bghostels">
                  
                            
                              <h2 class="cnames"> {{clientsInd.instName}} </h2>    
                              <div class="col-sm-12 bgimg">
                                  <img src="{{clientsInd.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                              
                              </div>
                  
                  <hr/>
                     
                      </div>
                      </div>
                      </div>
                      </div>
            
                      <!-- *********************about us*********************** -->
               <div class="bgimgses">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 mains">
            
                        
            <div class="col-md-12">
            <img src="{{clientsInd.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
              
            <hr/>
            </div>
            </div>
            <div class="col-sm-6 mains">
            
                
            <div class="col-md-12">
                <p class="aboutus"> About Us  </p>
                <p class="aboutuso">  {{clientsInd.aboutUseDes1}}</p>
                <p class="aboutust"> {{clientsInd.aboutUseDes2}} </p>
            <hr/>
            <h3 class="aboutusts"> <b> {{clientsInd.name}} </b></h3>
            <hr/>
            </div>
            </div>
                </div>
              </div>
            </div>
                      <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                              <div class="col-sm-12 timings">
                                  <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
              <ul>
                <li class="nones"> {{clientsInd.day1}} </li>
                <li class="nones"> {{clientsInd.day2}} </li>
                <li class="nones"> {{clientsInd.day3}} </li>
                <li class="nones"> {{clientsInd.day4}} </li>
                <li class="nones"> {{clientsInd.day5}} </li>
                <li class="nones"> {{clientsInd.day6}} </li>
                <li class="nones"> {{clientsInd.day7}} </li>
                <li class="nones"> Hours of Operations : <span class="timing"> {{clientsInd.allTimes}} </span> </li>
              </ul>
              <hr/>
                              </div>
                            
                                <hr/>
                                <div class="col-sm-12 e addes">
            
                                    <h4 class="ads"> Address </h4> 
                                    <hr/>
                                    <div class="col-sm-12 cons addresscap">
                                       H No:{{clientsInd.houseNo}} , {{clientsInd.subArea}},{{clientsInd.landmark}},{{clientsInd.city}}
                                       {{clientsInd.distict}},
                                        {{clientsInd.state}},
                                        {{clientsInd.pincode}}
                                  </div>
                    
                                </div>
                             
                                <div class="col-sm-12 e addes">
                                    <h4 class="ads"> Contact informations </h4> 
                                    <hr/>
                                    <div class="col-sm-12 cons">
              <p>  
                  <span class="glyphicon glyphicon-phone-alt"> office no: {{clientsInd.officeNo}} 
                  
              </span>
               </p>
                                          <br>
                <p> 
                     <span class="glyphicon glyphicon-earphone">
                           Mobile No: {{clientsInd.mobileNo}} 
                    </span></p>
                                            <br>
                        <p> <i class="fa fa-whatsapp" aria-hidden="true">
                             whatsapp No: {{clientsInd.whatsupno}} </i></p>
                                                                      <br>
                                       <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{clientsInd.emailId}} </i>
                                         
                                        </p> 
                                          <br>
                                          
                                    </div>
              
                                  </div>
                              </div>
              <div class="col-sm-9 divb">
                 <div class="col-sm-12 carouseldiv">
                   <h2> Our Team Members </h2>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                  
                          </ol>
                      
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                              <img src="{{clientsInd.images3}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                            </div>
                      
                            <div class="item">
                              <img src="{{clientsInd.images4}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                            </div>
                          
                            <div class="item">
                              <img src="{{clientsInd.images5}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                            </div>
                            <div class="item">
                              <img src="{{clientsInd.images6}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                            </div>
                          </div>
                      
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
            
                      </div>
                      <h4><b> Our Team Works : </b><span class="teams"> {{clientsInd.ourTeam}} </span></h4>
                      <h4><b> Team Members Names : </b> <span class="teams">    {{clientsInd.teamMembersNames}} </span></h4>
                      <h4><b> Team Descriptions : </b> <span class="teams">  {{clientsInd.teamDescriptions}} </span></h4>
                 </div>
                
                  
            
              </div>
            </div>
              <!-- ********************* end main ***************************** pending 1 div -->
            <div class="col-sm-12">
               
                 <h2> Our Services </h2>
                <h4><b>  </b><span class="teams"> {{clientsInd.servicesDescriptionsOne}} </span></h4>
                <p><b>  </b><span class="teams"> {{clientsInd.servicesDescriptionsOne}} </span></p>
              
             </div>
            
            </div>
            
       </div>
       <div class="col-sm-12" *ngIf="viewupdatesShows">
        <div class="col-sm-12">
          <h2> Post / View Services </h2>
           </div>

           <div class="col-sm-12">
              <h2> Post Services </h2>
              <div class="col-sm-6">
                   <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter Vechile Name" [(ngModel)]="ser.vehicleName" name="vehicleName">
                  </mat-form-field>
 
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter Type Of Vechile" [(ngModel)]="ser.vehicleType" name="vehicleType">
                    </mat-form-field>

                     <hr/>
      <p> Vechiles Image </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesI($event,'vehicleImg')" [(ngModel)]="ser.vehicleImg"   class="updated" name="vehicleImg" >
      <hr/>
               
                <button class="btn-primary upbuttons" (click)="updateServices()"> submit </button>
                    
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{servicevehicleNames}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li class="locationsdrops" *ngFor="let get of servicesOneGets" (click)="vechilesNamesClicks(get)">{{get.vehicleName}}</li>
                          </ul> 
                </div>
                <div class="col-sm-6">
                    <h3> Post Customers  Services</h3>
                  
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter learning Periods 1" [(ngModel)]="serc.learningPeriods1" name="learningPeriods1">
                        </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter learning Periods 2" [(ngModel)]="serc.learningPeriods2" name="learningPeriods2">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter learning Periods 3" [(ngModel)]="serc.learningPeriods3" name="learningPeriods3">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter providence" [(ngModel)]="serc.providence" name="providence">
                          </mat-form-field> 
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter shifts" [(ngModel)]="serc.shifts" name="shifts">
                            </mat-form-field> 
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter timmings" [(ngModel)]="serc.timmings" name="timmings">
                              </mat-form-field> 
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter hours Of Operations" [(ngModel)]="serc.hoursOfOperations" name="hoursOfOperations">
                                </mat-form-field> 
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter routes Covered From" [(ngModel)]="serc.routesCoveredFrom" name="routesCoveredFrom">
                                  </mat-form-field> 
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="please enter routes Covered To" [(ngModel)]="serc.routesCoveredTo" name="routesCoveredTo">
                                    </mat-form-field> 
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="please enter trainerName" [(ngModel)]="serc.trainerName" name="trainerName">
                                      </mat-form-field>   
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="please enter trainerExp" [(ngModel)]="serc.trainerExp" name="trainerExp">
                                        </mat-form-field> 
                                       
                                    <hr/>
        <p> trainer Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesT($event,'trainerImg')" [(ngModel)]="serc.trainerImg"   class="updated" name="trainerImg" >
 
        <hr/>
                
                  <button class="btn-primary upbuttons" (click)="updateServicesTwo()"> submit </button>
                      
                  </div>
                 
           </div>
           <div class="col-sm-12">
              <h4> Our Services Names ({{servicesOneGetc}})</h4>
              <ol *ngFor="let vec of servicesOneGet">
                <li> <b> {{vec.vehicleName}} </b> </li>
              </ol>
            </div>
           <div class="col-sm-12" *ngFor="let vec of servicesOneGet">
            
             <div class="col-sm-4 divservies" (click)="ServicesOneClick(vec)">
                <h4> {{vec.vehicleName}} </h4>
              <img src="{{vec.vehicleImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
             
              <h4> {{vec.vehicleType}} </h4>

             </div>
           
           
             <div class="col-sm-7" *ngIf="servicesIds == vec._id">
                <div class="col-sm-12">
                    <h3> Our Customers   By Batch ({{servicesTwosc}})</h3>
                  </div>
              <div class="col-sm-12 maindivs" *ngFor="let vec of servicesTwos">
                

                <div class="col-sm-7">
                     <h4><b> Customer Shifts : </b> {{vec.shifts}} </h4>
                    <h4> <b> Customer Timmings : </b> {{vec.timmings}} </h4>
                    <h4> <b> Customer Hours Of Operations : </b> {{vec.hoursOfOperations}} </h4>
                </div>
                <div class="col-sm-12">
                    <h4> <b> learning Periods 1 : </b> {{vec.learningPeriods1}} </h4>
                   <h4> <b> learning Periods 2 : </b> {{vec.learningPeriods2}} </h4>
                   <h4> <b> learning Periods 3 : </b> {{vec.learningPeriods3}} </h4>
                   <h4> <b> providence : </b> {{vec.providence}} </h4>
                   <h4> <b> Routes Covered From : </b>  {{vec.routesCoveredFrom}} </h4>
                   <h4> <b> Routes Covered To : </b> {{vec.routesCoveredTo}} </h4>
                </div>
                <div class="col-sm-12">
                    <img src="{{vec.trainerImg}}" class="img-thumbnail" alt="about us" style="width:100%"> 
                    <h4> <b>trainer Name : </b>  {{vec.trainerName}} </h4>
                    <h4> <b> trainer Years Of Experence : </b>  {{vec.trainerExp}} </h4>
                </div>

              </div>
               
              
            </div>
           
           </div>
       </div>
       <div class="col-sm-12" *ngIf="updatesShows">
          <div class="col-sm-12">
                     <h2> Post  / View  Updates </h2>
                     <h2> Post    Updates </h2>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.description" name="descriptions">
                  </mat-form-field>
                 

<p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images')" [(ngModel)]="ups.images" class="updated" name="images1" >
<p> Viedeos</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" [(ngModel)]="ups.viedoes" class="updated" name="viedoes" >

<button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>
    
</div> 
           <!-- ******************* UPDATES PRESENT ********************************* -->
  
     <div class="col-sm-12">
        <h2> View  Updates </h2>
        <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
          <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
            <div class="col-sm-12">
                <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                  <a> 
                      <img src="{{up.images}}" alt="about us" style="width:100%"></a>
            </div>
      
      
            <div class="col-sm-12 viedoes">
                <video width="100%" height="400px" controls>
                    <source src="{{up.viedoes}}" type="video/mp4">
                   </video>
              </div>
          
              <div class="col-sm-12">
                  <h3> {{up.title}} </h3>
                  <h6> {{up.description}} </h6>
               </div>
      
               <!-- <div class="col-sm-3" (click)="shareClick(up)">
                      <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                        share </p>
                   </div> -->
                  <div class="col-sm-3" (click)="commentsClick(up)">
                      <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                        <span class=""> comments </span> 
                     </p>
              </div>
              <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                  <div class="col-sm-1">
                      <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                  </a>
              </div>
                  
                    <div class="col-sm-1">
                            <a href="https://www.whatsapp.com/" target="_blank">
                        <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                            </a>
                  </div>
                     <div class="col-sm-1">
                       <a href="https://plus.google.com/discover" target="_blank">
                       <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                     </div>
         <div class="col-sm-1"> 
             <a href="https://twitter.com/login" target="_blank">
               <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
         </div>
       <div class="col-sm-1"> 
          <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
         </div>
              </div>
          
            <div class="col-sm-12">
                <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                      <div class="col-sm-12">
                    <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
                </div>
              </div>
       
        <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
      <div class="col-sm-12" *ngFor="let comms of getUsersComments">
        <div class="col-sm-12 userscomm">
        <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                         <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                          <h6>  {{comms.descriptions}} </h6> 
       </div>                  
                      <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                              <a class="replyses">
                                  <b class="replies lsc"> reply   </b></a>
                          </div> 
                       
      
      
          <div  class="u" *ngIf="replyfrom && replyid == comms._id">
              <mat-form-field class="example-full-width">
                  <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                </mat-form-field>
                <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
         
            <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
                <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
           <img src="{{clientsInd.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
              {{clientsInd.name}}:</span>
             <h6> {{rep.descriptions}} </h6> 
             </div> 
             </div> 
      
            </div>
          </div>
      </div>
            </div>
          </div>
               
                     <!-- **************************************************** -->
                
     
         </div>
       <div class="col-sm-12" *ngIf="onlyCommentsShows">
          <h2> General Comments ({{gcommc}})</h2>
          <table class="table table-hover">
              <thead>
         
                      <tr class="insidecap tablessc">
                            
                              <th> Name</th>
                              <th class="standards"> email </th>
                              <th>contactNo</th>
                              <th> Posted on Date </th>
                              <th> Time </th>
                             </tr>
                    </thead>
          <tbody>
            <tr *ngFor="let s of gcomm">
               <td><p> {{s.name}}</p></td>
              <td><p> {{s.email}}</p></td>
              <td><p> {{s.contactNo}} </p></td>
              <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
              <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
        
            </tr>
            
          </tbody>
        </table>
        
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{clientsInd.images1}}" target="_blank"> 
      <img src="{{clientsInd.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{clientsInd.images2}}" target="_blank"> 
          <img src="{{clientsInd.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{clientsInd.images3}}" target="_blank"> 
              <img src="{{clientsInd.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{clientsInd.images4}}" target="_blank"> 
                  <img src="{{clientsInd.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{clientsInd.images5}}" target="_blank"> 
                      <img src="{{clientsInd.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>
               <div class="col-sm-4 mars">
                  <a href="{{clientsInd.images6}}" target="_blank"> 
                      <img src="{{clientsInd.images6}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Viedoes  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                  </a>
                          </div>
               </div>
        </div>         </div>

         
          <div class="col-sm-12" *ngIf="ProductsViewShows">
              <h2>  Post / View Fecilities </h2>

              <h2>  Post  Fecilities </h2>
                  
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter ficilities Name" [(ngModel)]="fec.fecilitiesName" name="customerName">
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter ficilities descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="vehicleType">
                  </mat-form-field>

                   <hr/>
    <p>   Fecilities Image </p>  <input type="file" #Image accept="image/*"  (change)="handleFileFecilities($event,'fecilitiesImg')" [(ngModel)]="fec.fecilitiesImg"   class="updated" name="fecilitiesImg" >
    <button class="btn-primary upbuttons" (click)="feiciliesPosts()"> submit </button>

    <hr/>
    <div class="col-sm-12">
        <h2>   View Fecilities ({{fecilitiesGetsc}})</h2>
        <div class="col-sm-4" *ngFor="let tot of fecilitiesGets">
            <img src="{{tot.fecilitiesImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:200px"> 

            <h4> <b> Name : </b> {{tot.fecilitiesName}} </h4>
           <h4> <b> Descriptions : </b> {{tot.fecilitiesDescriptions}} </h4>
        </div>
    </div>
      </div>
      
      </div>  
    </div>
  </div>
