 
 <div class="col-md-12 col-xs-12">
  <div class="col-sm-4" *ngFor="let get of locationsget">
      <a [routerLink]="['/classifieds/classifiedsGeneralsIds',get._id,get.locations]">

      <div class="panel panel-primary dff boxshaws">
           <div class="panel-body dffff">
               
              <img src="{{get.images}}" alt="about us" style="width:100%; height: 260px;"> 
              <h2 class="catstyle text-center"> {{get.locations}}</h2>
          </div>
        </div>
</a>
      </div>

</div> 
