.bghostels{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-radius: 1%;
}
.insidecap{
    text-transform: capitalize;
    font-weight: bolder
  }
  .cnames{background: #0070ff5c; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize;color: #3c3838;padding: 15px; box-shadow: 35px 28px 10px black;}

    .fontsize{font-size: 12px;list-style: none}
.bgimg{padding-bottom: 30px;margin-top:40px}
.nones{list-style: none}
.tdadjs{width:40%;text-align: justify;font-size: 12px;}
.tdadjss{width:56%;text-align: justify;}
.ads{padding-top: 20px;font-size: 25px;color: black;font-weight: bolder}
.topsandbot{margin-top: 30px;margin-bottom: 30px;}
.tablessc{background-color:blue}
.viedoes{margin-top:35px;margin-bottom:35px;}
.tablesscc{background-color:rgba(255, 0, 0, 0.65)}
.tablessccs{background-color:rgba(0, 255, 0, 0.733)}
.tablesscd{background-color: #8080802b;}
.tablesscds{background-color:white;}
.dfd{    font-weight: bolder;
    font-size: 25px;text-transform: capitalize}
.gh{border-right: 5px solid;}
.lsc{cursor: pointer;}
.e{
    
    background-image: url("/assets/images/e.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 20px;
  color: antiquewhite;
  margin-top: 45px
}
.addimg{
    padding: 15px;
}
.addimgs{
    padding: 15px;
    border: 1px solid #0000ff1a;
}
.sdsthree{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.co{
    background-color: #8080804f;
}
.comments{
    
    background-image: url("/assets/images/des.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    /* margin-bottom: 90px; */
    /* height: 500px; */
  padding-top: 20px;
  margin-top: 60px;
}
.vsb{
    padding: 11px;
    border-radius: 6px;
    border: none;
    width: 35%;
    margin-bottom: 50px;
}
.commens{
    margin-top: 40px;

}
.mat-form-field {
  
    width: 65% !important;
}
.profilepic{
    margin:20px;
}
.profpag{
    margin-left: 100px
}
.mainprog{
    text-align: justify
}
.names{color: blue}
.ds{

}
.times{margin-left: 30px}
.imgadd{font-size: 50px;}
.shares{font-size: 30px;
    font-weight: 100;
    color: blue;}

    /* **************animations**************** */
    .catog{
        position: relative;
        animation-name: catog;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    
    @keyframes catog{
        0%{left:-1000px;}
        100%{left:0;}
    }
 /* **************timings**************** */
 .timings{
    position: relative;
    animation-name: catog;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************images**************** */
.images{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************addes**************** */
.addes{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************mains**************** */
.mains{
    position: relative;
    animation-name: catog;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{top:1000px;}
    100%{top:0;}
}
/* **************mainss**************** */
.mainss{
    position: relative;
    animation-name: catog;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{right:1000px;}
    100%{right:0;}
}
/* ****************tables********** */
.standards{width: 17%;font-weight: bold;}
.years{width: 11%;}
.tabinter{
    font-size: 14px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.parts{color:red}
.fb{    color: blue;
    font-size: 40px;}
    .whatsp{
        color: green;
        font-size: 37px;
    }
    .twiter{color: #00d8ff;
        font-size: 40px;}
    .inst{
        color: #ef6981;
    font-size: 40px;
    }
    .datas{
        margin-bottom:50px;
    }
    .commm{list-style: none}
    .dfs{
        border: 1px solid blue;
        padding: 10px;
        -webkit-box-shadow: 10px 4px 14px 20px;
        box-shadow: 10px 4px 14px 20px;
        margin-top: 50px;
    }
    .titles{
        font-size: 25px;
        font-weight: bolder
    }
    .viewsComs{background-color: #d81d3f;padding: 10px;color: white;width: 35%;text-align: center;border-radius: 10px;cursor: pointer;}
    .replysess{color: white}
    .finalcss{margin-bottom:40px}