 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>
<div class="catog">
  <div class="bgshostel">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 bghostels">
                   <h2 class="cnames"> {{clientsInd.parlourName}} </h2>    
                    <div class="col-sm-12 bgimg">
                        <img src="{{clientsInd.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                     </div>
    
      <h4> over all view </h4>
      <ul class="overllview">
         
          <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> about us </span> 
               </a> 
          </li>
          <li class="fontsize"> <a href="#iamges" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> images </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> timings </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Services </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Equipments and Usages</span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Trainning informations</span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Total No Of Customers</span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Fecilities </span> 
                   
                 </a> 
             </li>
            
             <li class="fontsize"> <a href="#address" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Address</span> 
                 
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> contact informations</span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#com" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> leave comments</span> 
                 
                 </a> 
             </li>
          </ul>
          
          <hr/>
         
          </div>
          </div>
          </div>
          </div>
          <!-- *********************about us*********************** -->
   <div class="bgimgses">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mains">

             
<div class="col-md-12 images2">
        <img src="{{clientsInd.images2}}" class="img-thumbnail" alt="about us" style="width:100%;"> 
  
<hr/>
</div>
</div>
<div class="col-sm-6 mains">

    
<div class="col-md-12">
    <p class="aboutus"> About Us  </p>
    <p class="aboutuso"> 
            {{clientsInd.aboutUsDescription1}}
    </p>
    <p class="aboutust">  {{clientsInd.aboutUsDescription2}} </p>
<hr/>
</div>
</div>
    </div>
  </div>
</div>
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                  <div class="col-sm-12 timings">
                      <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
  <ul>
    <li class="nones">{{clientsInd.day1}}</li>
    <li class="nones"> {{clientsInd.day2}}</li>
    <li class="nones"> {{clientsInd.day3}} </li>
    <li class="nones"> {{clientsInd.day4}}</li>
    <li class="nones"> {{clientsInd.day5}} </li>
    <li class="nones"> {{clientsInd.day6}}</li>
    <li class="nones"> {{clientsInd.day7}} </li>
    <li class="nones"> Hours of Operations : <span class="alltimes"> {{clientsInd.allTimes}} </span> </li>
  </ul>
  <hr/>
                  </div>
                  <hr>
                  <div class="col-sm-12 images">
                  <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                  <hr/>                
                  <ul>
                      
                        <ul>
                          
                                <li class="nones col-sm-12 addimgs"> <a href="{{clientsInd.images1}}" target="_blank"><img src="{{clientsInd.images1}}" alt="about us" style="width:100%">  </a></li>
                                <li class="nones col-sm-12 addimgs"> <a href="{{clientsInd.images2}}" target="_blank">  <img src="{{clientsInd.images2}}" alt="about us" style="width:100%"> </a> </li>
                                <li class="nones col-sm-12 addimgs">    <a href="{{clientsInd.images3}}" target="_blank"><img src="{{clientsInd.images3}}" alt="about us" style="width:100%"> </a> </li>
                                <li class="nones col-sm-12 addimgs"><a href="{{clientsInd.images4}}" target="_blank"><img src="{{clientsInd.images4}}" alt="about us" style="width:100%"> </a> </li>
                                <li class="nones col-sm-12 addimgs"> <a href="{{clientsInd.images5}}" target="_blank"> <img src="{{clientsInd.images5}}" alt="about us" style="width:100%"> </a> </li>
                       
                     
                                      </ul>
  
                    </ul>
                    </div>
                    <hr/>
                    <div class="col-sm-12 e addes">
  
                        <h4 class="ads"> Address </h4> 
                        <hr/>
                        <div class="col-sm-12">
                                H No:{{clientsInd.houseNo}} , {{clientsInd.subArea}},{{clientsInd.landmark}},{{clientsInd.city}}
                                 
                                 {{clientsInd.distict}},
                                 {{clientsInd.state}},
                                 {{clientsInd.pincode}}
                           </div>
        
                    </div>
                 
                    <div class="col-sm-12 e addes">
                        <h4 class="ads"> Contact informations </h4> 
                        <hr/>
                        <div class="col-sm-12">
                                <p>  
                                        <span class="glyphicon glyphicon-phone-alt"> office no: {{clientsInd.officeNo}} 
                                        
                                    </span>
                                     </p>
                                                                <br>
                                      <p> 
                                           <span class="glyphicon glyphicon-earphone">
                                                 Mobile No: {{clientsInd.mobileNo}} 
                                          </span></p>
                                                                  <br>
                                              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                                                   whatsapp No: {{clientsInd.whatsupno}} </i></p>
                                                                                            <br>
                                                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{clientsInd.emailId}} </i>
                                                               
                                                              </p> 
                                                               
                                   
                             
                        </div>
  
                      </div>

                  </div>
  <div class="col-sm-9">
    
       
      <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="{{clientsInd.images3}}" alt="Los Angeles" style="width:100%;height:500px">
                      </div>
                
                      <div class="item">
                        <img src="{{clientsInd.images4}}" alt="Chicago" style="width:100%;height:500px">
                      </div>
                    
                      <div class="item">
                        <img src="{{clientsInd.images5}}" alt="New york" style="width:100%;height:500px">
                      </div>
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
          </div>
     
    
   </div>
   
                 
        <!-- ************************* our services *********************** -->

            <div class="col-sm-8">
             <h5 class="ours dfd"> our service ({{clientsServicesCount}}) </h5>
 
              <div class="col-sm-12">
                <div class="col-sm-12" *ngFor="let s of clientsServices">

                  <div class="col-sm-12">
                      <h5 class="pull-right"> <b>Posted on </b>  {{s.createdAt | date: 'dd/MM/yyyy'}} {{s.createdAt  | date: "shortTime"}} </h5>

                      <div class="col-sm-5 vdf">
                          <img src="{{s.images}}" alt="New york" style="width:100%;">
                      </div>
                      <div class="col-sm-7">
                          <p><b>Services Name :</b> {{s.servicesName}}</p>
                          <p> <b>Description :</b> {{s.description}} </p>
                       </div>

                  </div>


                </div>
              </div>
            </div>
 
<!-- ****************************************************************************************** -->
         <!-- ************************* our  equipments  and Usages*********************** -->

         <div class="col-sm-12">
            <h5 class="ours dfd"> our  equipments and usages ({{equipnmentsGetsCount}}) </h5>
 <div class="col-sm-12">
   <div class="col-sm-12" *ngFor="let item of equipnmentsGet">
<div class="col-sm-12 mac">
<div class="col-sm-5">
    <img src="{{item.images}}" alt="about us" style="width:100%;">
</div>
<div class="col-sm-7">
    <h4> <b> Equipnments :</b> {{item.equipnments}} </h4>

    <h4> <b> Usages :</b> {{item.usages}} </h4>

<p> <b> Description :</b> {{item.description}} </p>
 </div>
</div>
   </div>
 </div>
           </div>

<!-- ****************************************************************************************** -->
         <!-- ************************* Our Trainning informations *********************** -->
         <div class="col-sm-12">
            <h5 class="ours dfd"> Our Trainning informations ({{trainningGetsCount}}) </h5>
 <div class="col-sm-12">
   <div class="col-sm-12" *ngFor="let item of trainningGet">
<div class="col-sm-12 mactwo">
<div class="col-sm-5">
    <img src="{{item.images}}" alt="about us" style="width:100%;">
</div>
<div class="col-sm-7">

    <h4> <b> Trainner Name :</b> {{item.trainnerName}} </h4>
    <h4> <b> Trainner years Of Exp :</b> {{item.yearsOfExp}} </h4>
    <h4> <b> Batch Name :</b> {{item.tclassname}} </h4>
    <h4> <b> Shifts Name :</b> {{item.Shifts}} </h4>
    <h4> <b> Shifts Timmings From :</b> {{item.ShiftsTimmingsFrom}} </h4>
    <h4> <b> Shifts Timmings To :</b> {{item.ShiftsTimmingsTo}} </h4>
<p> <b> Description :</b> {{item.tclassDescription}} </p>
 </div>
</div>
   </div>
 </div>
           </div>
       

         <!-- ************************* Fecilities*********************** -->
         <div class="col-sm-12">
            <h5 class="ours dfd"> Our Fecilities ({{fecilitesGetsCount}}) </h5> 
            <div class="col-sm-12 fec"   *ngFor="let item of fecilitesGets">
                <div class="col-sm-4">
                    <img src="{{item.fecilitiesImg}}" alt="about us" style="width:100%;height:300px">
                    </div>
                    <div class="col-sm-8">
                        <h4> <b> Fecilities Name :</b> {{item.fecilitiesName}} </h4>
                        <h4> <b> Fecilities Descriptions :</b> {{item.fecilitiesDescriptions}} </h4>
                    </div>
            </div>

   
  </div>
 </div>
   <!-- ************************* Total No Of Customers *********************** -->
   <div class="col-sm-12">
        <h5 class="ours dfd"> Our Total No Of Customers ({{totalCustomersGetCount}}) </h5> 
<div class="col-sm-4" *ngFor="let item of totalCustomersGets">
<img src="{{item.customersImg}}" alt="about us" style="width:100%;height:300px">
<h4> <b> Customers Name :</b> {{item.customersName}} </h4>
<h4> <b> Customers Place :</b> {{item.customersPlace}} </h4>
</div>
</div>
          <!-- ********************************************** updates ******************************************** -->
          <div class="col-sm-8  col-sm-offset-3">
                <div class="col-sm-12">
                  <h5 class="dfd"> <b>Our Updates({{adminsupdateCountsall}})</b> </h5>
                   
                      <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                         <div class="col-sm-12" >
                            <p><b> {{item.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{item.createdAt  | date: "shortTime"}} </span> </b> </p>

                              <a *ngIf="item.images" href="{{item.images}}" target="_blank">  <img src="{{item.images}}" alt="about us" style="width:100%; height:600px"></a>
                            <div class="col-sm-12 viedoes" *ngIf="item.viedoes">
        
                            <video width="100%" height="400px" controls>
                                    <source src="{{item.viedoes}}" type="video/mp4">                                   
                                   </video>
                                  </div>
                                  <h6 class="insidecap titles"> {{item.title}} </h6>
                             <h6> {{item.descriptions}} </h6>
           
                         </div>
          
                <div class="col-sm-12" >         
              <hr/>
             
               
              <!-- <div class="col-sm-3 lsc finalcss" (click)="showicons()">
                  <div class="col-sm-12">
                      <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                        share </p>
                              
                  </div>
                  </div> -->
                  <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                      <p class="lsc"> {{adminsupdateCommentsCount}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                       <span class="lsd"> comments </span> 
                    </p>
                  </div>  
                  <div class="col-sm-12 consts">
                  <div class="col-sm-12 comentssuboit" *ngIf="shows">
                
                      <mat-form-field class="example-full-width">
                          <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="updatesCommentsdata.descriptions" name="descriptions" ></textarea>
                        </mat-form-field>
                        <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>
        
                        <div class="col-sm-12 viewsComs finalcss">
 
                            <a  class="replysess lsc finalcss"  (click)="updatestoAdmincommentsget(item._id)"><b> view comments ({{adminsupdateCommentsCount}}) </b></a> 
                        </div>
    <div class="col-sm-12">
                        <div class="col-sm-12 finalcss" *ngIf="showes && commentsUpdatesId == item._id">
                                  <li *ngFor="let items of  adminsupdateComments" class="commm">
                                          <h6> 
                                            <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>      
                                           
                                              <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                            {{items.descriptions}}  </h6>
                                            
                                       
                                            <br/>
                                            <h5 class="text-right">  <b>{{items.createdAt  | date: "shortTime"}}   </b> </h5>
                                           
                                          <br/>
                                            <a class="replyses" (click)="updatesAdminReply(items._id)">
                                              <b class="lsc"> reply : </b></a>
                                
                               <div *ngIf="showess && selectedblogIds == items._id" class="u">
    
                                  <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                      <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  
    
                                    <img src="{{clientsInd.images2}}" class="img-circle" alt="about us" style="width:4%"> <span class="replys">
                                      {{clientsInd.name}}:</span>
                                     <h6> {{replys.descriptions}} </h6> 
                                     <br/>
                                     <b>{{items.createdAt  | date: "shortTime"}}   </b> 
                                    </ul> 
                                </div>      
                              
                                       </li>
                                             
                                        </div>
              </div></div>
              <div class="col-sm-12 proc finalcss" *ngIf="show">
                    <div class="col-sm-1">
                            <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                        </a>
                    </div>
                        
                          <div class="col-sm-1">
                                  <a href="https://www.whatsapp.com/" target="_blank">
                              <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                  </a>
                        </div>
                           <div class="col-sm-1">
                             <a href="https://plus.google.com/discover" target="_blank">
                             <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                           </div>
               <div class="col-sm-1"> 
                   <a href="https://twitter.com/login" target="_blank">
                     <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
               </div>
             <div class="col-sm-1"> 
                <a href="https://www.instagram.com/accounts/login/" target="_blank">
                  <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
               </div>
              </div>
             
              </div>
             
            </div>
    
        </div> 
        </div>
        </div>       
              <!-- **************** com ************* -->
        
  <div class="container-fluid">
        <div class="row">
                <div class="col-sm-8 col-sm-offset-2 comments">
                  <h4 class="aboutu"> Leave your comments </h4> 
                  <hr/>  
                    <div class="col-sm-10 col-sm-offset-2">
                      <form class="example-form">
                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name" [(ngModel)]="comments.name" name="comments">
                          </mat-form-field>
                          </div>

                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Email Id" [(ngModel)]="comments.email" name="email">
                            </mat-form-field>
                            </div>

                            <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Contact No" [(ngModel)]="comments.contactNo" name="contact">
                              </mat-form-field>
                              </div>

                              <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="Leave a comment" [(ngModel)]="comments.leaveComment" name="leaveComment"></textarea>
                                </mat-form-field>
                              </div>
                          </form>
                       <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
                  </div>  

                 </div>
              </div>
</div> 

  </div>

  <div class="col-sm-12 footerback">
      <div class="col-sm-8 col-sm-offset-3">
        <div class="col-sm-8">
         
          <div class="col-sm-4">
           <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
       
            <h3>  Advertises  </h3>
          </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-sm-4">
          <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="homes">
       
            <h3> Feedback   </h3>
        </a>
      </div>
        </div>
       <div class="col-sm-8 catas">
          <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                  Animals  
          </a>
           /  
           <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
      
               Baby Care Centers  
          </a>
           /  
           <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
      
            Beauty Parlour   </a>
            /  
            <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="homes">
       
                Yes Telangana Services Classifieds 
           </a>
            / 
           
           <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
      
              Dance   </a>
               / 
               <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                Driving Schools  
             </a> 
             / 
               
             <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                 Fights Institutions 
             </a> 
             /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                Fire Works  
             </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
        
                 Function Halls 
            </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
        
                 Furnitures  
            </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
        
               GYM  
            </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                Hostels 
            </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
               Indoor Games  
             </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
          
                Marriage Bureaus  
            </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
      
                 Music  Institutions
            </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                Outdoor Games  
             </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
        
               Plants  
            </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                 Packers and Movers  
             </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                 Professional Insitutions  
             </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
        
               Real Estate 
            </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
      
                Restaurants  
            </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
      
         Swimming Pools  
            </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
                 Tutions  Centers  
            </a>
          
       </div>
       <div class="col-sm-8 locationcs">
         <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
       </div>
  
       <div class="col-sm-6">
        
        <h3> Keep in touch </h3>
        <div class="col-sm-2">
            <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
        <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
        </a>
    </div>
    
  <div class="col-sm-2"> 
  <a href="https://twitter.com/yestelanganase1" target="_blank">
  <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
  </div>
  <div class="col-sm-2"> 
  <a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
  <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
  </div>
  
  
        </div>
  <div class="col-sm-8 ">
  <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
  </div>
      </div>
    </div>