 
 <!-- ******************* nav bar ************************** -->
  <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
   <!-- ******************************************* -->



<div class="container-fluid first">
  <div class="row">
    <div class="col-sm-3">
      <div class="item active imgall" *ngFor="let one of aseight">
        <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
      </div>
      <div class="item active imgall" *ngFor="let one of asnine">
        <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
      </div>
      <div class="item active imgall" *ngFor="let one of asten">
        <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
      </div>
    </div>

      <div class="container">
         <div class="row">
            <div class="col-sm-9  catog">
                <div class="col-sm-12">
                    <div class=" ">
                         
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                          </ol>
                      
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active" *ngFor="let one of asone">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>
                      
                            <div class="item" *ngFor="let one of astwo">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>
                          
                            <div class="item" *ngFor="let one of asthree">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>

                              <div class="item" *ngFor="let one of asfour">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>
                              <div class="item" *ngFor="let one of asfive">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>
                              <div class="item" *ngFor="let one of assix">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>
                              <div class="item" *ngFor="let one of asseven">
                                <img src="{{one.images1}}" alt="about us" style="width:100%;height:400px">
                              </div>

                          </div>
                      
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                
                
                 </div>
                 <h2> Popular  Services</h2>
<!-- ***************** animals ************** -->
     
<div class="col-md-4 maindivs">
    <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="home"> 

  <div class="col-sm-8 alldivs">
      <div class="thumbnail ">

              
            <img src="assets/images/ani.png" alt="about us" style="width:100%;height:150px">
            <h5 class="lables">   Animals </h5>
         
        </div>
        <div class="col-sm-8 ">
            <p class="more">   more  </p>
          </div>
  </div>
</a>
  </div> 

 <!-- *****************baby care centers**************   -->
           
 <div class="col-md-4 maindivs">
    <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="home">

    <div class="col-sm-8 alldivs">
  <div class="thumbnail">
    
        
      <img src="assets/images/pre.jpg" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Baby Care Centers </h3>
   
  </div>
  <div class="col-sm-8 ">
      <p class="more">   more  </p>
      </div>
</div>
</a>
</div>
<!-- ***************** beautyparlour ************** -->
<div class="col-md-4 maindivs">
    <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="home"> 
    <div class="col-sm-8 alldivs">
<div class="thumbnail">
    <img src="assets/images/f.jpg" alt="about us" style="width:100%;height:150px">
    <h3 class="lables">  Beauty Parlour </h3>
</div>
<div class="col-sm-8">
     <p class="more">   more  </p>
  </div>
</div>
</a>
</div> 
<!-- ***************** Classifieds ************** -->
<div class="col-md-4 maindivs">
  <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="home"> 
  <div class="col-sm-8 alldivs">
<div class="thumbnail">
  <img src="assets/images/cl.jpeg" alt="about us" style="width:100%;height:150px">
  <h3 class="lables"> Yes Telangana Services Classifieds </h3>
</div>
<div class="col-sm-8">
   <p class="more">   more  </p>
</div>
</div>
</a>
</div> 
<!-- ***************** dance ************** -->
           
<div class="col-md-4 maindivs">
    <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="home"> 
    <div class="col-sm-8 alldivs">
  <div class="thumbnail">
     <img src="assets/images/dance.jpg" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Dance  Institutions </h3>
   
  </div>
  <div class="col-sm-8 ">
      <p class="more">   more  </p>
      </div>
  </div>
</a>
  </div>
 <!-- ***************** driving schools ************** -->
           
 <div class="col-md-4 maindivs">
    <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="home"> 

    <div class="col-sm-8 alldivs">
  <div class="thumbnail">
    
       <img src="assets/images/drive.jpg" alt="about us" style="width:100%;height:150px">
       <h3 class="lables"> Driving Schools </h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
      </div>
    </a>
    </div>
    
  <!-- ***************** fights ************** -->
  <div class="col-md-4 maindivs">
      <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="home"> 
      <div class="col-sm-8 alldivs">
    <div class="thumbnail">      
         <img src="assets/images/fights.jpg" alt="about us" style="width:100%;height:150px">
         <h3 class="lables"> Fights Institutions</h3>
       
      </div>
      
      <div class="col-sm-8 ">
          <p class="more">   more  </p>
        </div>
      </div> 
    </a>
    </div>
  <!-- ***************** fire works ************** -->
   
  <div class="col-md-4 maindivs">
      <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="home"> 

      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
     
         <img src="assets/images/fire.jpg" alt="about us" style="width:100%;height:150px">
         <h3 class="lables"> Fire Works </h3>
       
      </div>
      <div class="col-sm-8 ">
          <p class="more">   more  </p>
        </div>
      </div>
    </a>
      </div>
   <!-- ***************** function halls************** -->
         
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="home"> 

      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
      
          
        <img src="assets/images/1.jpg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> Function Halls / Banquet Halls </h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
   <!-- ***************** furnitures ************** -->
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="home"> 
      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
         
        <img src="assets/images/furs.jpg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> Furnitures </h3>
     
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div> 
     <!-- ***************** GYM ************** -->
     <div class="col-md-4 maindivs">
            <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="home">
        <div class="col-sm-8 alldivs">
    <div class="thumbnail">
      
        <img src="assets/images/gyms.jpg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> GYM / Fitness Centers </h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
   <!-- ***************** hostels  ************** -->
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="home">
      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
       
        <img src="assets/images/hostels.jpg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> Hostels </h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
   <!-- ***************** indoor games ************** -->
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="home"> 

      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
      
         <img src="assets/images/indor.webp" alt="about us" style="width:100%;height:150px">
         <h3 class="lables"> Indoor Games </h3>
       
      </div>
      <div class="col-sm-8 ">
          <p class="more">   more  </p>
        </div>
      </div>
    </a>
      </div>
  <!-- ***************** marriage bureaus ************** -->
  <div class="col-md-4 maindivs">
      <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="home"> 
      <div class="col-sm-8 alldivs">
      <div class="thumbnail">            
          <img src="assets/images/marr.png" alt="about us" style="width:100%;height:150px">
          <h3 class="lables"> Marriage Bureaus </h3>
       
      </div>
      <div class="col-sm-8 ">
          <p class="more">   more  </p>
        </div>
      </div>
    </a>
      </div>
   <!-- ***************** music **************   -->
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/music']" routerLinkActive="active-link" class="home">
      <div class="col-sm-8 alldivs">
  <div class="thumbnail">        
      <img src="assets/images/music.webp" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Music Institution</h3>
  </div>
  <div class="col-sm-8 ">
      <p class="more">   more  </p>
      </div>
  </div>
</a>
  </div>
     <!-- ***************** outdoor games ************** -->
     <div class="col-md-4 maindivs">
        <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="home"> 

        <div class="col-sm-8 alldivs">
      <div class="thumbnail">
        
           <img src="assets/images/out.jpg" alt="about us" style="width:100%;height:150px">
           <h3 class="lables"> Outdoor Games </h3>
        
        </div>
        <div class="col-sm-8 ">
            <p class="more">   more  </p>
          </div>
        </div>
      </a>
        </div>
    <!-- ***************** pa ************** -->
    <div class="col-md-4 maindivs">
        <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="home"> 

        <div class="col-sm-8 alldivs">
    <div class="thumbnail">
     
          
        <img src="assets/images/plant.jpg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> Plants  </h3>
     
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
         <!-- *****************  packers and movers  ************** -->
             
         <div class="col-md-4 maindivs">
            <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="home"> 

            <div class="col-sm-8 alldivs">
          <div class="thumbnail">
            
               <img src="assets/images/pm.webp" alt="about us" style="width:100%;height:150px">
               <h3 class="lables"> Packers and Movers  </h3>
              
            </div>
            <div class="col-sm-8 ">
                <p class="more">   more  </p>
              </div>
            </div>
          </a>
            </div>
        
  <!-- *****************  professionsal Institutions ************** -->
         
  <div class="col-md-4 maindivs">
      <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="home"> 

      <div class="col-sm-8 alldivs">
  <div class="thumbnail">
    
       <img src="assets/images/pi.jpg" alt="about us" style="width:100%;height:150px">
       <h3 class="lables"> Professional Insitutions </h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
   <!-- ************************ Real Estate**************   --> 
           
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="home">

      <div class="col-sm-8 alldivs">
    <div class="thumbnail">
      
          
        <img src="assets/images/reald.jpeg" alt="about us" style="width:100%;height:150px">
        <h3 class="lables"> Real Estate</h3>
      
    </div>
    <div class="col-sm-8 ">
        <p class="more">   more  </p>
      </div>
    </div>
  </a>
    </div>
   <!-- ***************** restaurants ************** -->
   <div class="col-md-4 maindivs">
      <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="home"> 

      <div class="col-sm-8 alldivs">
  <div class="thumbnail">
    
        
      <img src="assets/images/res.jpg" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Restaurants </h3>
    
  </div>
  <div class="col-sm-8 ">
      <p class="more">   more  </p>
      </div>
  </div>
</a>
  </div> 

   
<!-- ***************** swimming ************** -->
<div class="col-md-4 maindivs">
    <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="home"> 

    <div class="col-sm-8 alldivs">
  <div class="thumbnail">
    
        
      <img src="assets/images/swim.png" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Swimming Pools </h3>
    
  </div>
  <div class="col-sm-8">
      <p class="more">   more  </p>
      </div>
  </div>
</a>
  </div>
    
 <!-- ***************** tutions  centers************** -->
 <div class="col-md-4 maindivs">
    <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="home">

    <div class="col-sm-8 alldivs">
  <div class="thumbnail">
   
        
      <img src="assets/images/tui.jpg" alt="about us" style="width:100%;height:150px">
      <h3 class="lables"> Tution  Centers </h3>
    
  </div>
  <div class="col-sm-8 ">
      <p class="more">   more  </p>
      </div>
  </div>
</a>
  </div>
 
   </div>
     </div>
    
      </div>

    
  </div>
</div>


<div class="col-sm-12 footerback">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="col-sm-8">
       
        <div class="col-sm-4">
         <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
     
          <h3>  Advertises  </h3>
        </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class="col-sm-4">
        <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="homes">
     
          <h3> Feedback   </h3>
      </a>
    </div>
      </div>
     <div class="col-sm-8 catas">
        <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                Animals  
        </a>
         /  
         <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
    
             Baby Care Centers  
        </a>
          
         /  
         <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="homes">
    
             Yes Telangana Services Classifieds 
        </a>
         / 
         <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
    
          Beauty Parlour   </a>
          /
         
         <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
    
            Dance   </a>
             / 
             <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
              Driving Schools  
           </a> 
           / 
             
           <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
               Fights Institutions 
           </a> 
           /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
              Fire Works  
           </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
      
               Function Halls 
          </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
      
               Furnitures  
          </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
      
             GYM  
          </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
              Hostels 
          </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
             Indoor Games  
           </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
        
              Marriage Bureaus  
          </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
    
               Music  Institutions
          </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
              Outdoor Games  
           </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
      
             Plants  
          </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
               Packers and Movers  
           </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
               Professional Insitutions  
           </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
      
             Real Estate 
          </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
    
              Restaurants  
          </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
    
       Swimming Pools  
          </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
               Tutions  Centers  
          </a>
        
     </div>
     <div class="col-sm-8 locationcs">
       <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
     </div>

     <div class="col-sm-6">
      
      <h3> Keep in touch </h3>
      <div class="col-sm-2">
          <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
      </a>
  </div>
  
<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

      </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
    </div>
  </div>