/* ************************nav bar *****************/
.bg{  padding-bottom:60px;   background-color: #e8e6e56b;}
.mars{margin-top:20px}
     .fff{ width: 60px; /* margin-right: 60px; */  margin-top: 12px;}
        .lsc{cursor: pointer;}
        .profilesv{position: absolute; right: 0; top: 45px;text-align: center; /* margin-right: 42px; */ padding-bottom: 27px;  z-index:99999  }
            .fnamess{ font-size: 11px;font-weight: bolder; }
            .sigbtn{  width: 120px;  padding: 8px; border-radius: 5px;  }
        .activities{box-shadow: -7px 8px 6px 7px; background-color: burlywood; border-radius: 12px;  border-bottom: 12px solid beige;margin-left: 25px;text-align: center }
      .acName{border-bottom: 4px solid gainsboro;  padding-bottom: 12px;}
        .sidenavact{ margin-bottom: 12px; background-color: #a52a2a7a; font-weight: bolder;  margin-top: 12px;color: honeydew;cursor: pointer;}
            .commm{list-style: none}
            .gimages{background-color: blue;  width: 50%;  text-align: center; font-size: 25px;  padding: 12px; border-radius: 5px; color: white;}
                .imagesfur{width:30%}
 /* ***************************************/
.imgall{margin-bottom: 20px}
.c{border: 2px solid red}
.hostelsTab{
}
.panel-default>.panel-heading {
   
    text-align: left !important;
}
li{
    list-style: none;
text-align: left
}
.catog{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: #00008b30;
    padding-top:50px
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
.lables{ text-align: center; font-size: 18px;  background: burlywood; cursor: pointer; }
.alldivs{ background-color: rgb(60, 47, 109);cursor: pointer;height: 285px;}
.alldivs:hover{    background-color: rgba(60, 47, 109, 0.87);}
.alldivs:focus{ background-color: rgba(60, 47, 109, 0.87);}
.maindivs{margin-bottom:50px }
.more{color: red}
.locationcs{margin-top: 40px;margin-bottom: 40px;}
.catas{    margin-top: 20px;}
 
 