<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT"> YES TELANGANA </a>
          </div>
          <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewProfile()"><a  class=""> 
                        <img src="{{hostelClients.images2}}" class="img-circle"  style="width:100%">  </a></li>
      
      
                
              </ul>
           <!-- <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewnoti()"><a  class=""> 
                        <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
      </ul> -->
             
      <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
         <div class="col-sm-12">
      
                <img src="{{hostelClients.images2}}" class="img-circle"  style="width:45%">
         </div>
         <div class="col-sm-12">
                <div class="col-sm-12">
                        <h5 class="fnamess">  {{hostelClients.name}}</h5>
                 </div>
               
                 <div class="col-sm-12">
                        <p>   {{hostelClients.emailId}}</p>
                 </div>
                
         </div>
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
         </div>
        
      </div>
      
      
      <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
        <div class="col-sm-12">
             <img src="{{hostelClients.images2}}" class="img-circle"  style="width:45%">
        </div> 
       </div>  
        </div>
      </nav>
      





<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                <h4> view   Updates ({{clientUpdatesCount}})</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{gcommc}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                    
                        <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                                <h4> Post Fecilities  </h4>
                            </div> 
                            <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
                                    <h4> View  Fecilities ({{fecilitiesGetc}})</h4>
                                </div> 
    
      </div>
    
    
   
    


    <div class="col-sm-8">
       <div class="col-sm-12" *ngIf="showmains">
            <div class="catog">
                    <div class="bgshostel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 bghostels">
                                    <h2 class="cnames"> {{hostelClients.shopname}} </h2>    
                                    <div class="col-sm-12 bgimg">
                                        <img src="{{hostelClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                                    
                                    </div>
                        
                        <h4> over all view </h4>
                        <ul class="overllview">
                           
                            <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
                                <span class="glyphicon glyphicon-hand-right"> About Us </span> 
                                 
                                </a> 
                            </li>
                            <li class="fontsize"> <a href="#iamges" data-toggle="tab">
                                <span class="glyphicon glyphicon-hand-right"> Images </span> 
                                     
                                   </a> 
                               </li>
                               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Timings </span> 
                                     
                                   </a> 
                               </li>
                               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Our Plants </span> 
                                     
                                   </a> 
                               </li>
                              
                              
                               <li class="fontsize"> <a href="#address" data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Address</span> 
                                   
                                   </a> 
                               </li>
                               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Contact Informations</span> 
                                    
                                   </a> 
                               </li>
                               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                                    
                                   </a> 
                               </li>
                               <li class="fontsize"> <a href="#com" data-toggle="tab">
                                  <span class="glyphicon glyphicon-hand-right"> Leave Comments</span> 
                                   
                                   </a> 
                               </li>
                            </ul>
                            
                            <hr/>
                           
                            </div>
                            </div>
                            </div>
                            </div>
                  
                            <!-- *********************about us*********************** -->
                     <div class="bgimgses">
                    <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-6 mains">
                  
                              
                  <div class="col-md-12">
                  <img src="{{hostelClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
                    
                  <hr/>
                  </div>
                  </div>
                  <div class="col-sm-6 mains">
                  
                      
                  <div class="col-md-12">
                      <p class="aboutus"> About Us  </p>
                      <p class="aboutuso">  {{hostelClients.aboutusdescriptionone}}</p>
                      <p class="aboutust"> {{hostelClients.aboutusdescriptiontwo}} </p>
                  <hr/>
                  <h3 class="aboutusts"> <b> {{hostelClients.name}} </b></h3>
                  <hr/>
                  </div>
                  </div>
                      </div>
                    </div>
                  </div>
                            <div class="container-fluid">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <div class="col-sm-12 timings">
                                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                    <ul>
                      <li class="nones"> {{hostelClients.mon}} </li>
                      <li class="nones"> {{hostelClients.tue}} </li>
                      <li class="nones"> {{hostelClients.wed}} </li>
                      <li class="nones"> {{hostelClients.thu}} </li>
                      <li class="nones"> {{hostelClients.fri}} </li>
                      <li class="nones"> {{hostelClients.sat}} </li>
                      <li class="nones"> {{hostelClients.sun}} </li>
                      <li class="nones"> Hours of Operations : <span class="timing"> {{hostelClients.totaltiming}} </span> </li>
                    </ul>
                    <hr/>
                                    </div>
                                  
                                      <hr/>
                                      <div class="col-sm-12 e addes">
                  
                                          <h4 class="ads"> Address </h4> 
                                          <hr/>
                                          <div class="col-sm-12 cons addresscap">
                                             H No:{{hostelClients.hno}} , {{hostelClients.area}},{{hostelClients.landmark}},{{hostelClients.city}}
                                             {{hostelClients.distict}},
                                              {{hostelClients.state}},
                                              {{hostelClients.pincode}}
                                        </div>
                          
                                      </div>
                                   
                                      <div class="col-sm-12 e addes">
                                          <h4 class="ads"> Contact informations </h4> 
                                          <hr/>
                                          <div class="col-sm-12 cons">
                    <p>  
                        <span class="glyphicon glyphicon-phone-alt"> office no: {{hostelClients.officeno}} 
                        
                    </span>
                     </p>
                                                <br>
                      <p> 
                           <span class="glyphicon glyphicon-earphone">
                                 Mobile No: {{hostelClients.mobileno}} 
                          </span></p>
                                                  <br>
                              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                                   whatsapp No: {{hostelClients.whatsappno}} </i></p>
                                                                            <br>
                                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{hostelClients.email}} </i>
                                               
                                              </p> 
                                                <br>
                                                
                                          </div>
                    
                                        </div>
                                    </div>
                    <div class="col-sm-9 divb">
                       <div class="col-sm-12 carouseldiv">
                         <h2> Our Team Members </h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#myCarousel" data-slide-to="1"></li>
                                  <li data-target="#myCarousel" data-slide-to="2"></li>
                                 
                                </ol>
                            
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                  <div class="item active">
                                    <img src="{{hostelClients.images3}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                                  </div>
                            
                                  <div class="item">
                                    <img src="{{hostelClients.images4}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                                  </div>
                                
                                  <div class="item">
                                    <img src="{{hostelClients.images5}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                                  </div>
                                  
                                </div>
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                  
                            </div>
                            <h4><b> Hostels Informations : </b><span class="teams"> {{hostelClients.informationtopublic}} </span></h4>
                              </div>
                      
                        
                  
                    </div>
                  </div>
                  </div>
       </div>

       <div class="col-sm-12" *ngIf="updatesShows">
            <div class="col-sm-12">
                 
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.descriptions" name="descriptions">
                        </mat-form-field>
                       

<p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
<p> vidoes</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" placeholder="please enter images1" class="updated" name="viedoes" >

      <button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>
          
      </div> 
                    
         </div>

         <div class="col-sm-12" *ngIf="viewupdatesShows">
          
    <!-- ******************* UPDATES PRESENT ********************************* -->
    
    <div class="col-sm-8  clearfix">
            <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
              <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
                <div class="col-sm-12">
                    <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                      <a> 
                          <img src="{{up.images}}" alt="about us" style="width:100%"></a>
                </div>
          
          
                <div class="col-sm-12 viedoes">
                    <video width="100%" height="400px" controls>
                        <source src="{{up.viedoes}}" type="video/mp4">
                       </video>
                  </div>
              
                  <div class="col-sm-12">
                      <h3> {{up.title}} </h3>
                      <h6> {{up.description}} </h6>
                   </div>
          
                   <!-- <div class="col-sm-3" (click)="shareClick(up)">
                          <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                            share </p>
                       </div> -->
                      <div class="col-sm-3" (click)="commentsClick(up)">
                          <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                            <span class=""> comments </span> 
                         </p>
                  </div>
                  <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                      <div class="col-sm-1">
                          <a href="https://www.facebook.com/" target="_blank">
                      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                      </a>
                  </div>
                      
                        <div class="col-sm-1">
                                <a href="https://www.whatsapp.com/" target="_blank">
                            <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                </a>
                      </div>
                         <div class="col-sm-1">
                           <a href="https://plus.google.com/discover" target="_blank">
                           <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                         </div>
             <div class="col-sm-1"> 
                 <a href="https://twitter.com/login" target="_blank">
                   <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
             </div>
           <div class="col-sm-1"> 
              <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
             </div>
                  </div>
              
                <div class="col-sm-12">
                    <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                       
                      <div class="col-sm-12">
                        <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
                    </div>
                  </div>
           
            <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
          <div class="col-sm-12" *ngFor="let comms of getUsersComments">
            <div class="col-sm-12 userscomm">
            <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                             <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                              <h6>  {{comms.descriptions}} </h6> 
           </div>                  
                          <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                                  <a class="replyses">
                                      <b class="replies lsc"> reply   </b></a>
                              </div> 
                           
          
          
              <div  class="u" *ngIf="replyfrom && replyid == comms._id">
                    <mat-form-field class="example-full-width">
                            <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                          </mat-form-field>
                          <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
                <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
                       

                    <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
               <img src="{{hostelClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
                  {{hostelClients.name}}:</span>
                 <h6> {{rep.descriptions}} </h6> 
                 </div> 
                 </div> 
          
                </div>
              </div>
          </div>
                </div>
              </div>
                   
                         <!-- **************************************************** -->
      
           </div>

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
                    <div class="col-sm-12">
                            <h2> General Comments ({{gcommc}})</h2>
                            <table class="table table-hover">
                                    <thead>
                                             
                                        <tr class="insidecap tablessc">
                                            <th> Sl.No </th>
                                                <th> Name</th>
                                                <th class="standards"> email Id</th>
                                                <th>Contact No</th>
                                                <th> Comments</th>
                                                <th> Posted on Date </th>
                                                <th> Time </th>
                                               </tr>
                                      </thead>
                            <tbody>
                              <tr *ngFor="let s of gymServices; index as i">
                                  <td> <p class="services2">{{i+1}} </p> </td>
                                 <td><p> {{s.name}}</p></td>
                                <td><p> {{s.email}}</p></td>
                                 <td><p> {{s.contactNo}} </p></td>
                                <td> <p> {{s.leaveComment}} </p> </td>
                                <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                                <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
                          
                              </tr>
                              
                            </tbody>
                            </table>
                          
                         </div>
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
            <div class="col-sm-12">
                    <h3 class="gimages"> General Images </h3>
                   
      <div class="col-sm-4 mars">
        <a href="{{fightsDetailsClients.images1}}" target="_blank"> 
            <img src="{{fightsDetailsClients.images1}}" alt="about us" style="width:100%;height:250px"> 
         </a>
      </div>
      <div class="col-sm-4 mars">
            <a href="{{fightsDetailsClients.images2}}" target="_blank"> 
                <img src="{{fightsDetailsClients.images2}}" alt="about us" style="width:100%;height:250px"> 
             </a>
         </div>
        <div class="col-sm-4 mars">
                <a href="{{fightsDetailsClients.images3}}" target="_blank"> 
                    <img src="{{fightsDetailsClients.images3}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
            <div class="col-sm-4 mars">
                    <a href="{{fightsDetailsClients.images4}}" target="_blank"> 
                        <img src="{{fightsDetailsClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
      
                <div class="col-sm-4 mars">
                        <a href="{{fightsDetailsClients.images5}}" target="_blank"> 
                            <img src="{{fightsDetailsClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                         </a>
                     </div>
      
                    <div class="col-sm-12">
                            <h1 class="gimages"> Update Images </h1>
                            <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                    <a href="{{item.images}}" target="_blank"> 
                                        <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                     </a>
                                 </div>
            
                    </div>
                     <div class="col-sm-12">
                            <h1 class="gimages"> Update Viedoes  </h1>
                            <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                    <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                    <a href="{{pro.viedoes}}" target="_blank"> 
                                            <video width="100%" controls>
                                                    <source src="{{pro.viedoes}}" type="video/mp4">
                                                    </video> 
                                              </a>
                                </div>
                     </div>
              </div>
         </div>

         <div class="col-sm-12" *ngIf="ProductsShows">
                <h3> Post / View Fecilities  </h3>
                <div class="col-sm-12">
                    <h4> Post  Fecilities  </h4>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your Fecilities Name" [(ngModel)]="fec.fecilitiesName" name="title">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your Descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="descriptions">
                            </mat-form-field>
                           
    
    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileFec($event,'fecilitiesImg')" placeholder="please enter fecilitiesImg" class="updated" name="fecilitiesImg" >
    <button class="btn-primary upbuttons" (click)="postFecilities()"> submit </button>
    
                    </div>
    
               </div>
          <div class="col-sm-12" *ngIf="ProductsViewShows">
            
                <div class="col-sm-12">
                        <h4> View  Fecilities ({{fecilitiesGetc}}) </h4>
    <div class="col-sm-4"  *ngFor="let fec of fecilitiesGet">
        <img src="{{fec.fecilitiesImg}}"    style="width:100%">
    <h4>{{fec.fecilitiesName}}</h4>
    <p>{{fec.fecilitiesDescriptions}}</p>
    </div>
                </div>
           </div>
      </div>  
    </div>
  </div>

