
.divtwo{border-right: 12px solid #0000ff59;}
.cat{  padding: 12px; border-radius: 5px; text-align: center;  font-size: 18px;}
.areas{color:red;font-size:15px;font-weight: bolder;text-transform: capitalize}
.center{font-size:15px;font-weight: bolder;text-transform: capitalize}
 .bnts{  margin-right: 90px; color: #fff;
    background-color: #337ab7; border-color: #2e6da4; width: 171px; padding: 10px; font-size: 17px; margin-bottom: 25px;  margin-top: 25px; margin-left: 45px; }
 .search{width: 11%}
 .mat-form-field { width: 50%}
 .tdimages{width: 30%;}
 .bases{border-right: 1px solid #8080806b;}
 .boxshaves{ border: 1px solid; padding: 10px; box-shadow:10px 10px 5px 10px 18px grey;background-color: #0070ff5c;}
  .s{ border: 1px solid;  padding: 10px;  box-shadow: 5px 10px;background-color: #0070ff5c;}
  .bbc{ width: 40%; font-weight: bolder; color: #1c2277; font-size: 25px; text-transform: capitalize;}
   .dffff{height:280px}
    .dff:hover{ color:orange; }
    .sides{ color: blue; text-transform: capitalize;  font-size: 16px; }
     .moresde{ color: red;  font-size: 14px }
    .boxshaws{  padding: 10px; box-shadow: 40px 32px 24px black; margin-bottom: 40px;cursor: pointer; }
    .boxshaws:hover{color:orange}
    .imgs{border-right: 2px solid;}
    .dropdown-menu{ top: 73% !important; eft: 65px !important; text-align: center; font-size: 15px; background: #846c4fe8; cursor: pointer; color: white; }
  .locationsdrops{    border-bottom: 2px solid #00000024;  padding: 7px;}
    .locationsdrops:hover{background-color: #ffca00;color: black}

    /* *****************************&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
    .example-form {  min-width: 150px; max-width: 500px;  width: 100%; }
    
    .example-full-width { width: 100%; }
    .adminforms{  margin: 0 auto; margin-top: 12px; padding: 42px;  }
    .buttonsbotm{ margin-bottom: 12px;  }
    .tops{margin-bottom: 40px;  margin-top: 40px;}
      .bntss{  margin-right: 90px;  color: #fff;  background-color: #337ab7;  border-color: #2e6da4;  width: 171px; padding: 10px; font-size: 17px; margin-bottom: 25px; margin-top: 10px; margin-left: 45px; }
      .titlesshopname{text-align: center; font-size: 25px;}
        .normaldetails{    color: black; font-weight: bold;}
          .sides{color:blue; text-transform: capitalize;}
 .insidecap{  text-transform: capitalize}
.adjes{margin-left: 70px; margin-top: 25px;  margin-bottom: 40px;}
      .catstyle{text-align: center; text-transform: capitalize; font-weight: bold; text-shadow: 2px 2px #000000c7; font-size: 50px;}
      .anchoas{text-decoration: none;color:black}
      .side{ color: blue;  text-transform: capitalize;  font-size: 25px; }
