
<div class="col-sm-12">
    <div class="col-sm-7">
        <h1> creating disticts form</h1>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="locations" [(ngModel)]="locationsdata.locations" name="locations">
          </mat-form-field>
      
          <button (click)="postlocations()"> sublit </button>
      
      </div>
      
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{locationName}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li class="locationsdrops" *ngFor="let get of locationsgets" (click)="locations(get)">{{get.locations}}</li>
          </ul> 
      </div>
      
</div>

<div class="col-sm-12">

    <div class="col-sm-7 loc">
        <h1> creating area form</h1>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="locations" [(ngModel)]="areas.area" name="area">
          </mat-form-field>
    
          <button (click)="postarea()"> sublit </button>
    
      </div>
    
<div class="col-sm-3">
        <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectArea}}  <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li class="locationsdrops" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
              </ul> 
      </div>
      
</div>
