.divtwo{border-right: 12px solid #0000ff59;}
.cat{
    padding: 12px;
    border-radius: 5px;
    text-align: center;
  }
  .areas{color:red;font-size:15px;font-weight: bolder;text-transform: capitalize}
  .center{font-size:15px;font-weight: bolder;text-transform: capitalize}

  .bnts{margin-right: 90px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
   
    padding: 12px;
    font-size: 17px;
    margin-bottom: 25px;
    text-transform: capitalize;}
 .dropdown-menu{
  top: 1% !important;
left: 15px !important;
text-align: center;
font-size: 15px;
background: #846c4fba;
cursor: pointer;
color: white;
text-transform: capitalize;
}
 .locationsdrops{ border-bottom: 2px solid #00000024;padding: 7px}
  .locationsdrops:hover{background-color: #ffca00;color: black}
 .search{width: 11%}
 .mat-form-field { width: 50%}
 .tdimages{width: 30%;}
 .bases{border-right: 1px solid #8080806b;}
 .boxshaves{border: 1px solid;padding: 10px;box-shadow:10px 10px 5px 10px 18px grey;background-color: #0070ff5c;}
  .s{ border: 1px solid; padding: 10px; box-shadow: 5px 10px;background-color: #0070ff5c}
  .bbc{width: 40%;font-weight: bolder;color: #1c2277;font-size: 25px;text-transform: capitalize;}
 
    .dffff{height:280px}
    .dff:hover{
      color:orange;
    }
    .sides{color:blue; text-transform: capitalize;}
    .mains{text-transform: capitalize;}
    .moresde{color: red;font-size: 14px; }
    .boxshaws{ 
      padding: 10px;
      box-shadow: 40px 32px 24px black;
    margin-bottom: 40px;
    cursor: pointer;
    }
    .boxshaws:hover{color:orange}
    .imgs{border-right: 2px solid;}
 .titlesshopname{text-align: center;
  font-size: 25px;}
  .normaldetails{    color: black;
    font-weight: bold;}
    .sidess{    color: red;
      font-weight: bold;}
    .insidecap{
      text-transform: capitalize
    }
/* **************** UPDATES PRESENT ********** */
.dfs{
  border: 1px solid blue;
  padding: 10px;
  box-shadow: 10px 4px 14px 20px;
  margin-top: 50px
}
.lsc{cursor: pointer;}
.viedoes{margin-top: 40px;margin-bottom: 40px;}
.h4tagsviews{    background-color: #ea0e0ec7;
width: 30%;
padding: 12px;
border-radius: 5px;
color: white;
text-transform: capitalize;
text-align: center;margin-bottom:70px}
.replies{background-color: #240eeaca;
  width: 30%;
  padding: 12px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  text-align: center;margin-bottom:70px}
.replydiv{background-color: #80808040;text-align: right;
  margin-bottom: 56px;}
.replmaindiv{    margin-top: 40px;
margin-bottom: 40px;}
.replys{    color: blue;
  font-weight: bold;
}
.userscomm{background-color: #5d7d7c5e;
margin-top: 20px;
}
.lsd{color:blue}
.fb{    color: blue;
font-size: 25px;}
.whatsp{
color: green;
font-size: 25px
}
.twiter{color: #00d8ff;
font-size: 25px}
.inst{
color: #ef6981;
font-size: 25px
}
.sahrevies{margin-top:50px;margin-bottom: 50px}

.catstyle{text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 2px 2px #000000c7;
    font-size: 50px;}

/* ************************** */
.side{ color: blue;  text-transform: capitalize;  font-size: 25px; }
.anchoas{text-decoration: none;color:black}