
 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
    </div>
    
       
<div class="col-sm-3 profilesv">
   
  
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
   </div>
  
</div>

  
  </div>
</nav>



<div class="col-sm-12">
  <div class="col-sm-12 mars" *ngFor="let item of landingsgetsgenerals" (click)="landingsgenerals(item)">
<h3  class="text-center mains"> {{item.mainTitle}} - {{generalsDetailsc}} </h3>  

<div class="col-sm-12" *ngIf="landingsgeneralsNameId == item._id">                 
 

<div class="col-sm-12">
<div class="col-sm-12 searchdiv" *ngFor="let up of generalsDetails">
<div class="col-sm-12" *ngIf="up">

<p class="text-right"> <b> Posted On :</b> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
<div class="col-sm-12" *ngIf="up.images && up.images!='undefined'">
  <img src="{{up.images}}" alt="about us" style="width:100%;height:300px">
</div>
<div class="col-sm-12 viedoes" *ngIf="up.viedoes && up.viedoes!='undefined'">
        
  <video width="100%" height="400px" controls>
          <source src="{{up.viedoes}}" type="video/mp4">                                   
         </video>
        </div>
 


      </div>
<div class="col-sm-12">
<h3><b> {{up.title}} </b> </h3>
<h6 class="des"> {{up.description}} </h6>
</div>

</div>
</div>
</div>
</div>
</div>








<div class="col-sm-12 footerback">
  <div class="col-sm-8 col-sm-offset-3">
    <div class="col-sm-8">
      <!-- <div class="col-sm-4">
        <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
  
           <h3> About Us </h3>
       </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div> -->
      <div class="col-sm-4">
       <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
   
        <h3>  Advertises  </h3>
      </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <div class="col-sm-4">
      <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="homes">
   
        <h3> Feedback   </h3>
    </a>
  </div>
    </div>
   <div class="col-sm-8 catas">
      <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
              Animals  
      </a>
       /  
       <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
  
           Baby Care Centers  
      </a>
       /  
       <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
  
        Beauty Parlour   </a>
        /  
         <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="homes">
    
             Yes Telangana Services Classifieds 
        </a>
         / 
       
       <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
  
          Dance   </a>
           / 
           <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
            Driving Schools  
         </a> 
         / 
           
         <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
             Fights Institutions 
         </a> 
         /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
            Fire Works  
         </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
    
             Function Halls 
        </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
    
             Furnitures  
        </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
    
           GYM  
        </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
            Hostels 
        </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
           Indoor Games  
         </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
      
            Marriage Bureaus  
        </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
  
             Music  Institutions
        </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
            Outdoor Games  
         </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
    
           Plants  
        </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
             Packers and Movers  
         </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
             Professional Insitutions  
         </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
    
           Real Estate 
        </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
  
            Restaurants  
        </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
  
     Swimming Pools  
        </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
  
             Tutions  Centers  
        </a>
      
   </div>
   <div class="col-sm-8 locationcs">
     <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
   </div>

   <div class="col-sm-6">
    
    <h3> Keep in touch </h3>
    <div class="col-sm-2">
      <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
  </a>
</div>

<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

    </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
  </div>
</div>
    
    
    
