<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header lsc">
            <a class="navbar-brand yesT"> YES TELANGANA </a>
          </div>
          <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewProfile()"><a  class=""> 
                        <img src="{{gymuser.images2}}" class="img-circle"  style="width:100%">  </a></li>
      
      
                
              </ul>
           <!-- <ul class="nav navbar-nav pull-right fff lsc">
                <li class="lsc" (click)="viewnoti()"><a  class=""> 
                        <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
      </ul> -->
             
      <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
         <div class="col-sm-12">
      
                <img src="{{gymuser.images2}}" class="img-circle"  style="width:45%">
         </div>
         <div class="col-sm-12">
                <div class="col-sm-12">
                        <h5 class="fnamess">    {{gymuser.name}}</h5>
                 </div>
               
                 <div class="col-sm-12">
                        <p>   {{gymuser.emailId}}</p>
                 </div>
                
         </div>
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
         </div>
        
      </div>
      
      
      <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
        <div class="col-sm-12">
               <img src="{{gymuser.images2}}" class="img-circle"  style="width:45%">
        </div> 
       </div>  
      
        </div>
      </nav>
      
      <!-- ********************************************************************************************************************* -->
      



<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">  
                <h4> view   profile </h4>
            </div>

            <div class="col-sm-12 sidenavact" (click)="servicesShow()">
                    <h4> Post Services / view Services  </h4>
                </div>

                <div class="col-sm-12 sidenavact" (click)="EquipmentShow()">
                        <h4> Post Equipment / View  Equipment </h4>
                    </div> 

                    <div class="col-sm-12 sidenavact" (click)="FacilitiesShow()">
                            <h4> Post Facilities / View  Facilities </h4>
                        </div>

                        <!-- <div class="col-sm-12 sidenavact" (click)="noOfUsersShow()">
                                <h4> Post users Records / View  users Records  </h4>
                            </div> -->

          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post Updates / view Updates</h4>
          </div>
         
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{onlyCommC}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    
                    </div>
            </div>
    
    



     <div class="col-sm-8">

  
      <div class="col-sm-12" *ngIf="showmains">



           <div class="col-sm-12 clearfix">
                <h2 class="cnames"> {{gymuser.gymName}} </h2>    

                <div class="col-sm-12 bgimg">
    
                    <img src="{{gymuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                
                </div>
           </div>
           

      <!-- *********************about us*********************** -->
      
            
                    <div class="bgimgses ">
                  <div class="col-sm-6 mains">
          
                      
          <div class="col-md-12">
          <img src="{{gymuser.images2}}" style="width:100%" class="pull-left img-thumbnail profilepic img-responsive">
            
          <hr/>
          </div>
          </div>
          <div class="col-sm-6 mains bgimgses">
          
              
          <div class="col-md-12">
              <p class="aboutus"> About Us  </p>
              <p class="aboutuso">  {{gymuser.aboutUsDescription1}}</p>
              <p class="aboutust"> {{gymuser.aboutUsDescription2}} </p>
          <hr/>
          <h3 class="aboutusts"> <b> {{gymuser.name}} </b></h3>
          <hr/>
          </div>
          </div>
              </div>
           
              <!-- ********************************** side namv bar ************************************* -->
              <div class="col-sm-12">
                    <div class="col-sm-12 timings">
                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
    <ul>
      <li class="nones"> {{gymuser.day1}} </li>
      <li class="nones"> {{gymuser.day2}} </li>
      <li class="nones"> {{gymuser.day3}} </li>
      <li class="nones"> {{gymuser.day4}} </li>
      <li class="nones"> {{gymuser.day5}} </li>
      <li class="nones"> {{gymuser.day6}} </li>
      <li class="nones"> {{gymuser.day7}} </li>
      <li class="nones"> Hours Of Operations : <span class="hrs"> {{gymuser.allTimes}} </span> </li>
    </ul>
    <hr/>
                    </div>
                  
                      <hr/>
                      <div class="col-sm-12 e addes">
  
                          <h4 class="ads"> Address </h4> 
                          <hr/>
                          <div class="col-sm-12 cons addresscap">
                             H No:{{gymuser.hno}} , {{gymuser.area}},{{gymuser.landmark}},{{gymuser.city}}
                             {{gymuser.distict}},
                              {{gymuser.state}},
                              {{gymuser.pincode}}
                        </div>
          
                      </div>
                   
                      <div class="col-sm-12 e addes">
                          <h4 class="ads"> Contact informations </h4> 
                          <hr/>
                          <div class="col-sm-12 cons">
    <p>  
        <span class="glyphicon glyphicon-phone-alt"> office no: {{gymuser.officeNo}} 
        
    </span>
     </p>
                                <br>
      <p> 
           <span class="glyphicon glyphicon-earphone">
                 Mobile No: {{gymuser.mobileNo}} 
          </span></p>
                                  <br>
              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                   whatsapp No: {{gymuser.whatsupno}} </i></p>
                                                            <br>
                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{gymuser.emailId}} </i>
                               
                              </p> 
                                <br>
                                
                          </div>
    
                        </div>
                    </div>

<!-- ******************************************************** our team ********************************8 -->
<div class="col-sm-12">
        <div class="col-sm-12">
            <h2> Our Team Members </h2>
             <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                   <li data-target="#myCarousel" data-slide-to="3"></li>
                 </ol>
             
                 <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img src="{{gymuser.images3}}" class="img-thumbnail" alt="Los Angeles" style="width:100%;height:600px">
                   </div>
             
                   <div class="item">
                     <img src="{{gymuser.images4}}" class="img-thumbnail" alt="Chicago" style="width:100%;height:600px">
                   </div>
                 
                   <div class="item">
                     <img src="{{gymuser.images5}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                   </div>
                   <div class="item">
                       <img src="{{gymuser.images6}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                     </div>
                 </div>
             
                 <!-- Left and right controls -->
                 <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                   <span class="glyphicon glyphicon-chevron-left"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="right carousel-control" href="#myCarousel" data-slide="next">
                   <span class="glyphicon glyphicon-chevron-right"></span>
                   <span class="sr-only">Next</span>
                 </a>
               </div> 
             </div>
 
 <h3> <b> {{gymuser.teamMembersNames}}  </b> </h3>
     <h5> {{gymuser.teamDescriptions}}  </h5>
    </div>
        </div>
  
        <div class="col-sm-12" *ngIf="serviceShows">
             <div class="col-sm-12">
                 <h2> Post Services / view Services </h2>
             </div>

             <div class="col-sm-12">
                 <div class="col-sm-8">
                        <h4> Catageries </h4>
                        <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter your genders" [(ngModel)]="cat.genders" name="generalDescription">
                              </mat-form-field>
                              <button class="btn-primary upbuttons" (click)="servicecatageries()"> submit </button>
    
                 </div>
                 <div class="col-sm-4">
                        <h4> Catageries </h4>
                        <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{genderName}} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                  <li class="locationsdrops" *ngFor="let get of catget" (click)="caageries(get)">{{get.genders}}</li>
                                  </ul> 
                 </div>
                 
             </div>
             <div class="col-sm-12">
                <h2> Post Services For ({{genderName}}) </h2>

                   <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your serviceName" [(ngModel)]="services.serviceName" name="serviceName">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your trainerName" [(ngModel)]="services.trainerName" name="trainerName">
                      </mat-form-field>
                   
                   <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your description" [(ngModel)]="services.yearsOfExp" name="yearsOfExp">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your timmings" [(ngModel)]="services.timmings" name="timmings">
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter your trainerdes" [(ngModel)]="services.trainerdes" name="trainerdes">
                              </mat-form-field>
                           
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your generalDescription" [(ngModel)]="services.generalDescription" name="generalDescription">
                            </mat-form-field>
               
                                     
                                    
                    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputServices($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
                    <p> images </p>   <input type="file" #Image accept="image/*"  (change)="handleFileInputService($event,'images2')" placeholder="please enter images2" class="updated" name="images2">
                     <button class="btn-primary upbuttons" (click)="servicePostData()"> submit </button>
             </div>

             <div class="col-sm-12">
                    <div class="col-sm-12">
                            <h3> view Service ({{gymServicesCount}}) </h3>
                            <div class="col-sm-12 lsc">
                              
                                <div class="col-sm-12" *ngFor="let ser of gymServices">
                                  <h4> {{ser.serviceName}} </h4>
                                         <div class="thumbnail">
                                            <img src="{{ser.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                                            <div class="caption">
                                              <p class="services2">{{ser.generalDescription}}</p>
                                              <p class="services2">{{ser.timmings}}</p>
                                            </div>
                                       </div>
                                       <div class="thumbnail">
                                          <img src="{{ser.images2}}" class="img-thumbnail" alt="Nature" style="width:100%">
                                          <div class="caption">
                                              <p class="services2">{{ser.trainerdes}}</p>
                                           </div>
                                     </div>
                    
                                        </div>
                     
                             </div>
                             
                         </div>
                    
                         <div class="colsm-12 tablesin">
                             <h4> Over All View</h4>
                             
                      <table class="table table-hover">
                          <thead>
                                   
                              <tr class="insidecap tablessc">
                                  <th> Sl.No </th>
                                      <th> Name</th>
                                      <th class="standards"> email Id</th>
                                      <th>Contact No</th>
                                      <th> Comments</th>
                                      <th> Posted on Date </th>
                                      <th> Time </th>
                                     </tr>
                            </thead>
                  <tbody>
                    <tr *ngFor="let s of gymServices; index as i">
                        <td> <p class="services2">{{i+1}} </p> </td>
                       <td><p> {{s.name}}</p></td>
                      <td><p> {{s.email}}</p></td>
                       <td><p> {{s.contactNo}} </p></td>
                      <td> <p> {{s.leaveComment}} </p> </td>
                      <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                      <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
                
                    </tr>
                    
                  </tbody>
                  </table>
                         </div>
                    </div>
         
</div>


<div class="col-sm-12" *ngIf="equipments">
  <div class="col-sm-12">
    
    
    <div class="col-sm-8">
        <h3> Post Equipment / View  Equipment </h3>

        <div class="col-sm-4">
            <h4> Catageries </h4>
            <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{genderNameEqui}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li class="locationsdrops" *ngFor="let get of caageriesEquips" (click)="caageriesEquis(get)">{{get.genders}}</li>
                      </ul> 
     </div>
    </div>
    
    <div class="col-sm-12">
            <h4> Post Equipment For ({{genderNameEqui}}) </h4>   

        <mat-form-field class="example-full-width">
         <input matInput placeholder="please enter your equipment name " [(ngModel)]="eqs.equiName" name="serviceName">
       </mat-form-field>

       <mat-form-field class="example-full-width">
             <input matInput placeholder="please enter your trainer Name" [(ngModel)]="eqs.trainerName" name="trainerName">
           </mat-form-field>
        
        <mat-form-field class="example-full-width">
           <input matInput placeholder="please enter your years Of Exp" [(ngModel)]="eqs.yearsOfExp" name="yearsOfExp">
         </mat-form-field>

         <mat-form-field class="example-full-width">
                 <input matInput placeholder="height of equipment" [(ngModel)]="eqs.height" name="height">
               </mat-form-field>

               <mat-form-field class="example-full-width">
                  <input matInput placeholder="weight of equipment" [(ngModel)]="eqs.weight" name="weight">
                </mat-form-field>
               <mat-form-field class="example-full-width">
                     <input matInput placeholder="equipment description" [(ngModel)]="eqs.description1" name="description1">
                   </mat-form-field>
                
                <mat-form-field class="example-full-width">
                   <input matInput placeholder="equipment description" [(ngModel)]="eqs.description2" name="generalDescription">
                 </mat-form-field>
    
                          
                         
         <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputequipments($event,'images1')" [(ngModel)]="eqs.images1" placeholder="please enter images1" class="updated" name="images1" >
         <p> images </p>   <input type="file" #Image accept="image/*"  (change)="handleFileInputequipment($event,'images2')" [(ngModel)]="eqs.images2"  placeholder="please enter images2" class="updated" name="images2">
          <button class="btn-primary upbuttons" (click)="equipmentPostData()"> submit </button>
  </div>



  <div class="col-sm-12">
      <h3> View Equipment </h3>   


      <div class="col-sm-12">
          <h3> Equipments ({{equipmentsCount}})</h3>
          <div class="col-sm-6">
          <div class="col-sm-6" *ngFor="let ser of equipment" (click)="clickEquipmentsDetails(ser)">
                          <div class="thumbnail">
                             <img src="{{ser.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                             <div class="caption">
                               <p class="services2">{{ser.equiName}}</p>
                             </div>
                        </div>
                        </div>
                      </div>
      
          <div class="col-sm-6" *ngIf="equipmentsShow">
                  <h6> <b> {{equipmentsind.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{equipmentsind.createdAt  | date: "shortTime"}}   </b> </h6>        
      
                  <h3 class="servies"> {{equipmentsind.equiName}} </h3>
                  <h3 class="services1">Traniner Name : <b class="tnr"> {{equipmentsind.trainerName}}  </b>    </h3>
                  <h4 class="services1">Traniner Exp :  <b class="tnr"> {{equipmentsind.yearsOfExp}}   </b> </h4>
                  <h5 class="services1"> Equipments Height : <b class="tnr"> {{equipmentsind.height}}   </b>  </h5>
                  <h3 class="services1"> Equipments Weight : <b class="tnr"> {{equipmentsind.weight}} </b>     </h3>
                   <h4 class="services1"> Equipments Descriptions : <b class="tnr">  {{equipmentsind.description1}}</b></h4>
                  <h4 class="services1"> <b class="tnr">  {{equipmentsind.description2}}  </b>   </h4>
       
                  <img src="{{equipmentsind.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                  <img src="{{equipmentsind.images2}}" class="img-thumbnail" alt="Nature" style="width:100%">
              </div>
      
              <div class="colsm-12 tablesin">
                  <div class="col-sm-12">
                          <h4> Over All View </h4>
                  </div>
                      
                       
               <table class="table table-striped">
                 <thead>
                   <tr>
                         <th> Sl.No </th>
                         <th> Trainer Name </th>
                     <th> Equipment Name</th>
                     <th> Equipment Height </th>
                     <th> Equipment Weight </th>
                      
             
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let ser of equipment; index as i" >
                         <td> <p class="services2">{{i+1}} </p> </td>
                         <td> <p class="services2">{{ser.trainerName}}</p> </td>
                     <td> <p class="services2">{{ser.equiName}}</p> </td>
                     <td> <p class="services2">{{ser.height}}</p> </td>
                     <td> <p class="services2">{{ser.weight}}</p> </td>
                      
             
                   </tr>
                    
                 </tbody>
               </table>
                  </div>
      </div>

    </div>
      
  </div>
</div>
      
        <!-- *************************************************** -->
         <!-- ******************* Fecilities********************************* -->

   <div class="col-sm-12" *ngIf="fecilities">
      <div class="col-sm-12">
          <div class="col-sm-8">
              <h4> Post Facilities / View  Facilities </h4>

            </div>
             
          <div class="col-sm-12">
                  <h4> Post Facilities For ({{genderNameFec}})  </h4>   
                  
              <mat-form-field class="example-full-width">
               <input matInput placeholder="please enter ficilities Name" [(ngModel)]="fet.ficilitiesName" name="ficilitiesName">
             </mat-form-field>
      
             <mat-form-field class="example-full-width">
                   <input matInput placeholder="please enter descriptions" [(ngModel)]="fet.descriptions" name="descriptions">
                 </mat-form-field>
              
              <mat-form-field class="example-full-width">
                 <input matInput placeholder="please enter your maintainces" [(ngModel)]="fet.maintainces" name="maintainces">
               </mat-form-field>
               <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFecilities($event,'images1')" [(ngModel)]="fet.images1" placeholder="please enter images1" class="updated" name="images1" >
                 <button class="btn-primary upbuttons" (click)="fecilitiesPostData()"> submit </button>
        </div>
<div class="col-sm-12 c">
    <h3> Fecilities ({{fecilitiesCount}}) </h3>
<div class="col-sm-12 c" *ngFor="let gf of fecilitie">

    <div class="col-sm-6">
            <h3 class="servies"> {{gf.ficilitiesName}} </h3>
        <img src="{{gf.images1}}" class="img-thumbnail" alt="Nature" style="width:100%"> 
    </div>

    <div class="col-sm-6">
           
        <h6> <b> {{gf.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{gf.createdAt  | date: "shortTime"}}   </b> </h6>        
        <h3 class="services1"> Descriptions : <b class="tnr"> {{gf.descriptions}}  </b>    </h3>
            <h4 class="services1"> Maintainces :  <b class="tnr"> {{gf.maintainces}}   </b> </h4>
     </div>
   </div>

   
</div>
</div>  
</div>


<!-- ************************************************** -->
 

   <div class="col-sm-12" *ngIf="onlyCommentsShows">
      <h1> Recieve Comments ({{onlyCommC}}) </h1>
                
      <table class="table">
              <thead>
                <tr>
                      <th>S no</th>
                  <th>Date & Time</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Leave Comments </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let com of onlyComm; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                  <td> {{com.name}}  </td>
                  <td>{{com.email}}</td>
                  <td>{{com.contactNo}}</td>
                  <td>{{com.leaveComment}}</td>
                </tr>
                 
              </tbody>
            </table>

       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{ gymuser.images1}}" target="_blank"> 
      <img src="{{ gymuser.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{ gymuser.images2}}" target="_blank"> 
          <img src="{{ gymuser.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{ gymuser.images3}}" target="_blank"> 
              <img src="{{ gymuser.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{ gymuser.images4}}" target="_blank"> 
                  <img src="{{ gymuser.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{ gymuser.images5}}" target="_blank"> 
                      <img src="{{ gymuser.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Video  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                                
                               </a>
                          </div>
               </div>
      </div>
     
         </div>
           <!-- ******************* UPDATES PRESENT ********************************* -->

         <div class="col-sm-12" *ngIf="updatesShows">
           <div class="col-sm-12">
             <h3>  Post / View Updates</h3>
           </div>

           <div class="col-sm-12">
              <h3>  Post  Updates </h3>
              <div class="col-sm-12">
                                 
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your description" [(ngModel)]="ups.description" name="descriptions">
                      </mat-form-field>
                     

<p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images1')" [(ngModel)]="ups.images1" placeholder="please enter images1" class="updated" name="images1" >
<p> Viedoe</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdatess($event,'viedoes')" [(ngModel)]="ups.viedoes" placeholder="please enter images1" class="updated" name="viedoes" >

    <button class="btn-primary upbuttons" (click)="updatesPostData()"> submit </button>
        
    </div>
            </div>



            <div class="col-sm-12">
  <div class="col-sm-12">
      <h3> View  Updates  ( {{clientUpdatesCount}} ) </h3>
       <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
         <div class="col-sm-12">
             <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
               <a> 
                   <img src="{{up.images}}" alt="about us" style="width:100%"></a>
         </div>
     <div class="col-sm-12 viedoes">
             <video width="100%" height="400px" controls>
                 <source src="{{up.viedoes}}" type="video/mp4">
                </video>
           </div>
       
           <div class="col-sm-12">
               <h3> {{up.title}} </h3>
               <h6> {{up.description}} </h6>
            </div>
   
            <!-- <div class="col-sm-3" (click)="shareClick(up)">
                   <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                     share </p>
                </div> -->
               <div class="col-sm-3" (click)="commentsClick(up)">
                   <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                     <span class=""> comments </span> 
                  </p>
           </div>
           <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
               <div class="col-sm-1">
                   <a href="https://www.facebook.com/" target="_blank">
               <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
               </a>
           </div>
               
                 <div class="col-sm-1">
                         <a href="https://www.whatsapp.com/" target="_blank">
                     <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                         </a>
               </div>
                  <div class="col-sm-1">
                    <a href="https://plus.google.com/discover" target="_blank">
                    <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                  </div>
      <div class="col-sm-1"> 
          <a href="https://twitter.com/login" target="_blank">
            <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
      </div>
    <div class="col-sm-1"> 
       <a href="https://www.instagram.com/accounts/login/" target="_blank">
         <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
      </div>
           </div>
       
         <div class="col-sm-12">
             <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                 
               <div class="col-sm-12">
                 <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
             </div>
           </div>
    
     <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
   <div class="col-sm-12" *ngFor="let comms of getUsersComments">
     <div class="col-sm-12 userscomm">
     <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                      <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                       <h6>  {{comms.descriptions}} </h6> 
    </div>                  
                   <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                           <a class="replyses">
                               <b class="replies lsc"> reply   </b></a>
                       </div> 
                    
   
   
       <div  class="u" *ngIf="replyfrom && replyid == comms._id">
          <mat-form-field class="example-full-width">
              <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
            </mat-form-field>
            <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
         <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
             <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
        <img src="{{gymuser.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
           {{gymuser.name}}:</span>
          <h5> {{rep.descriptions}} </h5> 
          </div> 
          </div> 
   
         </div>
       </div>
   </div>
         </div>
       </div>
            
                  <!-- **************************************************** -->
   

              </div>

           </div>
         
           <div class="col-sm-12" *ngIf="usersRecords">
              <h3> Post / views Users  </h3>
              <div class="col-sm-12   ">
                  <h4> Post Users  </h4>
                  <div class="col-sm-4">
                      <h4> Catageries </h4>
                      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{genderNameUsers}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="locationsdrops" *ngFor="let get of cageriesOnlyUser" (click)="caagerieUsers(get)">{{get.genders}}</li>
                                </ul> 
               </div>
                 
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your name" [(ngModel)]="usersonly.name" name="name">
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your area" [(ngModel)]="usersonly.area" name="area">
                          </mat-form-field>

                            <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your coachName" [(ngModel)]="usersonly.coachName" name="coachName">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your aboutCoach" [(ngModel)]="usersonly.aboutCoach" name="aboutCoach">
                          </mat-form-field>

                            <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your goal" [(ngModel)]="usersonly.goal" name="goal">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your joinDate" [(ngModel)]="usersonly.joinDate" name="joinDate">
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your shortDescp1" [(ngModel)]="usersonly.shortDescp1" name="shortDescp1">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter your descriptions1" [(ngModel)]="usersonly.descriptions1" name="descriptions1">
                              </mat-form-field>

                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your presentDate" [(ngModel)]="usersonly.presentDate" name="presentDate">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter your shortDescp2" [(ngModel)]="usersonly.shortDescp2" name="shortDescp2">
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="please enter your descriptions2" [(ngModel)]="usersonly.descriptions2" name="descriptions2">
                                    </mat-form-field>
                                
      <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputusers($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
          <button class="btn-primary upbuttons" (click)="onlyusersPostData()"> submit </button>
          
  <!-- ******************* no of the users********************************* -->
 <div class="col-sm-12">
    <h3> No Of Users ({{usersgetCount}}) </h3>

<div class="col-sm-12" *ngFor="let u of usersget">
       <div class="thumbnail col-sm-4" (click)="clickUsersDetails(u._id)">
                    <img src="{{u.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p class="services2"> Name : {{u.name}}</p>
                      <p class="services2"> Area : {{u.area}}</p>
                      <p class="services2"> Goal : {{u.goal}}</p>
                    </div>
         </div>
         <div class="thumbnail col-sm-7" (click)="clickUsersDetails(u._id)">
             <div class="caption">
              <p class="services2"> coachName : {{u.coachName}}</p>
              <p class="services2"> aboutCoach : {{u.aboutCoach}}</p>
              <p class="services2"> joinDate : {{u.joinDate}}</p>

              <p class="services2"> shortDescp1 : {{u.shortDescp1}}</p>
              <p class="services2"> descriptions1 : {{u.descriptions1}}</p>
              <p class="services2"> presentDate : {{u.presentDate}}</p>

              <p class="services2"> shortDescp2 : {{u.shortDescp2}}</p>
              <p class="services2"> descriptions2 : {{u.descriptions2}}</p>
             </div>
 </div>
 
</div>

<table class="table table-striped">
    <thead>
      <tr>
            <th> Sl.No </th>
            <th> Name </th>
        <th> Date Of Join </th>
        <th> Current date </th>
        <th> fitness goal </th>
        <th> Trainer Name </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of usersget; index as i" >
            <td> <p class="services2">{{i+1}} </p> </td>
            <td> <p class="services2">{{ser.name}}</p> </td>
        <td> <p class="services2">{{ser.joinDate}}</p> </td>
        <td> <p class="services2">{{ser.presentDate}}</p> </td>
        <td> <p class="services2">{{ser.goal}}</p> </td>
        <td> <p class="services2">{{ser.coachName}}</p> </td>


      </tr>
       
    </tbody>
  </table>

</div>
<!-- ************************************************** -->

              </div>
               </div>
     
              </div>