 
.activities{box-shadow: -7px 8px 6px 7px;
                      background-color: burlywood;
                      border-radius: 12px;
                      border-bottom: 12px solid beige;margin-left: 25px;
}
                .acName{border-bottom: 4px solid gainsboro;
                  padding-bottom: 12px;}
                  .sidenavact{ margin-bottom: 12px;
                      background-color: #a52a2a7a;
                      font-weight: bolder;
                      margin-top: 12px;color: honeydew;cursor: pointer;}
                      .commm{list-style: none}
                      .gimages{background-color: blue;
                          width: 50%;
                          text-align: center;
                          font-size: 25px;
                          padding: 12px;
                          border-radius: 5px;
                          color: white;}


                          .example-form {
                            min-width: 150px;
                            max-width: 500px;
                            width: 100%;
                          }
                          
                          .example-full-width {
                            width: 100%;
                          }
                          /* ************************* Tutions ************************ */
                    .fnames{width:20px}
                    .fff{    width: 60px;
                        /* margin-right: 60px; */
                        margin-top: 12px;}
                    .profilesv{position: absolute;
                        right: 0;
                        top: 50px;
                        background-color: beige;
                        text-align: center;
                        /* margin-right: 42px; */
                        padding-bottom: 27px;
                        z-index:99999
                    }
                    .example-form {
                        min-width: 150px;
                        max-width: 500px;
                        width: 100%;
                      }
                      
                      .example-full-width {
                        width: 100%;
                      }
                        .fnamess{
                            font-size: 11px;
    font-weight: bolder;
                        }
                        .sigbtn{
                            width: 120px;
                            padding: 8px;
                            border-radius: 5px;
                        }
                    .activities{box-shadow: -7px 8px 6px 7px;
                        background-color: burlywood;
                        border-radius: 12px;
                        border-bottom: 12px solid beige;margin-left: 25px;text-align: center
}
                  .acName{border-bottom: 4px solid gainsboro;
                    padding-bottom: 12px;}
                    .sidenavact{ margin-bottom: 12px;
                        background-color: #a52a2a7a;
                        font-weight: bolder;
                        margin-top: 12px;color: honeydew;cursor: pointer;}
                        .commm{list-style: none}
                        .gimages{background-color: blue;
                            width: 50%;
                            text-align: center;
                            font-size: 25px;
                            padding: 12px;
                            border-radius: 5px;
                            color: white;}
                            .imagesfur{width:30%}
                            .mars{margin-top:20px}
                            .yesT{    margin-top: 18px;
                                font-weight: bold;
                                text-shadow: -1px 4px 3px #968f8e;
                                font-size: 40px;}
                                /* ************************* */

                                .ninth{
                                    background-color: #968f8e
                                }
                                .sc{
                                    background-color:rgba(165, 42, 42, 0.376)
                                }
                                .tablessc{background-color:blue}
                                .sscbox{background-color: brown
                                }
                                .ints{
                                    margin-top: 20px
                                }
                                .topsandbot{    margin-top: 30px;
                                    margin-bottom: 30px;
                                }

                                 /* **************animations**************** */
    .catog{
        position: relative;
        animation-name: catog;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    
    @keyframes catog{
        0%{left:-1000px;}
        100%{left:0;}
    }
 /* **************timings**************** */
 .timings{
    position: relative;
    animation-name: catog;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************images**************** */
.images{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************addes**************** */
.addes{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************mains**************** */
.mains{
    position: relative;
    animation-name: catog;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{top:1000px;}
    100%{top:0;}
}
/* **************mainss**************** */
.mainss{
    position: relative;
    animation-name: catog;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{right:1000px;}
    100%{right:0;}
}
.bghostels{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-radius: 1%;
}
.insidecap{
    text-transform: capitalize
  }
.cnames{background: #ff9e00; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize; color: white; 
    padding: 15px; box-shadow: 35px 28px 10px black;}
    .fontsize{font-size: 12px;list-style: none}
.bgimg{padding-bottom: 30px;margin-top:40px}
.nones{list-style: none}
.tdadjs{width:40%;text-align: justify;font-size: 12px;}
.tdadjss{width:56%;text-align: justify;}
.ads{
    padding-top: 20px;
    font-size: 25px;
    color: black;
    /* padding-bottom: 20px; */
    font-weight: bolder
}
.topsandbot{    margin-top: 30px;
    margin-bottom: 30px;
}

.gimages{background-color: blue;
    width: 50%;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    border-radius: 5px;
    color: white;}
    .mars{margin-top:20px}
    .gh{border-right: 5px solid;}
    .lsc{cursor: pointer}