<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header lsc">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{mainuser.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff lsc">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{mainuser.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{mainuser.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{mainuser.emailId}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">
         <img src="{{mainuser.images2}}" class="img-circle"  style="width:45%">
  </div> 
 </div>  

  </div>
</nav>

<!-- ********************************************************************************************************************* -->




<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> View   Profile </h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                <h4> Galleries </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates / View Updates</h4>
          </div>
           <div class="col-sm-12 sidenavact" (click)="viewSSCShow()">
              <h4> Post / View SSC Details </h4>
          </div>
          
          <div class="col-sm-12 sidenavact" (click)="viewIntShow()">
            <h4> Post / View INTERMEDIATE Details </h4>
        </div>
        <div class="col-sm-12 sidenavact" (click)="viewDegreeShow()">
          <h4> Post / View DEGREE Details </h4>
        </div>


            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> View Comments ({{onlyCommentsCounts}})</h4>
                </div>
                
     
      </div>
      
      <div class="col-sm-8 c">
       <div class="col-sm-12" *ngIf="showmains">
          <h2 class="cnames"> {{mainuser.tutionsName}} </h2>    
          <div class="col-sm-12 bgimg">
              <img src="{{mainuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
          
          </div>
          <div class="col-sm-12 gh">
            
              <div class="col-sm-12 timings">

                  <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
<ul>
<li class="nones"> {{mainuser.day1}} </li>
<li class="nones"> {{mainuser.day2}} </li>
<li class="nones"> {{mainuser.day3}} </li>
<li class="nones"> {{mainuser.day4}} </li>
<li class="nones"> {{mainuser.day5}} </li>
<li class="nones"> {{mainuser.day6}} </li>
<li class="nones"> {{mainuser.day7}} </li>
<li class="nones"> {{mainuser.allTimes}} </li>
</ul>
<hr/>
              </div>
              <div class="col-sm-12 images">
                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                    <hr/>       
                   
                    
                    <ul>
                      
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images1}}" target="_blank"><img src="{{mainuser.images1}}" alt="about us" style="width:100%">  </a></li>
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images2}}" target="_blank">  <img src="{{mainuser.images2}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs">    <a href="{{mainuser.images3}}" target="_blank"><img src="{{mainuser.images3}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"><a href="{{mainuser.images4}}" target="_blank"><img src="{{mainuser.images4}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images5}}" target="_blank"> <img src="{{mainuser.images5}}" alt="about us" style="width:100%"> </a> </li>
       
     
                      </ul>
                    </div>
                   
                    <div class="col-sm-12 e addes">

                            <h4 class="ads"> Address </h4> 
                            <hr/>
                            <div class="col-sm-12 cons addresscap">
                               H No:{{mainuser.houseNo}} , {{mainuser.subArea}},{{mainuser.landmark}},{{mainuser.city}}
                                
                                {{mainuser.distict}},
                                {{mainuser.state}},
                                {{mainuser.pincode}}
                          </div>
            
                        </div>
                     
                        <div class="col-sm-12 e addes">
                            <h4 class="ads"> Contact informations </h4> 
                            <hr/>
                            <div class="col-sm-12 cons">
      <p>  
          <span class="glyphicon glyphicon-phone-alt"> office no: {{mainuser.officeNo}} 
          
      </span>
       </p>
                                  <br>
        <p> 
             <span class="glyphicon glyphicon-earphone">
                   Mobile No: {{mainuser.mobileNo}} 
            </span></p>
                                    <br>
                <p> <i class="fa fa-whatsapp" aria-hidden="true">
                     whatsapp No: {{mainuser.whatsupno}} </i></p>
                                                              <br>
                               <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{mainuser.emailId}} </i>
                                 
                                </p> 
                                 
                            </div>
      
                          </div>
                          </div>

              <div class="col-sm-9 mains">
                  <p class="dfd ads"> About Us </p>
<div class="col-md-12">

  <img src="{{mainuser.images1}}" style="width:20%;height:120px" class="pull-left img-thumbnail profilepic img-responsive">
  <p> <b> name: </b> <span class="names">{{mainuser.name}}</span> </p>
  <h6 class="dfd ">  <b>  my profile : </b></h6>
<p class="mainprog">
  {{mainuser.myProfileDescriptionOne}}
   <br>
 <span class="profpag"> {{mainuser.myProfileDescriptionTwo}}</span>
       
  </p>
  <h6 class="dfd ads">  <b> our aim : </b></h6>
  <p class="mainprog">{{mainuser.ourAimDescriptionOne}}
       <br>
     <span class="profpag"> {{mainuser.ourAimDescriptionTwo}}
       </span>
           
      </p>
  <hr/>
</div>


<div class="col-md-12 mainss">
      <h6 class="dfd ads"> <b> parents informations : </b></h6>
      <p class="mainprog"> 
            {{mainuser.parentsInformation}}
  </p>
      <hr/>
      <div class="col-md-12 mains">
              <h6 class="dfd ads"> <b> fecilities : </b></h6>
              <table class="table fecit table-responsive">
                  
                    <tbody>
                      <tr>
                        <td> {{mainuser.fecilities1}} </td>
                        <td> {{mainuser.fecilities2}} </td>
                        <td> {{mainuser.fecilities3}} </td>
                      </tr>
                      <tr>
                            <td> {{mainuser.fecilities4}} </td>
                            <td> {{mainuser.fecilities5}} </td>
                            <td> {{mainuser.fecilities6}} </td>
                      </tr>
                      <tr>
                            <td> {{mainuser.fecilities7}} </td>
                            <td> {{mainuser.fecilities8}} </td>
                            <td> {{mainuser.fecilities9}} </td>    
                      
                      </tr>
                      <tr>
                            <td> {{mainuser.fecilities10}} </td>
                            <td> {{mainuser.fecilities11}} </td>
                            <td> {{mainuser.fecilities12}} </td>
                           
                          </tr>
                         
                          <tr>
                                <td> {{mainuser.fecilities13}} </td>
                                <td> {{mainuser.fecilities14}} </td>
                                <td> {{mainuser.fecilities15}} </td>
                               
                              </tr>
                              
                    </tbody>
                  </table>
              <hr/>
          </div>   
  </div>
  
 </div>
   </div>

       <div class="col-sm-12" *ngIf="updatesShows">
          <h1> This is Post Your Updates </h1>
          <div class="col-sm-12">
                  <div class="col-sm-12">
               <b class=""> update form: </b>
       
             <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images')" placeholder="please enter image" class="updated" name="images" >
             <!-- <p> images1</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images1')" placeholder="please enter image" class="updated" name="images" >
             <p> images2</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images2')" placeholder="please enter image" class="updated" name="images" >
             <p> images3</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images3')" placeholder="please enter image" class="updated" name="images" > -->

             <p> viedoes </p>   <input type="file" #Image accept="video/*"  (change)="handleFileInputsFurnitures($event,'viedoes')" placeholder="please enter viedoes" class="updated" name="viedoes">
      
               <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedata.description" name="description">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your title" [(ngModel)]="postupdatedata.title" name="title">
                </mat-form-field>
              <button class="btn-primary upbuttons" (click)="UpdatePostData()"> submit </button>
              
          </div>
          
              </div>
          

              <div class="col-sm-12">
                <h5> <b>View Updates({{usersUpdatesCounts}})</b>
                   
                </h5>
                 
                    <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                       <div class="col-sm-12">
                           <p> {{item.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{item.createdAt  | date: "shortTime"}} </span>  </p>
                            <a href="{{item.images}}" target="_blank"> 
                                 <img src="{{item.images}}" alt="about us" style="width:100%"></a>
                          <div class="col-sm-12 viedoes">
      
                          <video width="100%" height="400px" controls>
                                  <source src="{{item.viedoes}}" type="video/mp4">
                                  
                                 </video>
                                </div>
                                <h2 class="insidecap"> {{item.title}} </h2>

                           <h6> {{item.description}} </h6>
                            
        
                       </div>
        
              
                       <div class="col-sm-12" >         
                        <hr/>
                       
                         
                        <!-- <div class="col-sm-3 lsc" (click)="showicons()">
                            <div class="col-sm-12">
                                <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                                  share </p>
                                        
                            </div>
                            </div> -->
                            <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                                <p class="lsc"> {{adminsupdateCommentsCount}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                                 <span class=""> comments </span> 
                              </p>
                            </div>  
                            <div class="col-sm-12 consts">
                            <div class="col-sm-12 comentssuboit" *ngIf="shows">
                          
                               
                                  <div class="col-sm-12">
           
                                      <a  class="replyses" (click)="updatestoAdmincommentsget(item._id)"><b> view comments ({{adminsupdateCommentsCount}}) </b></a> 
                                  </div>
              
                                  <div class="col-sm-12" *ngIf="showes && commentsUpdatesId == item._id">
              
                                   
                                           
              
                                                <li *ngFor="let items of  adminsupdateComments" class="commm">
                                                    <h6> 
                                                      <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b> <b>{{items.createdAt  | date: "shortTime"}}   </b>  <br/>      
                                                     
                                                        <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                                      {{items.descriptions}}  </h6>
                                                      
                                                 
                                                      <br/>
                                                      
                                                    <br/>
                                                      <a class="replyses" (click)="updatesAdminReply(items._id)">
                                                        <b> reply : </b></a>
                                          
                                         <div *ngIf="showess && selectedblogIds == items._id" class="u">
                                          <mat-form-field class="example-full-width">
                                            <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="updatesCommentsdata.descriptions" name="descriptions" ></textarea>
                                          </mat-form-field>
                                          <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>
                                      
                                            <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                                <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b> <b>{{items.createdAt  | date: "shortTime"}}   </b>  <br/>  
              
                                              <img src="{{mainuser.images2}}" class="img-circle" alt="about us" style="width:4%"> <span class="replys">
                                                {{mainuser.name}}:</span>
                                               <h6> {{replys.descriptions}} </h6> 
                                               <br/>
                                               
                                              </ul> 
                                          </div>      
                                        
                                                 </li>
                                                       
                                                  </div>
                        </div>
                        <div class="col-sm-12 proc" *ngIf="show">
                              <div class="col-sm-1">
                                      <a href="https://www.facebook.com/" target="_blank">
                                  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                                  </a>
                              </div>
                                  
                                    <div class="col-sm-1">
                                            <a href="https://www.whatsapp.com/" target="_blank">
                                        <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                            </a>
                                  </div>
                                     <div class="col-sm-1">
                                       <a href="https://plus.google.com/discover" target="_blank">
                                       <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                                     </div>
                         <div class="col-sm-1"> 
                             <a href="https://twitter.com/login" target="_blank">
                               <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
                         </div>
                       <div class="col-sm-1"> 
                          <a href="https://www.instagram.com/accounts/login/" target="_blank">
                            <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
                         </div>
                        </div>
                       
                        </div>
                       
                      </div>




          </div> 
          </div>
          
      
         </div>
  
         <div class="col-sm-12" *ngIf="SSCShows">
             <div class="col-sm-5 ninth">
               <h3> LKG - 9Th </h3>
                <form class="example-form">
                    <!-- ****************************description Basics******************************** -->
                   
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="description LKG-9TH Class" [(ngModel)]="ssc.descriptionBasics" name="descriptionBasics">
                    </mat-form-field>
                                <!-- ****************************nameOfTutorsBasics******************************** -->
      
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="name of Tutors LKG-9TH Class" [(ngModel)]="ssc.nameOfTutorsBasics" name="nameOfTutorsBasics">
                    </mat-form-field>
      
                    <!-- ****************************yearOfExperienceBasics******************************** -->
                   
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="year of Experience LKG-9TH Class" [(ngModel)]="ssc.yearOfExperienceBasics" name="yearOfExperienceBasics">
                    </mat-form-field>
           </form>      
             </div>
             <div class="col-sm-5 sc">
                <h3> SSC </h3>
                <form class="example-form">
                    <!-- ****************************descriptionssc******************************** -->

       <mat-form-field class="example-full-width">
         <input matInput placeholder="description ssc" [(ngModel)]="ssc.descriptionssc" name="descriptionssc">
       </mat-form-field>
       
       <!-- ****************************nameOfTutorssc******************************** -->
      
       <mat-form-field class="example-full-width">
         <input matInput placeholder="name of Tutorssc" [(ngModel)]="ssc.nameOfTutorssc" name="nameOfTutorssc">
       </mat-form-field>
                   <!-- ****************************yearOfExperiencesssc******************************** -->

       <mat-form-field class="example-full-width">
         <input matInput placeholder="year of Experiences ssc" [(ngModel)]="ssc.yearOfExperiencesssc" name="yearOfExperiencesssc">
       </mat-form-field>
       
      </form>   
              </div>
              <div class="col-sm-12">
                  <button type="submit" class="btn-large btn-submit" (click)="postSSCs()"> Submit </button>

              </div>




<div class="col-sm-12 topsandbot">
    <table class="table table-bordered fecit table-responsive tablesscd">
                
        <thead>
               
                <tr class="insidecap tablessc">
                        <th class="standards">standards</th>
                        <th>Descriptions</th>
                        <th>Name of the tutors</th>
                        <th class="years">Year of Experence</th>
                      </tr>
              </thead>
      <tbody *ngFor="let sscs of sscs">
            <tr class="tablesscc">
                    <td class=" "> Posted On </td>
                    <td class=" "> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                    <td class=" "> {{sscs.createdAt  | date: "shortTime"}} </td>
                    <td>  </td>
            </tr>
            <tr class="ninth">
                    <td class="standards"> LKG - 9th </td>
                   <td class="tdadjss"> <p> {{sscs.descriptionBasics}} </p>  </td>
                    <td> <p>  {{sscs.nameOfTutorsBasics}}</p> </td>
                    <td  class="years">  {{sscs.yearOfExperienceBasics}} </td>
                  </tr>
                 
                  <tr class="sc">
                        <td class="standards"> SSC </td>
                        <td class="tdadjss">  <p> {{sscs.descriptionssc}} </p>   </td>
                        <td> <p> {{sscs.nameOfTutorssc}} </p> </td>
                        <td  class="years">  <p> {{sscs.yearOfExperiencesssc}} </p> </td>
                      </tr>
 </tbody>
</table>

</div>
  </div>

           <div class="col-sm-12" *ngIf="IntermediateShows">
              <div class="col-sm-12 ninth">
                  <h3> PART-I: </h3>
                   <form class="example-form">
                     
                       <!-- ****************************descriptionsEnglish******************************** -->
                      
                       <mat-form-field class="example-full-width">
                         <input matInput placeholder="descriptions English" [(ngModel)]="inters.descriptionsEnglish" name="descriptions English">
                       </mat-form-field>

 <!-- ****************************tutorsenglish******************************** -->
   
 <mat-form-field class="example-full-width">
    <input matInput placeholder="tutorsenglish" [(ngModel)]="inters.tutorsenglish" name="tutorsenglish">
  </mat-form-field>



              <!-- ****************************expenglish******************************** -->
   
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="expenglish" [(ngModel)]="inters.tutorsGeology" name="expenglish">
                </mat-form-field>



                       </form>
</div>
                       <div class="col-sm-12">
                          <h3> PART-II: </h3>
                        <div class="col-sm-4">
                            <h3> Description </h3>
                            <form class="example-form">
 <!-- ****************************descriptionsTelugu******************************** -->
                      
 <mat-form-field class="example-full-width">
    <input matInput placeholder="descriptions Telugu" [(ngModel)]="inters.descriptionsTelugu" name=" descriptions Telugu">
  </mat-form-field>

  <!-- ****************************descriptionsHindi******************************** -->

 <mat-form-field class="example-full-width">
    <input matInput placeholder="descriptions Hindi" [(ngModel)]="inters.descriptionsHindi" name="descriptions Hindi">
  </mat-form-field>

  <!-- ****************************descriptionsSanskrit******************************** -->

 <mat-form-field class="example-full-width">
    <input matInput placeholder="descriptions Sanskrit" [(ngModel)]="inters.descriptionsSanskrit" name="descriptions Sanskrit">
  </mat-form-field>
<!-- ****************************descriptionsurudhu******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions urudhu" [(ngModel)]="inters.descriptionsurudhu" name="descriptions urudhu">
</mat-form-field>

<!-- ****************************descriptions Arabic******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions Arabic" [(ngModel)]="inters.descriptionsArabic" name="descriptions Arabic">
</mat-form-field>
<!-- ****************************descriptionsFranch******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions Franch" [(ngModel)]="inters.descriptionsFranch" name="descriptions Franch">
</mat-form-field>

<!-- ****************************descriptionsTamil******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions Tamil" [(ngModel)]="inters.descriptionsTamil" name="descriptions Tamil">
</mat-form-field>

<!-- ****************************descriptions Kanadam******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions Kanadam" [(ngModel)]="inters.descriptionsKanadam" name="descriptions Kanadam">
</mat-form-field>

<!-- ****************************descriptionsOriya******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions Oriya" [(ngModel)]="inters.descriptionsOriya" name="descriptions Oriya">
</mat-form-field>

<!-- ****************************descriptionsMarathi******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="descriptions descriptionsMarathi" [(ngModel)]="inters.descriptionsMarathi" name="descriptions Marathi">
</mat-form-field>



                            </form>
                        </div>

                        <div class="col-sm-4">
                            <h3> Tutors Name </h3>
                            <form class="example-form">
<!-- ****************************tutorsTelugu******************************** -->
   
<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Telugu" [(ngModel)]="inters.tutorsTelugu" name="tutors Telugu">
  </mat-form-field>
  <!-- ****************************tutorsHindi******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Hindi" [(ngModel)]="inters.tutorsHindi" name="tutors Hindi">
  </mat-form-field>
  <!-- ****************************tutorsSanskrit******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Sanskrit" [(ngModel)]="inters.tutorsSanskrit" name="tutors Sanskrit">
  </mat-form-field>
  <!-- ****************************tutorsurudhu******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors urudhu" [(ngModel)]="inters.tutorsurudhu" name="tutors urudhu">
  </mat-form-field>
  <!-- ****************************tutorsArabic******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Arabic" [(ngModel)]="inters.tutorsArabic" name="tutors Arabic">
  </mat-form-field>
  <!-- ****************************tutorsFranch******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Franch" [(ngModel)]="inters.tutorsFranch" name="tutors Franch">
  </mat-form-field>
  <!-- ****************************tutorsTamil******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Tamil" [(ngModel)]="inters.tutorsTamil" name="tutors Tamil">
  </mat-form-field>
  <!-- ****************************tutorsKanadam******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Kanadam" [(ngModel)]="inters.tutorsKanadam" name="tutors Kanadam">
  </mat-form-field>
  <!-- ****************************tutorsOriya******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Oriya" [(ngModel)]="inters.tutorsOriya" name="tutors Oriya">
  </mat-form-field>
  <!-- ****************************tutorsMarathi******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Marathi" [(ngModel)]="inters.tutorsMarathi" name="tutors Marathi">
  </mat-form-field>


                            </form>
                        </div>
                        <div class="col-sm-4">
                            <h3> Year of Experence </h3>
                            <form class="example-form">

 <!-- ****************************expTelugu******************************** -->
   
 <mat-form-field class="example-full-width">
    <input matInput placeholder="expTelugu" [(ngModel)]="inters.expTelugu" name="exp Telugu">
  </mat-form-field>
<!-- ****************************expHindi******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Hindi" [(ngModel)]="inters.expHindi" name="exp Hindi">
  </mat-form-field>
<!-- ****************************expSanskrit******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Sanskrit" [(ngModel)]="inters.expSanskrit" name="exp Sanskrit">
  </mat-form-field>
<!-- ****************************expurudhu******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="expurudhu" [(ngModel)]="inters.expurudhu" name="expurudhu">
  </mat-form-field>
<!-- ****************************expArabic******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Arabic" [(ngModel)]="inters.expArabic" name="expArabic">
  </mat-form-field>
<!-- ****************************expFranch******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="expFranch" [(ngModel)]="inters.expFranch" name="expengexpFranchlish">
  </mat-form-field>
<!-- ****************************expTamil******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Tamil" [(ngModel)]="inters.expTamil" name="exp  Tamil">
  </mat-form-field>
<!-- ****************************expKanadam******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Kanadam" [(ngModel)]="inters.expKanadam" name="exp Kanadam">
  </mat-form-field>
<!-- ****************************expOriya******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Oriya" [(ngModel)]="inters.expOriya" name="exp Oriya">
  </mat-form-field>
<!-- ****************************expMarathi******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Marathi" [(ngModel)]="inters.expMarathi" name="exp Marathi">
  </mat-form-field>

                            </form>
                        </div>
                         
                            
                </div>
                <div class="col-sm-12 sc">
                   <h3> part:III </h3>

                   <div class="col-sm-4">
                      <h3> Description </h3>
                      <form class="example-form">
 <!-- ****************************descriptionMathametics******************************** -->
   
 <mat-form-field class="example-full-width">
    <input matInput placeholder="description Mathametics" [(ngModel)]="inters.descriptionMathametics" name="description Mathametics">
  </mat-form-field>

   <!-- ****************************descriptionPhysics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Physics" [(ngModel)]="inters.descriptionPhysics" name="descriptionPhysics">
  </mat-form-field>

   <!-- ****************************descriptionChemistry******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Chemistry" [(ngModel)]="inters.descriptionChemistry" name="description Chemistry">
  </mat-form-field>

  <!-- ****************************descriptionBotony******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Botony" [(ngModel)]="inters.descriptionBotony" name="descriptionBotony">
  </mat-form-field>

   <!-- ****************************descriptionZoology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Zoology" [(ngModel)]="inters.descriptionZoology" name="description Zoology">
  </mat-form-field>

   <!-- ****************************descriptionCommerce******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Commerce" [(ngModel)]="inters.descriptionCommerce" name="description Commerce">
  </mat-form-field>

   <!-- ****************************descriptionEconomics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Economics" [(ngModel)]="inters.descriptionEconomics" name="descriptionEconomics">
  </mat-form-field>

   <!-- ****************************descriptionCivics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Civics" [(ngModel)]="inters.descriptionCivics" name="description Civics">
  </mat-form-field>

   <!-- ****************************descriptionHistory******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description History" [(ngModel)]="inters.descriptionHistory" name="description History">
  </mat-form-field>

   <!-- ****************************descriptionPsycology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Psycology" [(ngModel)]="inters.descriptionPsycology" name="description Psycology">
  </mat-form-field>

   <!-- ****************************descriptionPublicAdminstration******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Public Adminstration" [(ngModel)]="inters.descriptionPublicAdminstration" name="description Public Adminstration">
  </mat-form-field>

   <!-- ****************************descriptionLogic******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Logic" [(ngModel)]="inters.descriptionLogic" name="description Logic">
  </mat-form-field>

   <!-- ****************************descriptionSocialogy******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Socialogy" [(ngModel)]="inters.descriptionSocialogy" name="description Socialogy">
  </mat-form-field>

   <!-- ****************************descriptionGeography******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Geography" [(ngModel)]="inters.descriptionGeography" name="description Geography">
  </mat-form-field>

   <!-- ****************************descriptionGeology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="description Geology" [(ngModel)]="inters.descriptionGeology" name="description Geology">
  </mat-form-field>

                    </form>
                   </div>

                   <div class="col-sm-4">
                      <h3> Tutors Name </h3>
                      <form class="example-form">
 <!-- ****************************tutorsMathametics******************************** -->
   
 <mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Mathametics" [(ngModel)]="inters.tutorsMathametics" name="tutors Mathametics">
  </mat-form-field>
  <!-- ****************************tutorsPhysics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Physics" [(ngModel)]="inters.tutorsPhysics" name="tutors Physics">
  </mat-form-field>
  <!-- ****************************tutorsChemistry******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Chemistry" [(ngModel)]="inters.tutorsChemistry" name="tutors Chemistry">
  </mat-form-field>
  <!-- ****************************tutorsBotony******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Botony" [(ngModel)]="inters.tutorsBotony" name="tutors Botony">
  </mat-form-field>
  <!-- ****************************tutorsZoology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Zoology" [(ngModel)]="inters.tutorsZoology" name="tutors Zoology">
  </mat-form-field>
  <!-- ****************************tutorsCommerce******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Commerce" [(ngModel)]="inters.tutorsCommerce" name="tutors Commerce">
  </mat-form-field>
  <!-- ****************************tutorsEconomics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Economics" [(ngModel)]="inters.tutorsEconomics" name="tutors Economics">
  </mat-form-field>
  <!-- ****************************tutorsCivics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Civics" [(ngModel)]="inters.tutorsCivics" name="tutors Civics">
  </mat-form-field>
  <!-- ****************************tutorsHistory******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors History" [(ngModel)]="inters.tutorsHistory" name="tutors History">
  </mat-form-field>
 
  <!-- ****************************tutorsPsycology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Psycology" [(ngModel)]="inters.tutorsPsycology" name="tutors Psycology">
  </mat-form-field>

    <!-- ****************************tutorsPublicAdminstration******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Public Adminstration" [(ngModel)]="inters.tutorsPublicAdminstration" name="tutors Public Adminstration">
  </mat-form-field>

    <!-- ****************************tutorsLogic******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Logic" [(ngModel)]="inters.tutorsLogic" name="tutors Logic">
  </mat-form-field>
    <!-- ****************************tutorsSocialogy******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Socialogy" [(ngModel)]="inters.tutorsSocialogy" name="tutors Socialogy">
  </mat-form-field>
    <!-- ****************************tutorsGeography******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Geography" [(ngModel)]="inters.tutorsGeography" name="tutors Geography">
  </mat-form-field>
    <!-- ****************************tutorsGeology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="tutors Geology" [(ngModel)]="inters.tutorsGeology" name="tutors Geology">
  </mat-form-field>

                    </form>
                   </div>

                   <div class="col-sm-4">
                      <h3> Year of Experence  </h3>
                      <form class="example-form">
 <!-- ****************************expMathametics******************************** -->
   
 <mat-form-field class="example-full-width">
    <input matInput placeholder="exp Mathametics" [(ngModel)]="inters.expMathametics" name="exp Mathametics">
  </mat-form-field>
<!-- ****************************expPhysics******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Physics" [(ngModel)]="inters.expPhysics" name="exp Physics">
  </mat-form-field>
<!-- ****************************expChemistry******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Chemistry" [(ngModel)]="inters.expChemistry" name="exp Chemistry">
</mat-form-field>
<!-- ****************************expBotony******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Botony" [(ngModel)]="inters.expBotony" name="exp Botony">
  </mat-form-field>
<!-- ****************************expZoology******************************** -->
<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Zoology" [(ngModel)]="inters.expZoology" name="exp Zoology">
  </mat-form-field>
<!-- ****************************expCommerce******************************** -->
<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Commerce" [(ngModel)]="inters.expCommerce" name="exp Commerce">
  </mat-form-field>
<!-- ****************************expEconomics******************************** -->
<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Economics" [(ngModel)]="inters.expEconomics"  name="exp Economics">
  </mat-form-field>
<!-- ****************************expCivics******************************** -->
<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Civics" [(ngModel)]="inters.expCivics"name="exp Civics">
  </mat-form-field>
<!-- ****************************expHistory******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp History" [(ngModel)]="inters.expHistory" name="exp History">
  </mat-form-field>
<!-- ****************************expPsycology******************************** -->

<mat-form-field class="example-full-width">
    <input matInput placeholder="exp Psycology" [(ngModel)]="inters.expPsycology" name="exp Psycology">
  </mat-form-field>
<!-- ****************************expPublicAdminstration******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Public Adminstration" [(ngModel)]="inters.expPublicAdminstration" name="exp Public Adminstration">
</mat-form-field>
<!-- ****************************expLogic******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Logic" [(ngModel)]="inters.expLogic" name="exp Logic">
</mat-form-field>
<!-- ****************************expSocialogy******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Socialogy" [(ngModel)]="inters.expSocialogy" name="exp Socialogy">
</mat-form-field>
<!-- ****************************expGeography******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Geography" [(ngModel)]="inters.expGeography" name="exp Geography">
</mat-form-field>
<!-- ****************************expGeology******************************** -->

<mat-form-field class="example-full-width">
<input matInput placeholder="exp Geology" [(ngModel)]="inters.expGeology" name="exp Geology">
</mat-form-field>

                    </form>
                   </div>
   
                 </div>
                 <div class="col-sm-12">
                     <button type="submit" class="btn-large btn-submit" (click)="postInts()"> Submit </button>
   
                 </div>
   
   
   
   
   <div class="col-sm-12 topsandbot ints">



      <table class="table table-bordered fecit table-responsive tablesscds">
                            
          <thead>
                 
              <tr class="insidecap tablessc">
                      <th class="standards">standards</th>
                      <th>Descriptions</th>
                      <th>Name of the tutors</th>
                      <th class="years">Year of Experence</th>
                    </tr>
            </thead>
  
                      <tbody *ngFor="let sscs of ints">
                              <tr class="standards insidecap">  <h5 class="tabinter"> Intermediate:</h5> </tr>
  
                              <tr class="tablesscc">
                                      <td class="insidecap"> Posted On </td>
                                      <td class="insidecap"> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                                      <td class="insidecap"> {{sscs.createdAt  | date: "shortTime"}} </td>
                                      <td>  </td>
                              </tr>   
  
                              <tr class="standards">  <td> <p><span  class="parts">PART-I: </span> </p>  </td>  </tr>
                        
                              
                          <tr> 
                                  <td class="standards insidecap"> <p>  English </p>  </td>    
                                  <td class="tdadjs">  <p>   English  </p>  </td>
                                  <td class="insidecap"> <p>  {{sscs.tutorsEnglish}} </p>  </td>
                                  <td  class="years"> <p>  {{sscs.expenglish}} </p>  </td>
                        </tr>
                        <tr> <td class="standards"> <p><span  class="parts">PART-II: </span> </p>  </td>  </tr>
                        <tr> 
                              <td class="standards insidecap"> <p> Telugu </p>  </td>    
                              <td class="tdadjs">  <p> {{sscs.descriptionsTelugu}} </p>  </td>
                              <td class="insidecap"> <p>  {{sscs.tutorsTelugu}} </p>  </td>
                              <td  class="years"> <p>  {{sscs.expTelugu}} </p>  </td>
                    </tr>
                        <tr>
                                <td class="standards insidecap"> <p> Hindi</p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsHindi}}</p>  </td>
                                <td class="insidecap"> <p>  {{sscs.tutorsHindi}} </p>  </td>
                                <td  class="years"> <p>  {{sscs.expHindi}} </p> </td>
                        </tr> 
                        
                        
                        <tr>
                                <td class="standards insidecap"> <p> Sanskrit </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsSanskrit}}</p>  </td>
                                <td class="insidecap"> <p>{{sscs.tutorsSanskrit}}</p> </td>
                                <td  class="years">  <p>{{sscs.expSanskrit}}</p></td>
                        </tr>
  
  
                        <tr>
                              <td class="standards insidecap"> <p> urudhu</p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsurudhu}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsurudhu}}</p> </td>
                                <td  class="years"> <p>{{sscs.expurudhu}}</p></td>
                        </tr>
  
  
                        <tr>
                              <td class="standards insidecap">  <p>  Arabic  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsArabic}}</p>  </td>
                                <td class="insidecap"> <p>{{sscs.tutorsArabic}}</p> </td>
                                <td  class="years"> <p>{{sscs.expArabic}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap"> <p>  Franch   </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsFranch}}</p>  </td>
                                <td class="insidecap"> <p>{{sscs.tutorsFranch}}</p> </td>
                                <td  class="years"><p>{{sscs.expFranch}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Tamil  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsTamil}}</p>  </td>
                                <td class="insidecap"> <p>{{sscs.tutorsTamil}}</p> </td>
                                <td  class="years"> <p>{{sscs.expTamil}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Kanadam  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionsKanadam}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsKanadam}}</p></td>
                                <td  class="years"><p>{{sscs.expKanadam}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Oriya </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionsOriya}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsOriya}}</p> </td>
                                <td  class="years"><p>{{sscs.expOriya}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Marathi  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionsMarathi}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsMarathi}}</p></td>
                                <td  class="years"><p>{{sscs.expMarathi}}</p></td>
                        </tr>
                        <tr> <td class="standards insidecap"> <p class="parts">  PART-III: Optional Subjects:   </p>  </td>  </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Mathametics   </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionMathametics}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsMathametics}}</p></td>
                                <td  class="years"><p>{{sscs.expMathametics}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Physics </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionPhysics}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsPhysics}}</p></td>
                                <td  class="years"><p>{{sscs.expPhysics}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Chemistry </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionChemistry}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsChemistry}}</p></td>
                                <td  class="years"><p>{{sscs.expChemistry}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Botony </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionBotony}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsBotony}}</p></td>
                                <td  class="years"><p>{{sscs.expBotony}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Zoology  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionZoology}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsZoology}}</p></td>
                                <td  class="years"><p>{{sscs.expZoology}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Commerce  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionCommerce}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsCommerce}}</p></td>
                                <td  class="years"><p>{{sscs.expCommerce}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Economics  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionEconomics}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsEconomics}}</p></td>
                                <td  class="years"><p>{{sscs.expEconomics}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Civics   </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionCivics}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsCivics}}</p></td>
                                <td  class="years"><p>{{sscs.expCivics}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> History  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionHistory}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsHistory}}</p></td>
                                <td  class="years"><p>{{sscs.expHistory}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Psycology  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionPsycology}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsPsycology}}</p></td>
                                <td  class="years"><p>{{sscs.expPsycology}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  PublicAdminstration   </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionPublicAdminstration}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsPublicAdminstration}}</p></td>
                                <td  class="years"><p>{{sscs.expPublicAdminstration}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Logic   </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionLogic}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsLogic}}</p></td>
                                <td  class="years"><p>{{sscs.expLogic}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Socialogy </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionSocialogy}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsSocialogy}}</p></td>
                                <td  class="years"><p>{{sscs.expSocialogy}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p>  Geography  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionGeography}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsGeography}}</p></td>
                                <td  class="years"><p>{{sscs.expGeography}}</p></td>
                        </tr>
                        <tr>
                              <td class="standards insidecap">  <p> Geology  </p> </td>
                              <td class="tdadjs">  <p>{{sscs.descriptionGeology}}</p>  </td>
                                <td class="insidecap"><p>{{sscs.tutorsGeology}}</p></td>
                                <td  class="years"><p>{{sscs.expGeology}}</p></td>
                        </tr>
  
                        
                      </tbody>
                    </table>
   
   </div>
           </div>

           <div class="col-sm-12" *ngIf="DegreeShows">
<div class="col-sm-12">
    <h3> Degree </h3>
    <div class="col-sm-4 ninth">
        <h3> Descriptions </h3>
         <form class="example-form">
             <!-- ****************************BusinessDescription******************************** -->
            
             <mat-form-field class="example-full-width">
               <input matInput placeholder="Business Description" [(ngModel)]="deg.BusinessDescription" name="Business Description">
             </mat-form-field>
                         <!-- ****************************ComputingDescription******************************** -->

             <mat-form-field class="example-full-width">
               <input matInput placeholder="Computing Description" [(ngModel)]="deg.ComputingDescription" name="Computing Description">
             </mat-form-field>

             <!-- ****************************EngineeringDescription******************************** -->
            
             <mat-form-field class="example-full-width">
               <input matInput placeholder="Engineering Description" [(ngModel)]="deg.EngineeringDescription" name="Engineering Description">
             </mat-form-field>
              <!-- ****************************HumaniliesDescription******************************** -->
            
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Humanilies Description" [(ngModel)]="deg.HumaniliesDescription" name="Humanilies Description">
                </mat-form-field>
                 <!-- ****************************LanguageDescription******************************** -->
            
             <mat-form-field class="example-full-width">
                <input matInput placeholder="Language Description" [(ngModel)]="deg.LanguageDescription" name="Language Description">
              </mat-form-field>
               <!-- ****************************LawDescription******************************** -->
            
             <mat-form-field class="example-full-width">
                <input matInput placeholder="Law Description" [(ngModel)]="deg.LawDescription" name="Law Description">
              </mat-form-field>
               <!-- ****************************PsychologyDescription******************************** -->
            
             <mat-form-field class="example-full-width">
                <input matInput placeholder="Psychology Description" [(ngModel)]="deg.PsychologyDescription" name="Psychology Description">
              </mat-form-field>
               <!-- ****************************ScienceDescription******************************** -->
            
             <mat-form-field class="example-full-width">
                <input matInput placeholder="Science Description" [(ngModel)]="deg.ScienceDescription" name="Science Description">
              </mat-form-field>
    </form>      
      </div>
    
      <div class="col-sm-4 ninth">
          <h3> Tutor Name </h3>
           <form class="example-form">
               <!-- ****************************BusinessTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                 <input matInput placeholder="Business Tutors" [(ngModel)]="deg.BusinessTutors" name="Business Tutors">
               </mat-form-field>
                           <!-- ****************************ComputingTutors******************************** -->
  
               <mat-form-field class="example-full-width">
                 <input matInput placeholder="Computing Tutors" [(ngModel)]="deg.ComputingTutors" name="ComputingTutors">
               </mat-form-field>
  
               <!-- ****************************EngineeringTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                 <input matInput placeholder="Engineering Tutors" [(ngModel)]="deg.EngineeringTutors" name="EngineeringTutors">
               </mat-form-field>
                <!-- ****************************HumaniliesTutors******************************** -->
              
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Humanilies Tutors" [(ngModel)]="deg.HumaniliesTutors" name="Humanilies Tutors">
                  </mat-form-field>
                   <!-- ****************************LanguageTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                  <input matInput placeholder="Language Tutors" [(ngModel)]="deg.LanguageTutors" name="Language Tutors">
                </mat-form-field>
                 <!-- ****************************LawTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                  <input matInput placeholder="Law Tutors" [(ngModel)]="deg.LawTutors" name="Law Tutors">
                </mat-form-field>
                 <!-- ****************************PsychologyTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                  <input matInput placeholder="Psychology Tutors" [(ngModel)]="deg.PsychologyTutors" name="Psychology Tutors">
                </mat-form-field>
                 <!-- ****************************ScienceTutors******************************** -->
              
               <mat-form-field class="example-full-width">
                  <input matInput placeholder="Science Tutors" [(ngModel)]="deg.ScienceTutors" name="ScienceTutors">
                </mat-form-field>
      </form>      
        </div>
    
        <div class="col-sm-4 ninth">
            <h3> Years Of Experiences </h3>
             <form class="example-form">
                 <!-- ****************************BusinessYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                   <input matInput placeholder="Business Year Exp" [(ngModel)]="deg.BusinessYearExp" name="BusinessYearExp">
                 </mat-form-field>
                             <!-- ****************************ComputingYearExp******************************** -->
    
                 <mat-form-field class="example-full-width">
                   <input matInput placeholder="Computing Year Exp" [(ngModel)]="deg.ComputingYearExp" name="Computing Year Exp">
                 </mat-form-field>
    
                 <!-- ****************************EngineeringYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                   <input matInput placeholder="Engineering Year Exp" [(ngModel)]="deg.EngineeringYearExp" name="Engineering Year Exp">
                 </mat-form-field>
                  <!-- ****************************HumaniliesYearExp******************************** -->
                
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Humanilies Year Exp" [(ngModel)]="deg.HumaniliesYearExp" name="Humanilies Year Exp">
                    </mat-form-field>
                     <!-- ****************************LanguageYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                    <input matInput placeholder="Language Year Exp" [(ngModel)]="deg.LanguageYearExp" name="Language YearE xp">
                  </mat-form-field>
                   <!-- ****************************LawYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                    <input matInput placeholder="Law Year Exp" [(ngModel)]="deg.LawYearExp" name="Law Year Exp">
                  </mat-form-field>
                   <!-- ****************************PsychologyYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                    <input matInput placeholder="Psychology Year Exp" [(ngModel)]="deg.PsychologyYearExp" name="PsychologyYearExp">
                  </mat-form-field>
                   <!-- ****************************ScienceYearExp******************************** -->
                
                 <mat-form-field class="example-full-width">
                    <input matInput placeholder="Science Year Exp" [(ngModel)]="deg.ScienceYearExp" name="Science Year Exp">
                  </mat-form-field>
        </form>      
          </div>
          <div class="col-sm-12">
              <button type="submit" class="btn-large btn-submit" (click)="postDegree()"> Submit </button>

          </div>
        
</div>

              <div class="col-sm-12 topsandbot">
                  <table class="table table-bordered fecit table-responsive tablesscd">
                              
                      <thead>
                             
                              <tr class="insidecap tablessc">
                                      <th class="standards">standards</th>
                                      <th>Descriptions</th>
                                      <th>Name of the tutors</th>
                                      <th class="years">Year of Experence</th>
                                    </tr>
                            </thead>
                    <tbody *ngFor="let sscs of degree">
                          <tr class="tablesscc">
                                  <td class=" "> Posted On </td>
                                  <td class=" "> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                                  <td class=" "> {{sscs.createdAt  | date: "shortTime"}} </td>
                                  <td>  </td>
                          </tr>
                           <tr>
                                  <td class="standards"> <p class="parts"> Business Degree  </p> </td>
                                  <td> <p> {{sscs.BusinessDescription}}</p> </td>
                                  <td> {{sscs.BusinessTutors}} </td>
                                  <td  class="years">   {{sscs.BusinessYearExp}}</td>
                          </tr>
                          <tr>
                                  <td class="standards">  <p  class="parts"> Computing Degree  </p>  </td>
                                  <td>  <p> {{sscs.ComputingDescription}} </p>   </td>
                                  <td> <p> {{sscs.ComputingTutors}} </p> </td>
                                  <td  class="years">  <p> {{sscs.ComputingYearExp}} </p> </td>
                          </tr>
                          <tr>
                                  <td class="standards"> <p  class="parts"> Engineering Degree  </p>  </td>
                                  <td>  <p> {{sscs.EngineeringDescription}} </p> </td>
                                  <td> <p> {{sscs.EngineeringTutors}} </p> </td>
                                  <td  class="years"> <p> {{sscs.EngineeringYearExp}} </p> </td>
                          </tr>
                          <tr>
                                  <td class="standards">  <p  class="parts"> Humanilies Degree  </p> </td>
                                  <td>  <p> {{sscs.HumaniliesDescription}} </p>  </td>
                                  <td> <p> {{sscs.HumaniliesTutors}} </p>  </td>
                                  <td  class="years"> <p> {{sscs.HumaniliesYearExp}} </p> </td>
                          </tr>
                          <tr>
                                  <td class="standards"> <p  class="parts"> Language Degree  </p>  </td>
                                  <td> <p> {{sscs.LanguageDescription}} </p> </td>
                                  <td> <p> {{sscs.LanguageTutors}} </p> </td>
                                  <td  class="years"> <p> {{sscs.LanguageYearExp}} </p> </td>
                          </tr>
                          <tr>
                                  <td class="standards">  <p  class="parts"> Law Degree  </p>  </td>
                                  <td> <p> {{sscs.LawDescription}} </p> </td>
                                  <td> <p> {{sscs.LawTutors}} </p> </td>
                                  <td  class="years"> <p> {{sscs.LawYearExp}} </p> </td>
                          </tr>
                          <tr>
                                  <td class="standards">  <p  class="parts"> Psychology Degree  </p>  </td>
                                  <td>   <p>{{sscs.PsychologyDescription}}</p>   </td>
                                  <td> <p>{{sscs.PsychologyTutors}}</p></td>
                                  <td  class="years"><p>{{sscs.PsychologyYearExp}}</p> </td>
                          </tr>
                          <tr>
                                  <td class="standards">  <p  class="parts"> Science Degree  </p> </td>
                                  <td>  <p> {{sscs.ScienceDescription}} </p>  </td>
                                  <td> <p>{{sscs.ScienceTutors}}</p> </td>
                                  <td  class="years"> <p>{{sscs.ScienceYearExp}}</p> </td>
                          </tr>
               </tbody>
              </table>
              
              </div>
          
           </div>
         <div class="col-sm-12" *ngIf="onlyCommentsShows">
            <h1> Recieve Comments ({{onlyCommentsCounts}}) </h1>
                
            <table class="table">
                    <thead>
                      <tr>
                            <th>S no</th>
                        <th>Date & Time</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th>Leave Comments </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let com of onlyComments; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                        <td> {{com.name}}  </td>
                        <td>{{com.email}}</td>
                        <td>{{com.contactNo}}</td>
                        <td>{{com.leaveComment}}</td>
                      </tr>
                       
                    </tbody>
                  </table>

       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{mainuser.images1}}" target="_blank"> 
      <img src="{{mainuser.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{mainuser.images2}}" target="_blank"> 
          <img src="{{mainuser.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{mainuser.images3}}" target="_blank"> 
              <img src="{{mainuser.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{mainuser.images4}}" target="_blank"> 
                  <img src="{{mainuser.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{mainuser.images5}}" target="_blank"> 
                      <img src="{{mainuser.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of adminupdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Video  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of adminupdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                                
                               </a>
                          </div>
               </div>
      </div>
     
         </div>

          
      </div>  
    </div>
  </div>
