
<div class="container-fluid">
    <div class="row">
      <div class="blockCenter">
  
    
      <div class="col-sm-6 col-sm-offset-3">
          <h1> Login </h1>
        <div class="register">
           
           

          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="email" [(ngModel)]="logins.email" name="logins" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="password" type="password" [(ngModel)]="logins.password" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="adminstrations Id" [(ngModel)]="logins.adminsId" required>
            </mat-form-field>
          <h6 class="text-right"> 
              <a [routerLink]= "['/login/forgetpassword']" class=""> forget password </a>  
          </h6>
          </div>
      </div>
    </div>
    </div>
  </div>

  <div class="btn-group col-sm-1 col-sm-offset-4" role="group">
    <button type="button" class="btn btn-primary" (click)="loginhtml()"> submit </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary"> <a [routerLink]= "['/login/signup']" class="as"> register </a> </button>
    
  </div>

