.blockCenter{margin: 0 auto}
.registeradj{margin: 2px;margin-bottom: 30px;margin-top: 35px;}
    /* .register{border: 12px solid #f7f1f1} */

    .register{
        border: 12px solid #f7f1f1;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 80%;
        /* margin-right: -53%; */
        padding-right: 12%;
        padding-left: 12%;
        padding-bottom: 2%;
        padding-top: 3%;
    }
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .as{color:white !important}