

<div class="col-md-12 col-xs-12">
  <div class="col-sm-12">
       <a [routerLink]= "['/classifieds/classifiedGeneral']">

      <div class="panel panel-primary dff boxshaws">
           <div class="panel-body dffff">
          <div class="col-sm-6 col-sm-offset-3 imgs">
              <h2 class="catstyle"> classifieds General </h2>
              <img src="assets/images/images.png" alt="about us" style="width:100%; height: 260px;"> 
          </div>  
        
          </div>
        </div>
</a>
      </div>

</div> 



<div class="col-md-12 col-xs-12">
  <div class="col-sm-12">
       <a [routerLink]= "['/classifieds/searchjobs']">

      <div class="panel panel-primary dff boxshaws">
           <div class="panel-body dffff">
          <div class="col-sm-6 col-sm-offset-3 imgs">
              <h2 class="catstyles"> I Need Job </h2>
              <img src="assets/images/job.jpeg" alt="about us" style="width:100%; height: 260px;"> 
          </div>  
        
          </div>
        </div>
</a>
      </div>

</div> 