.catstyle{text-align: center;font-size: 40px;background-color: blanchedalmond;border-radius: 45px;padding: 12px;}
.catstyles{text-align: center;font-size: 40px;background-color: blanchedalmond;border-radius: 45px;padding:3px;margin-bottom:25px}