.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .comms{background-color: #dcdcdc70;}
  .search{ 
    padding: 12px;}
  .updated{
    padding-bottom: 25px;
    padding-top: 25px;
    /* background-color: beige; */
    width: 95%;
    border-radius: 5px;
  }
  .ess{margin-left: 80px;}
  .sse{padding-top:20px;padding-bottom:20px}
  .unames{ color: #e7deea;
    font-size: 30px;
    text-transform: capitalize;border-bottom:2px solid white}
  .updateddiv{ color: black;margin-bottom: 48px;padding-bottom: 50px;}
    .upforms{background-color: rgb(150, 3, 3);
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 12px;
        text-align: center;}
      .upbuttons{color: #fff;
        background-color: #1a6db5;
        border-color: #122b40;
        padding-top: 5px;
        border-radius: 5px;
        width: 171px;
        padding-bottom: 5px;
        font-size: 15px;
        border: none;
        margin-left: 12px;
        margin-top: 50px;
    }
    .secno{color: #fff;
      background-color: #1a6db5;
      border-color: #122b40;
      padding-top: 6px;
      border-radius: 5px;
      width: 150px;
      padding-bottom: 10px;
      font-size: 15px;
      border: none;
      margin-left: 7px;}
      .bg{
       
        padding-bottom: 12px;
        background-color: #e8e6e56b;}
        .sidenav{ background-color: #00800021;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-right: 30px;}


/* ****************updates************* */
.dfs{
  border: 1px solid blue;
  padding: 10px;
  box-shadow: 10px 4px 14px 20px;
  margin-top: 50px
}
.lsd{color:blue}
.fb{    color: blue;
  font-size: 25px;}
  .whatsp{
      color: green;
      font-size: 25px
  }
  .twiter{color: #00d8ff;
      font-size: 25px}
  .inst{
      color: #ef6981;
      font-size: 25px
  }
  .proc{position: absolute;
      top: 50%;
      left: 10%;
       }
      .as{    text-align: center;
          margin-top: 14px;
          border: 1px solid;}
          .lsc{cursor: pointer;}
          .replys{color:red}
          .comentssuboit{margin-top: 40px;}
          .comentshow{cursor: pointer;}
          
          .alldivs{margin-bottom: 12px}
          .consts{    width: 100%;
              padding-bottom: 100px;
          }
              .u{background-color:rgba(128, 128, 128, 0.582)}
              .replyses{cursor: pointer;}
              
              .viedoes{    margin-top: 40px;
                  margin-bottom: 40px;}
                  /* ****************ful details************ */
                  .bghostels{
                    color: black;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 30px;
                    border-radius: 1%;
                }
                .fontsize{font-size: 12px;list-style: none}
                .bgimg{padding-bottom: 30px;margin-top:40px}
                .nones{list-style: none}
                .noness{color: red}
                .addresscap{text-transform: capitalize}
                .ads{
                    padding-top: 20px;
                    font-size: 25px;
                    color: black;
                    /* padding-bottom: 20px; */
                    font-weight: bolder
                }
                .e{background-image: url(/assets/images/e.png);
                    background-color: #cccccc;
                    background-repeat: repeat;
                    background-position: center;
                    margin-right: 0px;
                    color: antiquewhite;
                    padding-bottom: 15px;
                    margin-bottom: 12px;
                }
                .addimg{
                    padding: 15px;
                }
                .addimgs{
                    padding: 15px;
                    border: 1px solid #0000ff1a;
                }
                .sdsthree{
                    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
                }
                 
                .comments{
                    
                    background-image: url("/assets/images/des.png");
                    background-color: #cccccc;
                    background-repeat: repeat;
                    background-position: center;
                    /* margin-bottom: 90px; */
                    /* height: 500px; */
                  padding-top: 20px;
                  margin-top: 60px;
                }
                .vsb{
                    padding: 11px;
                    border-radius: 6px;
                    border: none;
                    width: 13%;
                    margin-bottom: 50px;
                }
                .commens{
                    margin-top: 40px;
                
                }
                .mat-form-field {
                  
                    width: 65% !important;
                }
                .profilepic{
                    margin:20px;
                }
                .profpag{
                    margin-left: 100px
                }
                .mainprog{
                    text-align: justify
                }
                .names{color: blue;font-size:20px;}
                .ds{
                
                }
                .times{margin-left: 30px}
                .imgadd{font-size: 50px;}
                .shares{font-size: 30px;
                    font-weight: 100;
                    color: blue;}
                
                    /* **************animations**************** */
                    .catog{
                        position: relative;
                        animation-name: catog;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        
                    }
                    
                    @keyframes catog{
                        0%{left:-1000px;}
                        100%{left:0;}
                    }
                 /* **************timings**************** */
                 .timings{
                    position: relative;
                    animation-name: catog;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    
                }
                
                @keyframes catog{
                    0%{left:-1000px;}
                    100%{left:0;}
                }
                /* **************images**************** */
                .images{
                    position: relative;
                    animation-name: catog;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    
                }
                
                @keyframes catog{
                    0%{left:-1000px;}
                    100%{left:0;}
                }
                /* **************addes**************** */
                .addes{
                    position: relative;
                    animation-name: catog;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    
                }
                
                @keyframes catog{
                    0%{left:-1000px;}
                    100%{left:0;}
                }
                /* **************mains**************** */
                .mains{
                    position: relative;
                    animation-name: catog;
                    animation-duration: 4s;
                    animation-fill-mode: forwards;
                    
                }
                .mainames{color: red;
                    font-size: 25px;
                    text-transform: capitalize;
                    font-weight: 300;}
                
                @keyframes catog{
                    0%{top:1000px;}
                    100%{top:0;}
                }
                /* **************mainss**************** */
                .mainss{
                    position: relative;
                    animation-name: catog;
                    animation-duration: 5s;
                    animation-fill-mode: forwards;
                    
                }
                
                @keyframes catog{
                    0%{right:1000px;}
                    100%{right:0;}
                }
                .cnames{
                    background: #ff9e00;
                    border-radius: 5px;
                    text-align: center;
                    font-size: 30px;
                    text-transform: capitalize;
                    color: white;
                    -webkit-box-shadow: 35px 28px 10px black;
                    box-shadow: 0px 18px 20px black;
                    padding: 12px;
                }
                .lasts{list-style: none}
                .coms{color: blue;}
                .indexs{background-color: dimgrey;
                    font-size: 25px;
                    text-align: center;}
                    .divtwo{
                        background-color: yellow
                    }
                    .divone{
                        background-color: green
                    }

                    /* *************************furnitures************************ */
                    .fnames{width:20px}
                    .fff{    width: 60px;
                        /* margin-right: 60px; */
                        margin-top: 12px;}
                    .profilesv{position: absolute;
                        right: 0;
                        top: 50px;
                        background-color: beige;
                        text-align: center;
                        /* margin-right: 42px; */
                        padding-bottom: 27px;
                        z-index:99999
                    }
                        .fnamess{
                            font-size: 11px;
    font-weight: bolder;
                        }
                        .sigbtn{
                            width: 120px;
                            padding: 8px;
                            border-radius: 5px;
                        }
                    .activities{box-shadow: -7px 8px 6px 7px;
                        background-color: burlywood;
                        border-radius: 12px;
                        border-bottom: 12px solid beige;margin-left: 25px;text-align: center
}
                  .acName{border-bottom: 4px solid gainsboro;
                    padding-bottom: 12px;}
                    .sidenavact{ margin-bottom: 12px;
                        background-color: #a52a2a7a;
                        font-weight: bolder;
                        margin-top: 12px;color: honeydew;cursor: pointer;}
                        .commm{list-style: none}
                        .gimages{background-color: blue;
                            width: 50%;
                            text-align: center;
                            font-size: 25px;
                            padding: 12px;
                            border-radius: 5px;
                            color: white;}
                            .imagesfur{width:30%}
                            .mars{margin-top:20px}
                            .yesT{    margin-top: 18px;
                                font-weight: bold;
                                text-shadow: -1px 4px 3px #968f8e;
                                font-size: 40px;}
                                .dropdown-menu{
                                    top: 1% !important;
                                  left: 15px !important;
                                  text-align: center;
                                  font-size: 15px;
                                  background: #846c4fba;
                                  cursor: pointer;
                                  color: white;
                              }
                                .locationsdrops{    border-bottom: 2px solid #00000024;
                                  padding: 7px;}
                                  .locationsdrops:hover{background-color: #ffca00;color: black}
                              