<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{datas.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{datas.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{datas.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{datas.emailid}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">

         <img src="{{furnitureuser.images2}}" class="img-circle"  style="width:45%">


  </div> 
 
 
</div>  

  </div>
</nav>








 
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="programInfrmations()">
            <h4> Your Program Information </h4>
        </div>
          <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                <h4> view   Updates ({{adminsupdateCommentsCountsall}})</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{adminCommentsCountsall}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="Feicilities()">
                        <h4> Post / View fecilities ({{adminCommentsCountsall}})</h4>
                    </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                     
      </div>
      <div class="col-sm-8">
<div class="col-sm-12" *ngIf="fecilitiese">
    <div class="col-sm-12">
        <h2> Post Fecilities</h2>
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter Type Of fecilities Descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="information">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter Type Of fecilities Name" [(ngModel)]="fec.fecilitiesName" name="descriptions">
                      </mat-form-field>
                 
                          
                   <hr/>
    <p>   fecilities Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFecilities($event,'images')" [(ngModel)]="serTwo.images"   class="updated" name="vehicleImg" >
    <hr/>
             
              <button class="btn-primary upbuttons" (click)="fecilities()"> submit </button>
         
    </div>

    <div class="col-sm-12">
            <h2>   View Fecilities ({{fecilitiesGetsCount}})</h2>
            <div class="col-sm-4" *ngFor="let tot of fecilitiesGets">
                <img src="{{tot.fecilitiesImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:200px"> 
        
                <h4> <b> Name : </b> {{tot.fecilitiesName}} </h4>
               <h4> <b> Descriptions : </b> {{tot.fecilitiesDescriptions}} </h4>
            </div>
        </div>

</div>

        <div class="col-sm-12" *ngIf="programInfo">
            <div class="col-sm-12">

<mat-form-field class="example-full-width">
        <input matInput placeholder="please enter program Information" [(ngModel)]="pro.programInformation" name="vehicleType">
      </mat-form-field>

  <hr/>
 
  <button class="btn-primary upbuttons" (click)="programInfromations()"> submit </button>
      
            </div>
            <div class="col-sm-12">
                    <h2> View Your program  information </h2>
                    <div class="col-sm-12" *ngFor="let item of programInfromationsGets" (click)="programInfromationsClick(item)">
                            <p> {{item.programInformation}} </p>
                                        </div>
                                        <div class="col-sm-12">
                                            <h2> Posts Sub Program informations </h2>
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="please enter Type Of information" [(ngModel)]="serTwo.information" name="information">
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="please enter Type Of descriptions" [(ngModel)]="serTwo.descriptions" name="descriptions">
                                                      </mat-form-field>
                                                 
                                                          
                                                   <hr/>
                                    <p>   Image </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputServicesTwo($event,'images')" [(ngModel)]="serTwo.images"   class="updated" name="vehicleImg" >
                                    <hr/>
                                             
                                              <button class="btn-primary upbuttons" (click)="updateServicesTwo()"> submit </button>
                                                  
                                        </div>


            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                        <h2> View Sub Program informations </h2>
                        <div class="col-sm-12" *ngFor="let item of programInfromationsGetsTwo">
                            <h4> {{item.information}} </h4>
                                <img src="{{item.images}}" alt="about us" style="width:100%;height:500px"> 
                                <p> {{item.information}} </p>
                        </div>
                </div>
            </div>
            

        </div>
       <div class="col-sm-12" *ngIf="showmains">
        <div class="catog">
          <div class="bgshostel">
             
                      <div class="col-sm-12 bghostels">
              
              <h2 class="cnames"> {{datas.centername}} </h2>
              <div class="col-sm-12 bgimg">
                  <img src="{{datas.images1}}" alt="about us" style="width:100%;height:500px"> 
              
              </div>
               
                  </div>
                  </div>
                   <div class="col-sm-12">
                          <div class="col-sm-12 timings">
                              <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
          <ul>
            <li class="nones"> {{datas.day1}} </li>
            <li class="nones"> {{datas.day2}} </li>
            <li class="nones"> {{datas.day3}} </li>
            <li class="nones"> {{datas.day4}} </li>
            <li class="nones"> {{datas.day5}} </li>
            <li class="nones"> {{datas.day6}}</li>
            <li class="nones"> {{datas.day7}} </li>
            <p class="noness"> {{datas.overalltimes}} </p>
          
          </ul>
          <hr/>
                          </div>
                          <hr>
                          <div class="col-sm-12 images">
                          <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                          <hr/>       
                         
                          
                          <ul>
                            
                      <li class="nones col-sm-12 addimgs"> <a href="{{datas.images1}}" target="_blank"><img src="{{datas.images1}}" alt="about us" style="width:100%">  </a></li>
                      <li class="nones col-sm-12 addimgs"> <a href="{{datas.images2}}" target="_blank">  <img src="{{datas.images2}}" alt="about us" style="width:100%"> </a> </li>
                      <li class="nones col-sm-12 addimgs">    <a href="{{datas.images3}}" target="_blank"><img src="{{datas.images3}}" alt="about us" style="width:100%"> </a> </li>
                      <li class="nones col-sm-12 addimgs"><a href="{{datas.images4}}" target="_blank"><img src="{{datas.images4}}" alt="about us" style="width:100%"> </a> </li>
                      <li class="nones col-sm-12 addimgs"> <a href="{{datas.images5}}" target="_blank"> <img src="{{datas.images5}}" alt="about us" style="width:100%"> </a> </li>
                      <li class="nones col-sm-12 addimgs"> <a href="{{datas.images6}}" target="_blank"> <img src="{{datas.images6}}" alt="about us" style="width:100%"> </a> </li>
            
           
                            </ul>
                            </div>
                            <hr/>
                            <div class="col-sm-12 e addes">
          
                                <h4 class="ads"> Address </h4> 
                                <hr/>
                                <div class="col-sm-12 cons">
                                       {{datas.area}} {{datas.area}}
                                       <br/>
                                      
                                       {{datas.landmark}}
                                       
                                       {{datas.place}}
                                       
                                      {{datas.city}}
                                      
                                      {{datas.distict}}
                                     
                                       {{datas.state}}
                                       <br/>
                                      
                                      {{datas.pincode}}
          
                              </div>
                
                            </div>
                         
                            <div class="col-sm-12 e addes">
                                <h4 class="ads"> Contact informations </h4> 
                                <hr/>
                                <div class="col-sm-12 cons">
                                    <span class="glyphicon glyphicon-phone-alt"> {{datas.officeno}} </span>
          
                                      <br>
                                      <span class="glyphicon glyphicon-earphone">  {{datas.mobileno}}  </span>
                                        <br>
                                        <i class="fa fa-whatsapp" aria-hidden="true">{{datas.whatsupno}} </i>
            
                                      <br>
                                      <i class="fa fa-envelope" aria-hidden="true"></i>
                                      {{datas.emailid}} 
                                      <br>
                                      <i class="fa fa-globe" aria-hidden="true"></i>
                                      <li><a>{{datas.refone}} </a></li>
                                      <li><a> {{datas.reftwo}} </a></li>
                                      <li><a>{{datas.refthree}} </a></li>
          
          
                                       
          
                                </div>
          
                              </div>
                          </div>
          
                          <div class="col-sm-12   mains">
                              <p> About Us </p>
          <div class="col-md-12">
              <img src="{{datas.images2}}" style="width:20%;height:180px" class="pull-left img-thumbnail img-rounded profilepic img-responsive">
              <p> <b> name: </b> <span class="names">{{datas.name}}</span> </p>
              <h6>  <b>  my profile : </b></h6>
          <p class="mainprog"> {{datas.description}}
               <br>
             <span class="profpag"> {{datas.description}} </span>
              </p>
              <hr/>
          </div>
          <div class="col-md-12 mainss">
              <h6> <b> Program informations : </b></h6>
              <h6>  <b>  infants : </b></h6>
              <img src="{{datas.images4}}" style="width:100%" class="pull-right img-thumbnail profilepic img-responsive">
             
          <p class="mainprog"> 
                  {{datas.infants}}
              </p>
              <hr/>
              <h6>  <b>  toddler : </b></h6>
              <img src="{{datas.images3}}" style="width:100%" class="pull-right img-thumbnail profilepic img-responsive">
              
             
          <p class="mainprog"> {{datas.tooddler}}
             
              </p>
              <hr/>
              <h6>  <b>  pre-school : </b></h6>
              <img src="{{datas.images5}}" style="width:100%" class="pull-right img-thumbnail profilepic img-responsive">
          
          <p class="mainprog"> {{datas.preschool}}</p>
              <hr/>
              <h6>  <b> schoolAge : </b></h6>
              <img src="{{datas.images6}}" style="width:100%" class="pull-right img-thumbnail profilepic img-responsive">
          
          <p class="mainprog">  {{datas.schoolage}}</p>
          </div>
          <div class="col-md-12 mainss">
                  <h6> <b> parents informations : </b></h6>
                  <p class="mainprog"> {{datas.descriptionone}}
               <br>
               {{datas.descriptiontwo}}
               <br>
               {{datas.descriptionthree}}
              </p>
                  <hr/>
              </div>
             
              <div class="col-md-12 mains">
                      <h6> <b> fecilities : </b></h6>
                      <table class="table fecit table-responsive">
                          
                            <tbody>
                              <tr>
                                <td>{{datas.fecilities1}} </td>
                                <td>{{datas.fecilities2}} </td>
                                <td>{{datas.fecilities3}} </td>
                              </tr>
                              <tr>
                                      <td>{{datas.fecilities4}} </td>
                                      <td>{{datas.fecilities5}} </td>
                                      <td>{{datas.fecilities6}} </td>
                              </tr>
                              <tr>
                                      <td>{{datas.fecilities7}} </td>
                                      <td>{{datas.fecilities8}} </td>
                                      <td>{{datas.fecilities9}} </td>
                              </tr>
                              <tr>
                                      <td>{{datas.fecilities10}} </td>
                                    <td>  {{datas.fecilities11}} :  
                                          <li> {{datas.fecilities12}} </li>   
                                          <li> {{datas.fecilities13}}</li>     
                                          </td>
                                  </tr>
                                 
                                      
                            </tbody>
                          </table>
                      <hr/>
                  </div>    
              </div>
          
</div>          
        
       </div>

       <div class="col-sm-12" *ngIf="updatesShows">
        <h1> This is Post Your Updates </h1>
        <div class="col-sm-12 search updateddiv">
                <div class="col-sm-12 upforms">
             <b class="unames"> update form: </b>
     
             <input type="file" #Image accept="image/*"  (change)="handleFileInputBabycares($event,'images')" placeholder="please enter image" [(ngModel)]="postupdatedataBabycares.images" class="updated" name="images" >
             <input type="file" #Image accept="video/*"  (change)="handleFileInputBabycaresv($event,'viedoes')" placeholder="please enter viedoes"  [(ngModel)]="postupdatedataBabycares.viedoes" class="updated" name="viedoes">
    
             <mat-form-field class="example-full-width">
              <input matInput placeholder="please enter your title" [(ngModel)]="postupdatedataBabycares.title" name="description">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedataBabycares.description" name="description">
                  </mat-form-field>
            <button class="btn-primary upbuttons" (click)="FurnituresUpdatePostData()"> submit </button>
           
        </div>

       
        
            </div>
         </div>

         <div class="col-sm-12" *ngIf="viewupdatesShows">
            <div class="col-sm-12">
                <h3> <b>Our Updates({{adminsupdateCommentsCountsall}})</b></h3>
                 
                    <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                       <div class="col-sm-12">
                           <p> {{item.createdAt | date: 'dd/MM/yyyy'}} </p>
                            <a href="{{item.images}}" target="_blank"> 
                                 <img src="{{item.images}}" alt="about us" style="width:100%; height:600px">
                            </a>

                          <div class="col-sm-12 viedoes" *ngIf="item.viedoes">
      
                          <video width="100%" height="400px" controls>
                                  <source src="{{item.viedoes}}" type="video/mp4">
                                  
                                  Your browser does not support the video tag.
                                </video>
                                </div>
                                <h3> {{item.title}} </h3>
                           <h6> {{item.description}} </h6>
                          <p> <span class="times">   {{item.createdAt | date: "shortTime"}} </span>  </p>  
        
                       </div>
                       <div class="col-sm-12" >         
                            <hr/>
                           
                             <!-- <div class="col-sm-3 lsc" (click)="showicons()">
                                <div class="col-sm-12">
                                    <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                                      share </p>
                                            
                                </div> 
                                </div> -->
          
                                <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                                    <p class="lsc"> {{adminsupdateCommentsCounts}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                                     <span class=""> comments </span> 
                                  </p>
                                </div>  
          
                                <div class="col-sm-12 consts">
                                <div class="col-sm-12 comentssuboit" *ngIf="shows && updatesup == item._id">
                                
                                  <div class="col-sm-12">
                       
                                              <a  class="replyses"><b> view comments( 5) </b></a> 
                                          </div>
                      
                                          <div class="col-sm-12">
                                                    <li *ngFor="let items of  adminsupdateComments" class="commm">
                                                            <h6> 
                                                               <br/>      
                                                         <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                                              {{items.descriptions}}  </h6>
                                                              <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b> 
                                                              <b>{{items.createdAt  | date: "shortTime"}}   </b>
                                                            <br/>
                                                            
                                                                  <button class="btn-primary" (click)="commentsReplyId(items._id)"> Give Reply </button> 
                                                              <br/>

                                                            <div class="col-sm-12" *ngIf="adminShows && replyId == items._id">
                                                                  <mat-form-field class="example-full-width">
                                                                          <textarea class="texts" matInput placeholder=" please give reply"  [(ngModel)]="updatesCommentsdataReplys.descriptions" name="descriptions" ></textarea>
                                                                        </mat-form-field>
                                                                        <button class="btn-primary" (click)="updatesAdminCommentsReply()"> submit </button>
                                                            </div>
                                                          
                                                           
                                                
                                                              <a class="replyses" (click)="updatesAdminReply(items._id)">
                                                                <b> reply from <span class="replys">
                                                                  {{datas.name}}:</span> </b></a>
                                                   
                                                 <div *ngIf="showess && selectedblogIds == items._id" class="u">
                      
                                                    <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                                        <b> {{replys.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  
                      
                                                     
                                                       <h6> <img src="{{datas.images2}}" class="img-circle" alt="about us" style="width:4%">
                                                         {{replys.descriptions}} </h6> 
                                                       <br/>
                                                       <b>{{replys.createdAt  | date: "shortTime"}}   </b> 
                                                      </ul> 
                                                  </div>      
                                                
                                                         </li>
                                                               
                                                          </div>
                                </div>
                                <div class="col-sm-12 proc" *ngIf="show">
                                      <div class="col-sm-1">
                                              <a href="https://www.facebook.com/" target="_blank">
                                          <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                                          </a>
                                      </div>
                                          
                                            <div class="col-sm-1">
                                                    <a href="https://www.whatsapp.com/" target="_blank">
                                                <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                                    </a>
                                          </div>
                                             <div class="col-sm-1">
                                               <a href="https://plus.google.com/discover" target="_blank">
                                               <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                                             </div>
                                 <div class="col-sm-1"> 
                                     <a href="https://twitter.com/login" target="_blank">
                                       <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
                                 </div>
                               <div class="col-sm-1"> 
                                  <a href="https://www.instagram.com/accounts/login/" target="_blank">
                                    <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
                                 </div>
                                </div>
                               
                                </div>
                               
                              </div>
                      
       
          </div> 
          </div>
           </div>

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
          
                <h1> Recieve Comments ({{adminCommentsCountsall}}) </h1>
        
                <table class="table">
                        <thead>
                          <tr>
                                <th>S no</th>
                            <th>Date & Time</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Leave Comments </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let com of onlyComments; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                            <td> {{com.name}}  </td>
                            <td>{{com.email}}</td>
                            <td>{{com.contactNo}}</td>
                            <td>{{com.leaveComment}}</td>
                          </tr>
                           
                        </tbody>
                      </table>
              </div>
       

       <div class="col-sm-12" *ngIf="ImagesShows">
        <div class="col-sm-12">
            <h3 class="gimages"> General Images </h3>
           
<div class="col-sm-4 mars">
<a href="{{datas.images1}}" target="_blank"> 
    <img src="{{datas.images1}}" alt="about us" style="width:100%;height:250px"> 
 </a>
</div>
<div class="col-sm-4 mars">
    <a href="{{datas.images2}}" target="_blank"> 
        <img src="{{datas.images2}}" alt="about us" style="width:100%;height:250px"> 
     </a>
 </div>
<div class="col-sm-4 mars">
        <a href="{{datas.images3}}" target="_blank"> 
            <img src="{{datas.images3}}" alt="about us" style="width:100%;height:250px"> 
         </a>
     </div>
    <div class="col-sm-4 mars">
            <a href="{{datas.images4}}" target="_blank"> 
                <img src="{{datas.images4}}" alt="about us" style="width:100%;height:250px"> 
             </a>
         </div>

        <div class="col-sm-4 mars">
                <a href="{{datas.images5}}" target="_blank"> 
                    <img src="{{datas.images5}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>

            <div class="col-sm-12">
                    <h1 class="gimages"> Update Images </h1>
                    <div class="col-sm-4 mars" *ngFor="let item of adminupdates">
                            <a href="{{item.images}}" target="_blank"> 
                                <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                             </a>
                         </div>
    
            </div>
           


            <div class="col-sm-12">
                    <h1 class="gimages"> Update Viedoes </h1>
<div class="col-sm-12" *ngFor="let item of adminupdates">
        
        <!-- <p> {{item.createdAt | date: 'dd/MM/yyyy'}} </p> -->
         
       <div class="col-sm-12 viedoes">

       <video width="100%"  controls>
               <source src="{{item.viedoes}}" type="video/mp4">
               
              </video>
             </div>
        
 
</div>
 </div>
  </div>
 </div>
 </div>  