 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>
      <div class="col-sm-12" *ngFor="let one of babycaresAddsOneLoc">
            <a href="{{one.addsOneLinkLoc}}">
            <img src="{{one.addsOneImgLoc}}" alt="about us" style="width:100%;height:200px">
            </a>  
            </div>
      <div class="col-sm-12">
            <img src="assets/images/f.jpg" alt="about us" style="width:100%;height:500px">
  
       </div>
       <div class="col-sm-12" *ngFor="let one of babycaresAddsTwoLoc">
            <a href="{{one.addsTwoLinkLoc}}">
            <img src="{{one.addsTwoImgLoc}}" alt="about us" style="width:100%;height:200px">
            </a> 
           </div>
<div class="panel panel-primary">
    <div class="panel-body">
   <div class="col-sm-12">
       <h2 class="catstyle"> {{catdeatils.categories}} </h2>
       <img src="{{catdeatils.images1}}" alt="about us" style="width:100%"> 
   </div>  
 
   </div>
 </div>
 <div class="col-sm-12 boxshaves">
        <div class="col-sm-3">
           <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{locationName}} <span class="caret"></span>
             </button>
             <ul class="dropdown-menu">
                 <li class="locationsdrops" *ngFor="let get of locationsgets" (click)="locations(get)">{{get.locations}}</li>
                 </ul> 
       </div>
     
       <div class="col-sm-9" *ngFor="let one of babycaresAddsThreeLoc">
           <a href="{{one.addsThreeLinkLoc}}">
           <img src="{{one.addsThreeImgLoc}}" alt="about us" style="width:100%;height:200px">
           </a> 
          </div>
        
</div>
 
<hr/>
<div class="container-fluid">
<div class="row">
 
  <div class="col-sm-3 s">
       <hr/>
        <div class="col-sm-12" *ngFor="let one of babycaresAddsOnes">
             <a href="{{one.addsOneLink}}">
              <img src="{{one.addsOneImg}}" alt="about us" style="width:100%;height:200px">
            </a> 
          </div>
          
          <div class="col-sm-12">
              <hr/>
        <h5 class="bg-primary cat"> Catagerious </h5>
         
      </div>
      <ul class="text-left">
             
          <li class="insidecap anchoas" *ngFor="let m of womensC"><a class="center anchoas"> {{m._id.bpCatageries}} ({{m.count}}) </a></li>
 
        </ul>
      <ul class="text-left">
            You Are In:
        <li class="insidecap"><a class="center areas anchoas"> {{catdeatils.categories}} </a></li>
       
      </ul>
      <div class="col-sm-12" *ngFor="let one of babycaresAddsTwos">
            <a href="{{one.addsTwoLink}}">
            <img src="{{one.addsTwoImg}}" alt="about us" style="width:100%;height:200px">
            </a>  
            </div>
      <hr/>
      <div class="col-sm-12">
            <h5 class="bg-primary cat insidecap"> popular Ladies Beauty Parlours Locations </h5>
        </div>    
        <hr/>
       
      <ul class="text-left">
        <li *ngFor="let loc of womensCo"><a class="anchoas"> 
          
          {{loc._id.distict}} ({{loc.count}})
         </a></li>
      </ul>
      <hr/>

      <h5 class="bg-primary cat insidecap"> popular Mens Beauty Parlour Locations </h5>
      <hr/>
      <ul class="text-left">
        <li *ngFor="let loc of mensC"><a class="anchoas"> 
          
          {{loc._id.distict}} ({{loc.count}})
         </a></li>
      </ul>
      <hr/>
      <div class="col-sm-12" *ngFor="let one of babycaresAddsThrees">
            <a href="{{one.addsThreeLink}}">
            <img src="{{one.addsThreeImg}}" alt="about us" style="width:100%;height:200px">
            </a>
             
            </div>
            <hr/>
          <div class="col-sm-12">
        <h5 class="bg-primary cat insidecap"> Area Related To You </h5>
      </div>     
         <hr/>

      <h6 class="insidecap"> your are in : <span class="areas"> {{locationName}} </span></h6>
      <h6 class="insidecap"> your are in : <span class="areas"> {{selectArea}} ({{areasCount}}) </span></h6>
      
       

      <ul class="text-left">
        <li *ngFor="let loc of clients" class="insidecap"><a class="anchoas"> {{loc.parlourName}} </a></li>
       
      </ul>
  
  
        <hr/>
        <div class="col-sm-12" *ngFor="let one of babycaresAddsFours">
            <a href="{{one.addsFourLink}}">
            <img src="{{one.addsFourImg}}" alt="about us" style="width:100%;height:200px">
            </a>
             
             </div> 
             
        
            <hr/>
            <div class="col-sm-12">
            <h5 class="bg-primary cat insidecap"> Popular Areas Related To You </h5>
          </div>
        <hr/>
      <ul class="text-left">
        <li *ngFor="let loc of subsArea"><a class="anchoas"> 
          {{loc._id.subArea}} ({{loc.count}})
         </a></li>
      </ul>
      <hr/>
     
      <h5 class="bg-primary cat"> other services </h5>
      <hr/>
      <ul class="text-left">
            <li> <a [routerLink]= "['/animals']" class=""> Animals </a></li>

            <li><a [routerLink]= "['/babycare']" class=""> Baby Care </a></li>
            <li><a [routerLink]= "['/beautyparlour']" class=""> Beauty Parlour </a></li>
            <li><a [routerLink]= "['/dance']" class=""> Dance Institutions </a></li>
            <li><a [routerLink]= "['/drivingSchools']" class=""> Driving Schools </a></li>
            <li><a [routerLink]= "['/fight']" class=""> Fight Institutions </a></li>
            <li><a [routerLink]= "['/fireWorks']" class=""> Fire Works </a></li>
            <li><a [routerLink]= "['/halls']" class=""> Function Halls / Banquet Halls </a></li>
            <li><a [routerLink]= "['/furnitures']" class=""> Furnitures </a></li>
            <li><a [routerLink]= "['/gym']" class=""> Gym / Fitness Centers </a></li>
            <li><a [routerLink]= "['/hostelcatageries']" class=""> Hostels </a></li>
            <li><a [routerLink]= "['/indoorgames']" class=""> Indoor Games </a></li>
            <li><a [routerLink]= "['/marriagebureaus']" class=""> Marriage Bureaus </a></li>
            <li><a [routerLink]= "['/music']" class=""> Music Institutions </a></li>
            <li><a [routerLink]= "['/outdoorgames']" class=""> Outdoor Games </a></li>
            <li> <a [routerLink]= "['/pa']" class=""> Plants </a></li>
            <li> <a [routerLink]= "['/packersMovers']" class=""> Packers & Movers </a></li>
            <li> <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="home">Professional Institutions </a>
            </li>
                      <li> <a [routerLink]= "['/realestate']" class=""> Real Estate  </a></li>
                      <li> <a [routerLink]= "['/restaurants']" class=""> Restaurants </a></li>
                      <li> <a [routerLink]= "['/swimming']" class=""> Swmming Pools </a></li>
                      <li> <a [routerLink]= "['/tutions']" class=""> tution Centers </a></li> 
    
        </ul>
  </div>

  <!-- **************************next middle box************************** -->
  <div class="col-sm-9 boxshaves">
       
            
      
     <div class="col-sm-3">
            <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectArea}}  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li class="locationsdrops insidecap" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
                  </ul> 
        </div>
             
        <div class="col-sm-8 adjes">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="search by name / area / pincode" (ngModelChange)="searchFilter()" [(ngModel)]="searchString" name="searchString">
                </mat-form-field>
                
             </div> 
                 <div class="col-sm-12" *ngFor="let one of babycaresAddsFoursLoc">
                <a href="{{one.addsFourLinkLoc}}">
                <img src="{{one.addsFourImgLoc}}" alt="about us" style="width:100%;height:200px">
                </a> 
                </div>
<div class="col-md-12 col-xs-12 insidecap">
    <div class="col-sm-12" *ngFor="let item of clients">
        <a [routerLink]="['/beautyparlour/parlourdetails',item._id,item.parlourName]">

        <div class="panel panel-primary dff boxshaws">
                <p class="text-center"> {{catdeatils.categories}}  : <b class="side">  {{item.parlourName}} </b></p>

             <div class="panel-body dffff">
            <div class="col-sm-5 imgs">
                <img src="{{item.images1}}" alt="about us" style="width:100%; height: 180px;"> 
            </div>  
            <div class="col-sm-7 mains">
              <p> contact number : <b class="sides"> {{item.mobileNo}} </b></p>
              <p> WhatsApp number : <b class="sides"> {{item.whatsupno}} </b></p>
              <p> sub-area: <b class="sides">  {{item.subArea}} </b></p>
              <p class="normaldetails"> landmark: <b class="sides">  {{item.landmark}} </b></p>
                <p> pincode : <b class="sides">  {{item.pincode}} </b></p>
              <p class="moresde"> more details..</p>

            </div>
            </div>
          </div>
</a>
        </div>
 
</div>
<div class="col-sm-12" *ngFor="let one of babycaresAddsFivesLoc">
    <a href="{{one.addsFiveLinkLoc}}">
    <img src="{{one.addsFiveImgLoc}}" alt="about us" style="width:100%;height:200px">
    </a> 
    </div>
</div>
</div>
</div>
 
<div class="col-sm-12 footerback">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="col-sm-8">
        
        <div class="col-sm-4">
         <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
     
          <h3>  Advertises  </h3>
        </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class="col-sm-4">
        <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="homes">
     
          <h3> Feedback   </h3>
      </a>
    </div>
      </div>
     <div class="col-sm-8 catas">
        <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                Animals  
        </a>
         /  
         <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
    
             Baby Care Centers  
        </a>
         /  
         <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
    
          Beauty Parlour   </a>
          /  
         <a [routerLink]= "['/classifieds']" routerLinkActive="active-link" class="homes">
    
             Yes Telangana Services Classifieds 
        </a>
         / 
         
         <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
    
            Dance   </a>
             / 
             <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
              Driving Schools  
           </a> 
           / 
             
           <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
               Fights Institutions 
           </a> 
           /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
              Fire Works  
           </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
      
               Function Halls 
          </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
      
               Furnitures  
          </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
      
             GYM  
          </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
              Hostels 
          </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
             Indoor Games  
           </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
        
              Marriage Bureaus  
          </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
    
               Music  Institutions
          </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
              Outdoor Games  
           </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
      
             Plants  
          </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
               Packers and Movers  
           </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
               Professional Insitutions  
           </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
      
             Real Estate 
          </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
    
              Restaurants  
          </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
    
       Swimming Pools  
          </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
               Tutions  Centers  
          </a>
        
     </div>
     <div class="col-sm-8 locationcs">
       <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
     </div>

     <div class="col-sm-6">
      
      <h3> Keep in touch </h3>
      <div class="col-sm-2">
        <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
</div>

<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>


      </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
    </div>
  </div>