
<div class="col-sm-12">
  <h2>Feedbacks</h2> 
<div class="col-sm-12" *ngFor="let one of feedback;index as i">
          <h3> {{i+1}} </h3>
          <h6> City :{{one.city}} </h6>
          <h6> Text : {{one.text}} </h6>

    </div>
  </div>

  <div class="col-sm-12">
      <h2>Adds view </h2> 
    <div class="col-sm-12" *ngFor="let one of add;index as i">
      <h3> {{i+1}} </h3>
        <h6> company Name :{{one.companyName}} </h6>
          <h6> first Name : {{one.firstName}} </h6>
          <h6> last name :{{one.lastName}} </h6>
          <h6> city : {{one.city}} </h6>
          <h6> mobile no :{{one.mobileNo}} </h6>
          <h6> landline no : {{one.landLineNo}} </h6>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <h2> Adds One Post</h2>
  
         <input type="file" #Image accept="image/*"  (change)="handleFileInputaOne($event,'images1')" placeholder="please enter image1" [(ngModel)]="aone.images1" class="updated" name="images" >

         <button class="btn-primary upbuttons" (click)="addsOne()"> submit </button>
        
          <h2> Adds One View</h2>
          <div class="col-sm-4" *ngFor="let one of asone">
               
                  <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                  
                  <button class="btn-primary upbuttons" (click)="addsonedelete(one)"> Delete </button>
        
         
          </div>
       
        </div>
        <div class="col-sm-6">
            <h2> Adds Two Post</h2>
    
           <input type="file" #Image accept="image/*"  (change)="handleFileInputatwo($event,'images1')" placeholder="please enter image1" [(ngModel)]="atwo.images1" class="updated" name="images" >
  
           <button class="btn-primary upbuttons" (click)="addstwo()"> submit </button>
          
            <h2> Adds two View</h2>
            <div class="col-sm-4" *ngFor="let one of astwo">
            <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <button class="btn-primary upbuttons" (click)="addstwodelete(one)"> Delete </button>

            </div>
          </div>
     

      <div class="col-sm-6">
          <h2> Adds Three Post</h2>
  
         <input type="file" #Image accept="image/*"  (change)="handleFileInputathree($event,'images1')" placeholder="please enter image1" [(ngModel)]="athree.images1" class="updated" name="images" >

         <button class="btn-primary upbuttons" (click)="addsthree()"> submit </button>
        
          <h2> Adds three View</h2>
          <div class="col-sm-4" *ngFor="let one of asthree">
          <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
          <button class="btn-primary upbuttons" (click)="addsthreedelete(one)"> Delete </button>

          </div>
        </div>
    
        <div class="col-sm-6">
            <h2> Adds Four Post</h2>
    
           <input type="file" #Image accept="image/*"  (change)="handleFileInputafour($event,'images1')" placeholder="please enter image1" [(ngModel)]="afour.images1" class="updated" name="images" >
  
           <button class="btn-primary upbuttons" (click)="addsfour()"> submit </button>
          
            <h2> Adds four View</h2>
            <div class="col-sm-4" *ngFor="let one of asfour">
            <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <button class="btn-primary upbuttons" (click)="addsfourdelete(one)"> Delete </button>

            </div>
          </div>

          <div class="col-sm-6">
              <h2> Adds Five Post</h2>
      
             <input type="file" #Image accept="image/*"  (change)="handleFileInputafive($event,'images1')" placeholder="please enter image1" [(ngModel)]="afour.images1" class="updated" name="images" >
    
             <button class="btn-primary upbuttons" (click)="addsfive()"> submit </button>
            
              <h2> Adds five View</h2>
              <div class="col-sm-4" *ngFor="let one of asfive">
              <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
              <button class="btn-primary upbuttons" (click)="addsfivedelete(one)"> Delete </button>

              </div>
            </div>

            <div class="col-sm-6">
                <h2> Adds six Post</h2>
        
               <input type="file" #Image accept="image/*"  (change)="handleFileInputasix($event,'images1')" placeholder="please enter image1" [(ngModel)]="asix.images1" class="updated" name="images" >
      
               <button class="btn-primary upbuttons" (click)="addssix()"> submit </button>
              
                <h2> Adds six View</h2>
                <div class="col-sm-4" *ngFor="let one of assix">
                <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                <button class="btn-primary upbuttons" (click)="addssixdelete(one)"> Delete </button>

                </div>
              </div>

              <div class="col-sm-6">
                  <h2> Adds seven Post</h2>
          
                 <input type="file" #Image accept="image/*"  (change)="handleFileInputaseven($event,'images1')" placeholder="please enter image1" [(ngModel)]="aseven.images1" class="updated" name="images" >
        
                 <button class="btn-primary upbuttons" (click)="addsevens()"> submit </button>
                
                  <h2> Adds seven View</h2>
                  <div class="col-sm-4" *ngFor="let one of asseven">
                  <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                  <button class="btn-primary upbuttons" (click)="addssevendelete(one)"> Delete </button>

                  </div>
                </div>

                <div class="col-sm-6">
                    <h2> Adds eight Post</h2>
            
                   <input type="file" #Image accept="image/*"  (change)="handleFileInputaeight($event,'images1')" placeholder="please enter image1" [(ngModel)]="aeight.images1" class="updated" name="images" >
          
                   <button class="btn-primary upbuttons" (click)="addseight()"> submit </button>
                  
                    <h2> Adds eight View</h2>
                    <div class="col-sm-4" *ngFor="let one of aseight">
                    <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <button class="btn-primary upbuttons" (click)="addseightdelete(one)"> Delete </button>

                    </div>
                  </div>


                  <div class="col-sm-6">
                      <h2> Adds nine Post</h2>
              
                     <input type="file" #Image accept="image/*"  (change)="handleFileInputanine($event,'images1')" placeholder="please enter image1" [(ngModel)]="anine.images1" class="updated" name="images" >
            
                     <button class="btn-primary upbuttons" (click)="addsnine()"> submit </button>
                    
                      <h2> Adds nine View</h2>
                      <div class="col-sm-4" *ngFor="let one of asnine">
                      <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;">
                      <button class="btn-primary upbuttons" (click)="addsninedelete(one)"> Delete </button>
 
                      </div>
                    </div>

                    <div class="col-sm-6">
                        <h2> Adds ten Post</h2>
                
                       <input type="file" #Image accept="image/*"  (change)="handleFileInputaten($event,'images1')" placeholder="please enter image1" [(ngModel)]="aten.images1" class="updated" name="images" >
              
                       <button class="btn-primary upbuttons" (click)="addsten()"> submit </button>
                      
                        <h2> Adds ten View</h2>
                        <div class="col-sm-4" *ngFor="let one of asten">
                        <img src="{{one.images1}}" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <button class="btn-primary upbuttons" (click)="addstendelete(one)"> Delete </button>

                        </div>
                      </div>

      </div>
