/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.c{border: 1px solid red}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-form-field {
   width: 100% !important;
}
.allsdivs{  margin-right: 75px;}
/* *****************************************footer css *************************** */
.footerback{    background: rgb(10, 10, 10);color: white;padding-top: 50px;}
.homes{color:white}
    /* ****************************************************************** */
   .fb{color: blue; font-size: 40px;}
    .whatsp{ color: green; font-size: 37px; }
    .twiter{color: #00d8ff; font-size: 40px;}
    .inst{ color: #ef6981; font-size: 40px; }
    .lsc{cursor: pointer;}

    /* ************************nav bar *****************/
.bg{  padding-bottom:60px;   background-color: #e8e6e56b;}
.mars{margin-top:20px}
     .fff{ width: 60px; /* margin-right: 60px; */  margin-top: 12px;}
        .lsc{cursor: pointer;}
        .profilesv{position: absolute; right: 0; top: 45px;text-align: center; /* margin-right: 42px; */ padding-bottom: 27px;  z-index:99999  }
            .fnamess{ font-size: 11px;font-weight: bolder; }
            .sigbtn{  width: 120px;  padding: 8px; border-radius: 5px;  }
        .activities{box-shadow: -7px 8px 6px 7px; background-color: burlywood; border-radius: 12px;  border-bottom: 12px solid beige;margin-left: 25px;text-align: center }
      .acName{border-bottom: 4px solid gainsboro;  padding-bottom: 12px;}
        .sidenavact{ margin-bottom: 12px; background-color: #a52a2a7a; font-weight: bolder;  margin-top: 12px;color: honeydew;cursor: pointer;}
            .commm{list-style: none}
            .gimages{background-color: blue;  width: 50%;  text-align: center; font-size: 25px;  padding: 12px; border-radius: 5px; color: white;}
                .imagesfur{width:30%}
 /* ***************************************/