/* ************************nav bar *****************/
.bg{  padding-bottom:60px;   background-color: #e8e6e56b;}
.mars{margin-top:20px}
     .fff{ width: 60px; /* margin-right: 60px; */  margin-top: 12px;}
        .lsc{cursor: pointer;}
        .profilesv{position: absolute; right: 0; top: 45px;text-align: center; /* margin-right: 42px; */ padding-bottom: 27px;  z-index:99999  }
            .fnamess{ font-size: 11px;font-weight: bolder; }
            .sigbtn{  width: 120px;  padding: 8px; border-radius: 5px;  }
        .activities{box-shadow: -7px 8px 6px 7px; background-color: burlywood; border-radius: 12px;  border-bottom: 12px solid beige;margin-left: 25px;text-align: center }
      .acName{border-bottom: 4px solid gainsboro;  padding-bottom: 12px;}
        .sidenavact{ margin-bottom: 12px; background-color: #a52a2a7a; font-weight: bolder;  margin-top: 12px;color: honeydew;cursor: pointer;}
            .commm{list-style: none}
            .gimages{background-color: blue;  width: 50%;  text-align: center; font-size: 25px;  padding: 12px; border-radius: 5px; color: white;}
                .imagesfur{width:30%}


                .locationcs{margin-top: 40px;margin-bottom: 40px;}
                .searchdiv{height:800px;overflow:scroll;margin-bottom:20px}
                .status{background-color: green;font-size: 16px;color: green;border-radius: 28px;margin-right: 18px;}
                .statusall{text-transform: capitalize}
                
                    .dropdown-menu{
                        top: 1% !important;
                      left: 15px !important;
                      text-align: center;
                      font-size: 15px;
                      background: #846c4fba;
                      cursor: pointer;
                      color: white;
                  }
                    .locationsdrops{    border-bottom: 2px solid #00000024;
                      padding: 7px;}
                      .locationsdrops:hover{background-color: #ffca00;color: black}
                      .mains{ background-color: brown;  color: white;  padding: 12px; font-size: 30px;  text-transform: capitalize; cursor: pointer;}
                      .mains:hover{ background-color: rgb(82, 3, 3);  color: white;  padding: 12px; font-size: 30px;  text-transform: capitalize; cursor: pointer;}
                      .bnts{    width: 150px;padding: 12px;text-transform: capitalize;font-size: 15px;}