<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT"> YES TELANGANA </a>
          </div>
          <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewProfile()"><a  class=""> 
                        <img src="{{musicDetailsClients.images2}}" class="img-circle"  style="width:100%">  </a></li>
      
      
                
              </ul>
           <!-- <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewnoti()"><a  class=""> 
                        <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
      </ul> -->
             
      <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
         <div class="col-sm-12">
      
                <img src="{{musicDetailsClients.images2}}" class="img-circle"  style="width:45%">
         </div>
         <div class="col-sm-12">
                <div class="col-sm-12">
                        <h5 class="fnamess">    {{musicDetailsClients.name}}</h5>
                 </div>
               
                 <div class="col-sm-12">
                        <p>   {{musicDetailsClients.emailId}}</p>
                 </div>
                
         </div>
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
         </div>
        
      </div>
      
      
      <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
        <div class="col-sm-12">
      
               <img src="{{musicDetailsClients.images2}}" class="img-circle"  style="width:45%">
       </div> 
        
      </div>  
      
        </div>
      </nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities">

            <h3 class="acName"> <b> Activities </b></h3>

            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>

              <div class="col-sm-12 sidenavact" (click)="ServiceShow()">
                    <h4> Post / View services </h4>
                </div>

                <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                        <h4>  Post / View Ficilities  </h4>
                    </div>

            <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post / View Updates</h4>
            </div>
          
             

           

                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
 
                    <h4> Galleries </h4>
                   
                </div>

              <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> Recieve Comments ({{gcommc}})</h4>
                  </div>
           </div>


      <div class="col-sm-8 ">
         <div class="col-sm-12" *ngIf="showmains">
         <div class="catog">
    <div class="bgshostel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 bghostels">
        
                  
                    <h2 class="cnames"> {{musicDetailsClients.instName}} </h2>    
                    <div class="col-sm-12 bgimg">
                        <img src="{{musicDetailsClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                    
                    </div>
          </div>
            </div>
            </div>
            </div>

            <!-- *********************about us*********************** -->
     <div class="bgimgses">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 mains">
  
              
  <div class="col-md-12">
  <img src="{{musicDetailsClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
    
  <hr/>
  </div>
  </div>
  <div class="col-sm-6 mains">
  
      
  <div class="col-md-12">
      <p class="aboutus"> About Us  </p>
      <p class="aboutuso">  {{musicDetailsClients.aboutUseDes1}}</p>
      <p class="aboutust"> {{musicDetailsClients.aboutUseDes2}} </p>
  <hr/>
  <h3 class="aboutusts"> <b> {{musicDetailsClients.name}} </b></h3>
  <hr/>
  </div>
  </div>
      </div>
    </div>
  </div>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-12 timings">
                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
    <ul>
      <li class="nones"> {{musicDetailsClients.day1}} </li>
      <li class="nones"> {{musicDetailsClients.day2}} </li>
      <li class="nones"> {{musicDetailsClients.day3}} </li>
      <li class="nones"> {{musicDetailsClients.day4}} </li>
      <li class="nones"> {{musicDetailsClients.day5}} </li>
      <li class="nones"> {{musicDetailsClients.day6}} </li>
      <li class="nones"> {{musicDetailsClients.day7}} </li>
      <li class="nones"> Hours of Operations : <span class="timing"> {{musicDetailsClients.allTimes}} </span> </li>
    </ul>
    <hr/>
                    </div>
                  
                      <hr/>
                      <div class="col-sm-12 e addes">
  
                          <h4 class="ads"> Address </h4> 
                          <hr/>
                          <div class="col-sm-12 cons addresscap">
                             H No:{{musicDetailsClients.houseNo}} , {{musicDetailsClients.subArea}},{{musicDetailsClients.landmark}},{{musicDetailsClients.city}}
                             {{musicDetailsClients.distict}},
                              {{musicDetailsClients.state}},
                              {{musicDetailsClients.pincode}}
                        </div>
          
                      </div>
                   
                      <div class="col-sm-12 e addes">
                          <h4 class="ads"> Contact informations </h4> 
                          <hr/>
                          <div class="col-sm-12 cons">
    <p>  
        <span class="glyphicon glyphicon-phone-alt"> office no: {{musicDetailsClients.officeNo}} 
        
    </span>
     </p>
                                <br>
      <p> 
           <span class="glyphicon glyphicon-earphone">
                 Mobile No: {{musicDetailsClients.mobileNo}} 
          </span></p>
                                  <br>
              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                   whatsapp No: {{musicDetailsClients.whatsupno}} </i></p>
                                                            <br>
                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{musicDetailsClients.emailId}} </i>
                               
                              </p> 
                                <br>
                                
                          </div>
    
                        </div>
                    </div>
    <div class="col-sm-9 divb">
       <div class="col-sm-12">
         <h2> Our Team Members </h2>
         <img src="{{musicDetailsClients.images3}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">

            </div>
            <h4><b> Our Team Works : </b><span class="teams"> {{musicDetailsClients.ourTeam}} </span></h4>
            <h4><b> Team Members Names : </b> <span class="teams">    {{musicDetailsClients.teamMembersNames}} </span></h4>
            <h4><b> Team Descriptions : </b> <span class="teams">  {{musicDetailsClients.teamDescriptions}} </span></h4>
       </div>
      
        

    </div>
  </div>
 

  </div>

         </div>
  
         <div class="col-sm-12" *ngIf="updatesShows">
             <!-- ******************* UPDATES PRESENT ********************************* -->
  
 <div class="col-sm-12">
        <div class="col-sm-12">
                <h3> Post Updates </h3>

                <div class="col-sm-12">
                         
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.descriptions" name="descriptions">
                                  </mat-form-field>
                                 
          
<p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesI($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
<p> Vidoes </p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdatesV($event,'viedoes')" placeholder="please enter images1" class="updated" name="viedoes" >

                <button class="btn-primary upbuttons" (click)="updatesPostDatas()"> submit </button>
                    
                </div>
        </div>
        <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
          <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
            <div class="col-sm-12">
                <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                  <a> 
                      <img src="{{up.images}}" alt="about us" style="width:100%"></a>
            </div>
      
      
            <div class="col-sm-12 viedoes">
                <video width="100%" height="400px" controls>
                    <source src="{{up.viedoes}}" type="video/mp4">
                   </video>
              </div>
          
              <div class="col-sm-12">
                  <h3> {{up.title}} </h3>
                  <h6> {{up.descriptions}} </h6>
               </div>
      
               <!-- <div class="col-sm-3" (click)="shareClick(up)">
                      <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                        share </p>
                   </div> -->
                  <div class="col-sm-3" (click)="commentsClick(up)">
                      <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                        <span class=""> comments </span> 
                     </p>
              </div>
              <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                  <div class="col-sm-1">
                      <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                  </a>
              </div>
                  
                    <div class="col-sm-1">
                            <a href="https://www.whatsapp.com/" target="_blank">
                        <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                            </a>
                  </div>
                     <div class="col-sm-1">
                       <a href="https://plus.google.com/discover" target="_blank">
                       <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                     </div>
         <div class="col-sm-1"> 
             <a href="https://twitter.com/login" target="_blank">
               <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
         </div>
       <div class="col-sm-1"> 
          <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
         </div>
              </div>
          
            <div class="col-sm-12">
                <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                    
                  <div class="col-sm-12">
                    <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
                </div>
              </div>
       
        <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
      <div class="col-sm-12" *ngFor="let comms of getUsersComments">
        <div class="col-sm-12 userscomm">
        <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                         <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                          <h6>  {{comms.descriptions}} </h6> 
       </div>                  
                      <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                              <a class="replyses">
                                  <b class="replies lsc"> reply   </b></a>
                          </div> 
                       
      
      
          <div  class="u" *ngIf="replyfrom && replyid == comms._id">
                <mat-form-field class="example-full-width">
                        <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                      </mat-form-field>
                      <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
            <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
                <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
           <img src="{{musicDetailsClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
              {{musicDetailsClients.name}}:</span>
             <h6> {{rep.descriptions}} </h6> 
             </div> 
             </div> 
      
            </div>
          </div>
      </div>
            </div>
          </div>
               
                     <!-- **************************************************** -->
                
         
      
           </div>
  
           <div class="col-sm-12" *ngIf="serviceShows">
              <div class="col-sm-12">
                    <h2> Post Catagories </h2>
                    <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your Music Catatgories" [(ngModel)]="musicCat.musicCatatgeries" name="descriptions">
                    </mat-form-field>
            
                           
            
            <p> Music images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputCat($event,'musicImg')" placeholder="please enter images1" [(ngModel)]="musicCat.musicImg" class="updated" name="masterImg" >
            
            <button class="btn-primary upbuttons" (click)="updatesPostDataCat()"> submit </button>
                 
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{catageriesDanceName}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li class="locationsdrops" *ngFor="let get of catageriesGetss" (click)="catageriesGetClick(get)">{{get.musicCatatgeries}}</li>
                          </ul> 
                </div>

                <div class="cols-m-12">
                    <h2> Post Services Two Form  </h2>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your masterName" [(ngModel)]="ser.masterName" name="descriptions">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your descriptions" [(ngModel)]="ser.descriptions" name="descriptions">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your year Of Exp" [(ngModel)]="ser.yearOfExp" name="descriptions">
                      </mat-form-field>

  <p> master Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputTwo($event,'masterImg')" [(ngModel)]="ser.masterImg" placeholder="please enter images1" class="updated" name="images1" >
  <p> Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesITwo($event,'images')" [(ngModel)]="ser.images"  placeholder="please enter images1" class="updated" name="images1" >
<p> viedoes </p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdatesVTwo($event,'viedoes')" [(ngModel)]="ser.viedoes" placeholder="please enter images1" class="updated" name="viedoes" >

                <button class="btn-primary upbuttons" (click)="servicesTwoPosts()"> submit </button>
                       
                </div>
              </div>
              <div class="col-sm-12">
                  <div class="col-sm-12" *ngFor="let get of serviceTwoGets">
                      <div class="col-sm-12">
                            <img src="{{get.images}}" alt="about us" style="width:100%;height:250px"> 

                      </div>
<div class="col-sm-4">
        <img src="{{get.masterImg}}" alt="about us" style="width:100%;height:250px"> 
</div>
<div class="col-sm-4">
 <h4> <b> Master Name :  </b> {{get.masterImg}} </h4>
 <h4> <b> year Of Exp :  </b> {{get.yearOfExp}} </h4>
  <p> {{get.descriptions}} </p>
</div>

<div class="col-sm-6 mars">
                 <video width="100%" controls>
                        <source src="{{get.viedoes}}" type="video/mp4">
                        
                       </video> 
          
    </div>
                  </div>
              </div>

              
             </div>
  
              <div class="col-sm-12" *ngIf="onlyCommentsShows">
                    <div class="col-sm-12">
                            <h2> General Comments ({{gcommc}})</h2>
                            <table class="table table-hover">
                                <thead>
                           
                                        <tr class="insidecap tablessc">
                                              
                                                <th> Name</th>
                                                <th class="standards"> email </th>
                                                <th>contactNo</th>
                                                <th> Posted on Date </th>
                                                <th> Time </th>
                                               </tr>
                                      </thead>
                            <tbody>
                              <tr *ngFor="let s of gcomm">
                                 <td><p> {{s.name}}</p></td>
                                <td><p> {{s.email}}</p></td>
                                <td><p> {{s.contactNo}} </p></td>
                                <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                                <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
                          
                              </tr>
                              
                            </tbody>
                          </table>
                          
                         </div>
         </div>
  
         <div class="col-sm-12" *ngIf="ImagesShows">
                <div class="col-sm-12">
                        <h3 class="gimages"> General Images </h3>
                       
          <div class="col-sm-4 mars">
            <a href="{{musicDetailsClients.images1}}" target="_blank"> 
                <img src="{{musicDetailsClients.images1}}" alt="about us" style="width:100%;height:250px"> 
             </a>
          </div>
          <div class="col-sm-4 mars">
                <a href="{{musicDetailsClients.images2}}" target="_blank"> 
                    <img src="{{musicDetailsClients.images2}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
            <div class="col-sm-4 mars">
                    <a href="{{musicDetailsClients.images3}}" target="_blank"> 
                        <img src="{{musicDetailsClients.images3}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
                <div class="col-sm-4 mars">
                        <a href="{{musicDetailsClients.images4}}" target="_blank"> 
                            <img src="{{musicDetailsClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                         </a>
                     </div>
          
                    <div class="col-sm-4 mars">
                            <a href="{{musicDetailsClients.images5}}" target="_blank"> 
                                <img src="{{musicDetailsClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                             </a>
                         </div>
          
                        <div class="col-sm-12">
                                <h1 class="gimages"> Update Images </h1>
                                <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                        <a href="{{item.images}}" target="_blank"> 
                                            <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                         </a>
                                     </div>
                
                        </div>
                         <div class="col-sm-12">
                                <h1 class="gimages"> Update Viedoes  </h1>
                                <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                        <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                        <a href="{{pro.viedoes}}" target="_blank"> 
                                                <video width="100%" controls>
                                                        <source src="{{pro.viedoes}}" type="video/mp4">
                                                        
                                                       </video> 
                                                          
                                         </a>
                                    </div>
                         </div>
                      
 
                </div>
           </div>
  
           <div class="col-sm-12" *ngIf="ProductsShows">
                <div class="col-sm-12">
                        <h2> Post / View Ficilities </h2>
                    </div>
       
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                               <h4 class="headings"> Post Ficilities </h4>
                               <div class="col-sm-12">
                                        <div class="col-sm-12">
                                               <mat-form-field class="example-full-width">
                                                       <input matInput placeholder="please enter your name" [(ngModel)]="fec.name" name="name">
                                                     </mat-form-field>
                                                     <mat-form-field class="example-full-width">
                                                           <input matInput placeholder="please enter your importants Key" [(ngModel)]="fec.importantsKey" name="importantsKey">
                                                         </mat-form-field>              
                                           <mat-form-field class="example-full-width">
                                               <input matInput placeholder="please enter your descriptions" [(ngModel)]="fec.descriptions" name="descriptions">
                                             </mat-form-field>
 
                                              
                         
                         <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFec($event,'images1')" placeholder="please enter images1" [(ngModel)]="fec.images" class="updated" name="images1" >
                          
                             <button class="btn-primary upbuttons" (click)="updatesPostDataFec()"> submit </button>
                                 
                             </div>
                                     </div>
                       </div>
                       <div class="col-sm-12">
                            <h4 class="headings"> View Ficilities ({{fecilitiesc}}) </h4>
                       </div>
                       
                       <div class="col-sm-12"  *ngFor="let get of fecilities;index as i" (click)="cageries(get)">
                            <div class="col-sm-12">
                                    <h4 class="d">   Posted On : {{get.createdAt | date: 'dd/MM/yyyy'}} {{get.createdAt  | date: "shortTime"}}  </h4>
                                </div> 
                        <div class="col-sm-12">
                                <h4> <b>  {{i+1}} </b></h4>
                        </div>      
                        <div class="col-sm-6">
                                    <img src="{{get.images}}" class="img-thumbnail" alt="Nature" style="width:100%;height:300px">
                               </div>
                               <div class="col-sm-6">
                                    <h4> <b> Name : </b> <span class="mainSer"> {{get.name}} </span></h4>
                                     <h4> <b> ImportantsKey : </b> <span class="mainSer"> {{get.name}} </span></h4>
                                     <h4> <b> Descriptions : </b> <span class="mainSer"> {{get.descriptions}} </span></h4>
                                </div>
                            </div>
                       
                        </div>
                 </div>
            </div>  
      </div>
    </div>
  